/*───────────────────────────────────────────────────────────

	 레이아웃   

───────────────────────────────────────────────────────────*/
	/* 기본 클래스 */
		/* clear type */
		.clear, .after_div {*zoom:1;}
		.clear:after, .after_div:after {content:"";display:block;clear:both;}
		.fl {float:left;}
		.fr {float:right;}
		.clear_fl {clear:both;float:left;}
		/* display type */
		.db {display:block;}
		.dn {display:none !important;}
		.di {display:inline-block;}
		.dt {display:table;table-layout:fixed;margin:0 auto;width:100%;box-sizing:border-box;border-collapse:collapse;}
		.dr {display:table-row;}
		.dc {display:table-cell;}
		/* hidden type */
		.blind {width:0;height:0;text-indent:-9999999px}
		.opacityhidden {opacity:0;}
		/* position type */
		.relative {position:relative;}
		.absolute {position:absolute;}
		/*** align type ***/
		.ta_left {text-align:left !important;}
		.ta_center {text-align:center !important;}
		.ta_right {text-align:right !important;}
		.va_top {vertical-align:top !important;}
		.va_middle {vertical-align:middle !important;}
		.va_bottom {vertical-align:bottom !important;}
	/* 레이아웃 */
		.w_custom {width:1200px;padding-left:15px;padding-right:15px;margin-left:auto;margin-right:auto;}
		#wrap, #header, #footer, #container, #contents {width:100%;min-width:1230px;margin:0 auto;padding:0;box-sizing:border-box;}
		#wrap {}
		#header {z-index:10;}
		#footer {z-index:2;}
		#container {position:relative;z-index:1;overflow:hidden;min-height:1000px;}
		#contents {width:100%;margin:0 auto;padding:0; max-width:1230px;padding-bottom:80px;}
		#layerDim{position: fixed;top: 0;left: 0;width: 100%;height: 100%;z-index: 200;background: rgba(0,0,0,0.6);}
	@media only screen and (max-width:1297px) {
	}

/*───────────────────────────────────────────────────────────

	 서브   

───────────────────────────────────────────────────────────*/

