@charset "utf-8";
/* CSS Document */
/**
 * custom css 입니다. 추가적인 css 는 여기에 작성을 해주세요.
 */

/*───────────────────────────────────────────────────────────

	 상단 outline/header

───────────────────────────────────────────────────────────*/
	/* 일반 */
		#header {position:sticky;left:0;top:0;width:100%;margin:0 auto;padding:0;border-top:6px #11196b solid;/*border-bottom:1px #ddd solid;*/background:#fff;}
		#header.fix {box-shadow:0px 0px 7px 1px rgba(0, 0, 0, 0.12);}
		.hd_wrap {max-width:1680px;width:calc(100% - 136px);margin:0 auto;padding:32px 0;height:50px;position:relative;z-index:1;transition:padding 0.3s;}
		#header.fix .hd_wrap {padding:18px 0;}
		.hd_logo, .hd_gnb, .hd_search, .hd_member {position:absolute;top:50%;transform:translateY(-50%);display:inline-block;margin:0;padding:0;box-sizing:border-box;}
		.hd_logo {left:0;}
		.hd_logo a {display:inline-block;width:184px;height:33px;vertical-align:top;background:#ddd;}
		.hd_gnb {left:13.63%;}
		.hd_gnb > li {vertical-align:top;display:inline-block;}
		.hd_gnb > li + li {}
		.hd_gnb > li > a {font-size:18px;padding:0.889em 2em;font-weight:500;color:#333;line-height:1;vertical-align:top;display:inline-block;}
		.hd_search {right:28.1%;background:#eee;border-radius:25px;height:50px;width:16.67%;max-width:280px;padding:15px 22px;box-sizing:border-box;}
		.hd_search form {border:0;margin:0;padding:0;}
		.hd_search fieldset {border:0;margin:0;padding:0;}
		.hd_search fieldset:after {clear:both;content:"";display:block;}
		.hd_search legend {display:none;}
		.hd_search input[type="text"].hd_input {float:left;border:0;outline:0;width: calc(100% - 30px);min-width:calc(100% - 30px);background:none;color:#333;font-size:16px;line-height:20px;height:20px;padding:0;letter-spacing:0;font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
			.hd_search input[type="text"].hd_input:placeholder {color:#888;font-size:16px;letter-spacing:0;font-family: 'Titillium Web';}
			.hd_search input[type="text"].hd_input::placeholder {color:#888;font-size:16px;letter-spacing:0;font-family: 'Titillium Web';}
			.hd_search input[type="text"].hd_input:-webkit-input-placeholder {color:#888;font-size:16px;letter-spacing:0;font-family: 'Titillium Web';}
			.hd_search input[type="text"].hd_input:-ms-input-placeholder {color:#888;font-size:16px;letter-spacing:0;font-family: 'Titillium Web';}
		.hd_search button.hd_go {float:right;background:url(../img/btn-hd-search.png) no-repeat 50% 50%;height:20px;line-height:20px;text-indent:20px;width:20px;border:0;outline:0;overflow:hidden;white-space:nowrap;}
		.hd_member {right:0;text-align:right; transform:none; margin-top:-15px;}
		.hd_member > ul {display:inline-block;vertical-align:middle;}
		.hd_member > ul > li {margin:0;padding:0;display:inline-block;vertical-align:top;}
		.hd_member > ul:nth-of-type(1) {}
		.hd_member > ul:nth-of-type(1) > li {}
		.hd_member > ul:nth-of-type(1) > li + li {margin-left:35px;}
		.hd_member > ul:nth-of-type(1) > li > a {font-size:15px;font-weight:400;color:#333;}
		.hd_member > ul:nth-of-type(2) {}
		.hd_member > ul:nth-of-type(2) > li {margin-left:40px;}
		.hd_member > ul:nth-of-type(2) > li + li {}
		.hd_member > ul:nth-of-type(2) > li > a {}
		.hd_member > ul:nth-of-type(2) > li img {vertical-align:top;}
	@media only screen and (max-width:1767px) {
		.hd_wrap {width: calc(100% - 114px);}
		.hd_gnb > li > a {padding-left:1.8em;padding-right:1.8em;}
		.hd_search {right:27.9%;padding-left:20px;padding-right:20px;}
		.hd_member > ul:nth-of-type(1) > li + li {margin-left:32px;}
		.hd_member > ul:nth-of-type(2) > li {margin-left:36px;}
	}
	@media only screen and (max-width:1680px) {
		.hd_wrap {width: calc(100% - 92px);}
		.hd_member > ul:nth-of-type(1) > li + li {margin-left:28px;}
		.hd_member > ul:nth-of-type(2) > li {margin-left:32px;}
	}
	@media only screen and (max-width:1560px) {
		.hd_wrap {width: calc(100% - 72px);}
		.hd_gnb {left:14.63%;}
		.hd_gnb > li > a {padding-left:1.7em;padding-right:1.7em;}
		.hd_member > ul:nth-of-type(1) > li + li {margin-left:22px;}
		.hd_member > ul:nth-of-type(2) > li {margin-left:26px;}
	}
	@media only screen and (max-width:1460px) {
		.hd_gnb {left:15.03%;}
		.hd_gnb > li > a {padding-left:1.6em;padding-right:1.6em;}
		.hd_search {right:29.6%;width:14.67%;padding-left:15px;padding-right:15px;}
		.hd_member > ul:nth-of-type(1) > li + li {margin-left:20px;}
		.hd_member > ul:nth-of-type(2) > li {margin-left:24px;}
	}
	@media only screen and (max-width:1347px) {
		.hd_wrap {width:100%;}
		.hd_logo {left:15px;}
		.hd_gnb {left: calc(15.4% + 15px);}
		.hd_gnb > li > a {font-size:18px;padding-left:1.4em;padding-right:1.4em;}
		.hd_search {right: calc(28.6% + 15px);width:14.67%;padding:15px 20px;padding-left:15px;padding-right:15px;}
		.hd_member {right:15px;}
		.hd_member > ul:nth-of-type(1) > li + li {margin-left:18px;}
		.hd_member > ul:nth-of-type(1) > li > a {font-size:15px;}
		.hd_member > ul:nth-of-type(2) > li {margin-left:20px;}
	}
	@media only screen and (max-width:1296px) {
	}

/*───────────────────────────────────────────────────────────

	 하단 outline/footer

───────────────────────────────────────────────────────────*/
	/* 일반 */
		.quick_top {position:fixed;z-index:3;right:56px;bottom:56px;display:inline-block;}
			.quick_top button {box-shadow:1px 1px 5px 3px rgba(0, 0, 0, 0.25);outline:0;border:0;text-align:center;color:#fff;background-color:#08126b;font-size:12px;width:50px;height:50px;border-radius:100%;background-image:url(../img/icon-quick-top.png);background-repeat:no-repeat;background-position:50% 13px;cursor:pointer;box-sizing:border-box;padding:23px 0 15px;line-height:1;}
			.quick_top button span {font-size:inherit;color:inherit;font-weight:400;line-height:1;display:inline-block;margin:0 auto;padding:0;vertical-align:top;}
		#footer {margin:0;padding:0 0 64px;width:100%;border:0;background:#0d0d0f;overflow:hidden;}
		.ft_menu {padding:23px 0;}
		.ft_menu ul {vertical-align:top;font-size:0;}
		.ft_menu li {margin-right:11px;display:inline-block;vertical-align:top;position:relative;z-index:1;}
		.ft_menu li + li {padding-left:14px;}
		.ft_menu li + li:before {width:3px;height:3px;border-radius:100%;background:#7b7e85;left:0;top:50%;transform:translateY(-50%);display:inline-block;vertical-align:top;content:"";position:absolute;}
		.ft_menu li a {font-size:14px;line-height:1;font-weight:400;color:#fff;display:inline-block;vertical-align:top;}
		.ft_menu li:nth-of-type(3) a {font-weight:500;}
		.ft_info_wrap {padding:40px 0 0;border-top:1px #2d2d31 solid;}
		.ft_info_wrap .ft_logo, .ft_info_wrap .ft_info, .ft_info_wrap .ft_address {display:inline-block;vertical-align:top;margin:0;padding:0;text-align:left;}
		.ft_info_wrap .ft_logo {vertical-align:top;width:274px;}
		.ft_info_wrap .ft_logo a, .ft_info_wrap .ft_logo img {vertical-align:top;}
		.ft_info_wrap .ft_logo a {display:inline-block;width:184px;height:33px;background:#25252b;}
		.ft_info_wrap .ft_info {width:447px;}
		.ft_info_wrap .ft_info > strong {font-size:13px;font-weight:600;color:#fff;display:block;line-height:1;height:1em;margin:0;padding:0 0 13px;letter-spacing:0;font-family: 'Titillium Web';}
		.ft_info_wrap .ft_info p, .ft_info_wrap .ft_info p a {font-size:13px;font-weight:400;color:#aaa;line-height:25px;}
		.ft_info_wrap .ft_info p {}
		.ft_info_wrap .ft_info p span.bar {background:#444;width:1px;height:10px;display:inline-block;vertical-align:Top;margin:8px 12px 7px;}
		.ft_info_wrap .ft_info address {font-size:13px;font-weight:400;color:#888;line-height:1;display:block;vertical-align:top;margin:13px 0 0;letter-spacing:0;font-family: 'Titillium Web';}
		.ft_info_wrap .ft_address {}
		.ft_info_wrap .ft_address dl {font-size:0;vertical-align:top;}
		.ft_info_wrap .ft_address dl + dl {margin-top:8px;}
		.ft_info_wrap .ft_address dt, .ft_info_wrap .ft_address dd {font-size:13px;line-height:25px;display:inline-block;vertical-align:top;margin:0;padding:0;}
		.ft_info_wrap .ft_address dt {font-weight:500;color:#ccc;background:#25252b;height:25px;border-radius:25px;box-sizing:border-box;width:90px;text-align:center;white-space:nowrap;}
			.ft_info_wrap .ft_address dl:nth-of-type(1) dt {letter-spacing:33.5px;text-indent:16.5px;}
			.ft_info_wrap .ft_address dl:nth-of-type(2) dt {letter-spacing:11.5px;text-indent:11px;}
			.ft_info_wrap .ft_address dl:nth-of-type(3) dt, .ft_info_wrap .ft_address dl:nth-of-type(4) dt {letter-spacing:3.6px;text-indent:4px;}
		.ft_info_wrap .ft_address dd {font-weight:400;color:#999;padding-left:10px;}
	@media only screen and (max-width:1640px) {
		.quick_top {right:46px;bottom:46px;}
	}
	@media only screen and (max-width:1560px) {
		.quick_top {right:36px;bottom:36px;}
	}
	@media only screen and (max-width:1460px) {
		.quick_top {right:26px;bottom:30px;}
	}
	@media only screen and (max-width:1400px) {
		.quick_top {right:15px;}
	}

/*───────────────────────────────────────────────────────────

	 메인 main/index

───────────────────────────────────────────────────────────*/
	/* 일반 */
		/* 메인 타이틀 & 버튼 */
			.main_title {font-size:50px;font-weight:600;color:#333;letter-spacing:0;line-height:1;margin:0 auto 43px;padding:0;vertical-align:top;text-align:center;font-family: 'Titillium Web'}
			.main_title.ta_left {text-align:left;}
			.btn_detail_arrow {display:inline-block;width:180px;height:60px;line-height:60px;border-radius:60px;background:#fff;box-shadow: 0px 12px 38px 0 rgba(0, 0, 0, 0.1);text-align:center;}
			.btn_detail_arrow span {display:inline-block;width:auto;margin:0 auto;height:inherit;border-radius:inherit;vertical-align:top;font-size:17px;line-height:20px;font-weight:500;color:#11196b;padding:20px 42px 20px 0;position:relative;z-index:1;box-sizing:border-box;}
			.btn_detail_arrow span:after {background:url(../img/icon-btn-arrow.png) no-repeat 50% 50%;display:inline-block;position:absolute;right:0;top:50%;transform:translateY(-50%);content:"";width:24px;height:11px;transition:all 0.3s;}
			.btn_detail_arrow:hover span:after {transform:translate(5px, -50%);}
		/**** 와이드 영역 ****/
		.main_top_wrap {position:relative;z-index:1;}
		/* 메인 비주얼 */
			.main_visual {background:#ddd; width: calc(100% - 136px);max-width:1680px;height:700px;margin:0 auto;position:relative;z-index:1;overflow:hidden;transition:width 0.2s;}
			.main_visual .main_visual_box {}
			.main_visual .main_visual_slide {}
			.main_visual .slick_cut {height:700px;background-repeat:no-repeat !important;background-position:50% 50% !important;background-size:auto 700px !important;position:relative;z-index:1;overflow:hidden;float:left;}
				.main_visual .slick_cut > a {position:absolute;left:0;top:0;width:100%;height:100%;z-index:3;display:none;}
				.main_visual .slick_cut .slick_thumb {width: calc(44.62% - 15px);max-width:580px;left:55.38%;box-shadow: 0px 12px 21px 0 rgba(0, 0, 0, 0.21);border-radius:10px;transform:translate(0%, -50%);top:50%;overflow:hidden;z-index:1;position:absolute; opacity:0;text-align:center;}
					.main_visual .slick_cut.slick-current .slick_thumb {animation-delay:0.3s;opacity:0;-webkit-animation: fade 2.3s ease-in-out 1;animation: fade 2.3s ease-in-out 1;animation-fill-mode:forwards;}
					.main_visual .slick_cut .slick_thumb img {width:100%;height:auto;}
				.main_visual .slick_cut .slick_txt {padding:0 50px;width: calc(55.38% - 15px);max-width:720px;right:44.62%;transform:translate(0%, -50%);top: calc(50% - 1px);box-sizing:border-box;position:absolute;z-index:2;text-align:left;}
					.main_visual .slick_cut .slick_txt h3, .main_visual .slick_cut .slick_txt .visu_btn {margin:0;padding:0;}
					.main_visual .slick_cut .slick_txt h3 {}
					.main_visual .slick_cut .slick_txt h3 em, .main_visual .slick_cut .slick_txt h3 strong, .main_visual .slick_cut .slick_txt h3 span {margin:0;padding:0;box-sizing:border-box;vertical-align:top;display:block;}
					.main_visual .slick_cut .slick_txt h3 em {font-size:20px;padding:26px 0 0;font-weight:700;letter-spacing:0;line-height:1;color:#8fe7f2;position:relative;z-index:1;}
					.main_visual .slick_cut .slick_txt h3 em:before {width:6px;height:6px;top:0;position:absolute;left:0;border-radius:100%;background:#fff;display:inline-block;content:"";}
					.main_visual .slick_cut .slick_txt h3 strong {font-size:52px;padding:0 0 36px 0;font-weight:700;letter-spacing:-0.05em;line-height:70px;color:#fff;}
					.main_visual .slick_cut .slick_txt h3 span {font-size:20px;line-height:1;color:rgba(255, 255, 255, 0.7);letter-spacing:0;font-family: 'Titillium Web';font-weight:400;}
					.main_visual .slick_cut .slick_txt .visu_btn {}
					.main_visual .slick_cut .slick_txt .visu_btn .btn_detail_arrow {margin-top:66px;}
				.main_visual .slick_cut.slick-current .slick_txt {}
					.main_visual .slick_cut .slick_txt h3 em, .main_visual .slick_cut .slick_txt h3 strong, .main_visual .slick_cut .slick_txt h3 span, .main_visual .slick_cut .slick_txt .visu_btn .btn_detail_arrow {opacity:0;transform:translateY(80px);}
					.main_visual .slick_cut.slick-current .slick_txt h3 em, .main_visual .slick_cut.slick-current .slick_txt h3 strong, .main_visual .slick_cut.slick-current .slick_txt h3 span, .main_visual .slick_cut.slick-current .slick_txt .visu_btn .btn_detail_arrow {opacity:0;transform:translateY(80px);-webkit-animation: fadeup 1.8s ease-in-out 1;animation: fadeup 1.8s ease-in-out 1;animation-fill-mode:forwards;}
					.main_visual .slick_cut.slick-current .slick_txt h3 em {animation-delay:0s;}
					.main_visual .slick_cut.slick-current .slick_txt h3 strong {animation-delay:0s;}
					.main_visual .slick_cut.slick-current .slick_txt h3 span {animation-delay:0.1s;}
					.main_visual .slick_cut.slick-current .slick_txt .visu_btn .btn_detail_arrow {animation-delay:0.4s;}
			.main_visual .slideController {height:14px;position:absolute;left:50%;bottom:39px;transform:translateX(-50%);display:inline-block;margin:0 auto;text-align:center;vertical-align:top;z-index:5;}
				.main_visual .slideController span {line-height:1;height:14px;font-size:14px;width:12px;text-align:center;letter-spacing:0;font-weight:600;color:#fff;font-family: 'Titillium Web';vertical-align:top;display:inline-block;}
				.main_visual .slideController span.slideCountItem, .main_visual .slideController span.slideCountAll {width:auto;}
			.main_visual .slideController .slider-progress{width:280px;height:2px;display:inline-block;border-radius:0;font-size:0;overflow:hidden;background: rgba(255, 255, 255, 0.5);margin:6px 19px;margin-left:0;vertical-align:top;position:relative;z-index:1;}
				.main_visual .slideController .slider-progress .progress {background-color: rgba(255, 255, 255, 1);position:absolute;left:0;bottom:0;display:block;width:0px;height:2px;transition:all 0s linear;display:inline-block;margin:0;padding:0;}
				.main_visual .slideController .slider-progress span.active{width: 100%;}
			.main_visual .slick-arrow {width:33px;height:64px;top:50%;transform:translateY(-50%);position:absolute;z-index:5;display:inline-block;outline:0;border:0;font-size:0;}
			.main_visual .slick-arrow:before, .main_visual .slick-arrow:after {display:none;}
			.main_visual .slick-prev.slick-arrow {left:40px;background:url(../img/btn-visual-prev.png) no-repeat 50% 50%;}
			.main_visual .slick-next.slick-arrow {right:40px;background:url(../img/btn-visual-next.png) no-repeat 50% 50%;}
			@keyframes fade{ 0% {opacity:0;} 100%{opacity:1;} }
			@keyframes fadeup{ 0% {opacity:0;transform:translateY(70px);} 100%{opacity:1;transform:translateY(0px);} }

		/* 스크롤다운 */
			.main_scroll {left:50%;transform:translate(-908px, -100%);top:700px;position:absolute;z-index:5;}
			.main_scroll .sc_down {display:inline-block;cursor:pointer;}
			.main_scroll .sc_down strong {transform: rotate(-90deg) translate(67px, -55px);font-size:14px;line-height:16px;height:16px;font-weight:600;color:#888;letter-spacing:0;display:inline-block;vertical-align:top;font-family: 'Titillium Web';}
			.main_scroll .sc_down .down_icon {position:relative;z-index:1;display:inline-block;border-radius:8px;width:16px;height:30px;border:2px #a0a0a0 solid;box-sizing:border-box;}
			.main_scroll .sc_down .down_icon span {transform:translateY(0px);animation-delay:0.3s;-webkit-animation: scdown 2.8s ease-in-out infinite;animation: scdown 2.8s ease-in-out infinite;animation-fill-mode:forwards;display:inline-block;width:4px;height:4px;background:#a0a0a0;border-radius:100%;position:absolute;left:4px;top:5px;}
			@keyframes scdown{ 0% {0;transform:translateY(0px);} 50%{transform:translateY(12px);} 100% {0;transform:translateY(0px);} }
		/**** 컨텐츠 영역 ****/
		.main_cont_wrap {padding:0;margin:0 auto;box-sizing:border-box;}
		/* 클래스 */
			.main_class {padding-top:93px;padding-bottom:68px;}
			.main_class > ul {font-size:0;vertical-align:top;}
			.main_class > ul:after {clear:both;content:"";display:block;}
			.main_class > ul > li {width: calc(25% - 25px);border-radius:10px;float:left;display:inline-block;vertical-align:top;box-sizing:border-box;margin:0;padding:0;position:relative;z-index:1;}
			.main_class > ul > li:nth-of-type(1) {width: calc(50% - 17px);}
			.main_class > ul > li:nth-of-type(n + 2) {margin-left:33.32px;}
			.main_class > ul > li:nth-of-type(n + 4) {margin-top:33.32px;}
			.main_class > ul > li:nth-of-type(4) {clear:both;float:left;margin-left:0;}
			.main_class > ul > li > a {position:absolute;left:0;top:0;width:100%;height:100%;border-radius:10px;z-index:3;display:inline-block;}
			.main_class > ul > li > .thumb {width:100%;height:220px;overflow:hidden;border-radius:10px 10px 0 0;margin:0;padding:0;vertical-align:top;box-sizing:border-box;text-align:center;position:relative;z-index:1;}
			.main_class > ul > li > .thumb img {transform: scale(1,1);transition:all 0.3s;}
			.main_class > ul > li:hover > .thumb img {transform: scale(1.1,1.1);}
			.main_class > ul > li > .txt {background:#eef1f6;padding:25px 25px 26px;border-radius:0 0 10px 10px;overflow:hidden;margin:0;vertical-align:top;box-sizing:border-box;text-align:left;}
			.main_class > ul > li:nth-of-type(even) > .txt {background:#f5f5f5;}
			.main_class > ul > li > .txt dl {margin:0;padding:0;vertical-align:top;box-sizing:border-box;text-align:left;}
			.main_class > ul > li > .txt dt, .main_class > ul > li > .txt dd {margin:0;padding:0;vertical-align:top;box-sizing:border-box;text-align:left;}
			.main_class > ul > li > .txt dt {font-size:18px;font-weight:500;color:#333;line-height:26px;height:52px;text-overflow:ellipsis;overflow:hidden;white-space:normal;display:-webkit-box;-webkit-line-clamp:2;-webkit-box-orient:vertical;word-break:keep-all;word-wrap:break-word;}
			.main_class > ul > li > .txt dd {padding-top:15px;}
			.main_class > ul > li > .txt dd ul {}
			.main_class > ul > li > .txt dd li {padding-left:8px;font-size:14px;font-weight:400;line-height:24px;color:#666;position:relative;z-index:1;}
			.main_class > ul > li > .txt dd li + li {}
			.main_class > ul > li > .txt dd li:before {left:0;top:11px;display:inline-block;content:"";width:2px;height:2px;border-radius:0;background:#666;position:absolute;}
			.main_class > ul > li:nth-of-type(1):before {left:-10px;top:-10px;width:60px;height:60px;line-height:60px;border-radius:8px;font-size:18px;font-weight:600;content:"NEW";letter-spacing:0;background:#ce153c;color:#fff;text-align:center;z-index:2;position:absolute;display:inline-block;font-family: 'Titillium Web';}
			.main_class > ul > li:nth-of-type(1) > .thumb {height:410px;border-radius:10px;}
			.main_class > ul > li:nth-of-type(1) > .txt {background:rgba(0, 0, 0, 0.7);padding:31px 31px 25px;position:absolute;left:0;bottom:0;width:100%;z-index:2;}
			.main_class > ul > li:nth-of-type(1) > .txt dt {font-size:20px;color:#fff;line-height:1;height:1em;white-space:nowrap;-webkit-line-clamp:1;}
			.main_class > ul > li:nth-of-type(1) > .txt dd {padding-top:20px;}
			.main_class > ul > li:nth-of-type(1) > .txt dd li {color:#fff;}
			.main_class > ul > li:nth-of-type(1) > .txt dd li:before {background:#fff;}
		/* 컨텍트 */
			.main_contact {border-radius:10px;overflow:hidden;position:relative;z-index:1;}
			.main_contact .thumb {border-radius:10px;overflow:hidden;}
			.main_contact .txt {position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);z-index:3;width:100%;}
			.main_contact .txt .txt_wrap {width: calc(100% - 160px);margin:0 auto;display:flex;flex-direction:row;flex-wrap:nowrap;flex-flow:justify;justify-content:space-between;align-items:center;}
			.main_contact .txt .txt_wrap > div {color:#fff;padding:0;vertical-align:middle;box-sizing:border-box;text-align:left;}
			.main_contact .txt .txt_wrap .txt_titles {font-size:40px;line-height:1;font-weight:700;font-family: 'Titillium Web';letter-spacing:0;}
			.main_contact .txt .txt_wrap .txt_p  {font-size:18px;font-weight:300;font-family: 'Titillium Web';letter-spacing:0;}
			.main_contact .txt .txt_wrap .txt_line {width:250px;background:rgba(255, 255, 255, 0.5);height:1px;}
			.main_contact .txt .txt_wrap .txt_btn {width:180px;}
	@media only screen and (max-width:1920px) {
		/* 스크롤다운 */
			.main_scroll {left:52px;transform:translate(-16px, -100%);}
	}
	@media only screen and (max-width:1767px) {
		/* 메인 비주얼 */
			.main_visual {width: calc(100% - 114px);}
			.main_visual .slick-prev.slick-arrow {left:30px;}
			.main_visual .slick-next.slick-arrow {right:30px;}
		/* 스크롤다운 */
			.main_scroll {left:42px;}
	}
	@media only screen and (max-width:1680px) {
		/* 메인 비주얼 */
			.main_visual {width: calc(100% - 92px);}
			.main_visual .slick-prev.slick-arrow {left:24px;}
			.main_visual .slick-next.slick-arrow {right:24px;}
		/* 스크롤다운 */
			.main_scroll {left:15px;transform:translate(0, -100%);}
	}
	@media only screen and (max-width:1560px) {
		/* 메인 비주얼 */
			.main_visual {width: calc(100% - 72px);}
			.main_visual .slick_cut .slick_txt {padding:0 40px;}
			.main_visual .slick-prev.slick-arrow {left:15px;}
			.main_visual .slick-next.slick-arrow {right:15px;}
		/* 스크롤다운 */
			.main_scroll {left:10px;transform:translate(0, -100%);}
	}
	@media only screen and (max-width:1460px) {
		/* 메인 비주얼 */
			.main_visual .slick_cut .slick_txt {padding:0 20px 0 40px;}
	}
	@media only screen and (max-width:1347px) {
		/* 메인 비주얼 */
			.main_visual {width:100%;}
			.main_visual .slick_cut .slick_txt {padding:0 15px 0 40px;}
		/* 스크롤다운 */
			.main_scroll {display:none;}
	}
	@media only screen and (max-width:1296px) {
	}

/*───────────────────────────────────────────────────────────

	 서브 페이지

───────────────────────────────────────────────────────────*/
	/*** 공통 ***/
		/* 서브 비주얼 */
		.sub_visual{position:relative; background:url('../img/sub_visual_bg.png') no-repeat center center; background-size:cover; height:250px; width:1680px; margin:0 auto; border-radius:10px; overflow:hidden; display:flex; align-items:center; justify-content:center;}
			.sub_visual h3{font-size:50px; font-weight:500; color:#fff;}
			.sub_visual > span{position:absolute;left: 37px;top: 45%;transform:rotate(-90deg) translateY(-50%);font-size:18px;font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;font-weight: 600;color: rgba(255,255,255,0.35);letter-spacing: 1px; text-transform:uppercase;}
		/* 서브 네비*/
			.sub_nav, .sub_content{width:1200px; margin:0 auto; position:relative; box-sizing:border-box;}
			.sub_nav > ul{display:flex;padding-top: 29px;padding-bottom: 55px;}
			.sub_nav > ul li{font-size:14px;font-weight: 500; color:#999;}
			.sub_nav > ul li + li:before{display:inline-flex; content:''; width:5px; height:9px; background:url('../img/sub_nav_arr.png') no-repeat center center;margin: 0 14px;}
			.sub_nav > ul li.home:before{display:inline-flex; content:''; width:15px; height:15px; background:url('../img/sub_nav_home.png') no-repeat center center; margin-right:16px;position: relative;top: 1px;}
			.sub_nav > ul li.on{color:#333;}
			.sub_nav > ul li a{font-size:inherit; font-weight:inherit; color:inherit;}

		input[type="text"], input[type="number"], input[type="password"]{min-width:200px; height:60px; font-size:16px; font-weight:400; color:#666; border:1px solid #ddd; border-radius:4px; box-sizing:border-box; padding-left:20px; padding-right:20px; letter-spacing:-0.7px;}
			input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, textarea:focus{outline:none; border:1px solid #000;}
			input[type="text"]::-webkit-input-placeholder {color:#999;}
			input[type="text"]:-ms-input-placeholder {color:#999;}
		input[type="number"]{min-width:auto; width:120px;}
			input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;}
		input[type="radio"], input[type="checkbox"]{display:none;}
			input[type="radio"] + label, input[type="checkbox"] + label{position:relative; font-size:16px; font-weight:400; color:#333; letter-spacing:-1px; padding-left:32px; cursor:pointer;}
			input[type="radio"] + label:before, .board_view_layer input[type="radio"] + label:before, input[type="checkbox"] + label:before{position:absolute; content:''; width:22px; height:22px; background:url('../img/check_box_icon.png') no-repeat center center; top:2px; left:0;}
			input[type="radio"] + label:before{width:21px;height:21px;background:url('../img/radio_box_icon.png') no-repeat center center;top:2px; background-size:100%;}
			input[type="radio"]:checked + label:before, .board_view_layer input[type="radio"]:checked + label:before, .board_inquiry input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before{background:url('../img/check_box_icon_on.png') no-repeat left center; background-size:100%;}
			input[type="radio"]:checked + label:before{background:url('../img/radio_box_icon_on.png') no-repeat center center;}
			input[type="radio"] + label + input + label, input[type="checkbox"] + label + input + label{margin-left:28px;}
		textarea{width:100%; min-height:150px; font-size:16px; font-weight:400; color:#666; border:1px solid #ddd; border-radius:4px; box-sizing:border-box; padding: 10px 18px; letter-spacing:-0.7px;line-height: 26px; resize:none; box-sizing:border-box;}
			textarea::-webkit-input-placeholder {color:#888;}
			textarea:-ms-input-placeholder {color:#888;}
		input[type="file"]{display:none;}
			input[type="file"] + label{height:60px; font-size:16px; font-weight:400; color:#888; border:1px solid #ddd; border-radius:4px; box-sizing:border-box;padding-left:20px; letter-spacing:-0.7px; width:420px; display:inline-flex;align-items: center;justify-content: space-between;overflow: hidden; cursor:pointer;}
			input[type="file"] + label strong{font-weight:inherit; color:#fff; background:#11196b;display:inline-flex; height:100%;align-items: center;justify-content: center;width: 120px;}
		.search_sel > li{position:relative;min-width:200px; height:60px; line-height:58px; font-size:16px; font-weight:400; color:#666; border:1px solid #ddd; appearance:none;background: #fff url('../img/select_box_arr.png') no-repeat calc(100% - 20px) 50%; border-radius:4px;box-sizing: border-box;padding: 0 0 0 19px; letter-spacing:-0.7px;}
			.search_sel > li a{font-size:inherit; color:inherit; font-weight:inherit;display: block;}
			.search_sel > li > ul{ position:absolute;top: calc(100% - 1px);left: -1px;border: 1px solid #ddd;border-top: 0;width: calc(100% + 2px);box-sizing: border-box;border-radius: 0 0 4px 4px;background: #fff;box-shadow: 3px 3px 5px rgb(0 0 0 / 10%); z-index:5;}
			.search_sel > li > ul > li{height:40px; line-height:40px;}
			.search_sel > li > ul > li a{padding: 0 0 0 19px; transition:all 0.1s;}
			.search_sel > li > ul > li a:hover{background:#1c3596; color:#fff;}
		.cont_search_btn{width:60px; height:60px; background:#11196b url('../img/cont_search_btn.png') no-repeat center center; border-radius:4px;}
		.board_search_box{position:relative; width: 100%;display: flex;justify-content: flex-end; margin-bottom:30px;}
			.board_search_box .list_count{position:absolute; left:0; bottom:0; font-size:16px; font-weight:400; color:#333; letter-spacing:0; line-height:1;}
			.board_search_box .list_count strong{font-size:18px; font-weight:500; color:#11196b;}
			.board_search_box .search_sel{margin-right:10px;}
			.board_search_box .search_txt{position:relative; font-size:0;}
			.board_search_box .search_txt input[type="text"]{width:360px; padding-right:80px;}
			.board_search_box .search_txt .cont_search_btn{position:absolute; top:0; right:0; border-radius:0 4px 4px 0;}
		.paging{padding-top:56px;}
			.paging ul{display:flex; align-items:center; justify-content:center;}
			.paging ul li{font-size:15px; font-weight:400; color:#999; font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
			.paging ul li + li{margin-left:22px;}
			.paging ul li a{font-size:inherit; font-weight:inherit; color:inherit; font-family:inherit;display: block;width: 100%;height: 100%;}
			.paging ul li.on{font-weight:bold; color:#11196b;}
			.paging ul li.arr{font-size:0;}
			.paging ul li.first{width:9px; height:9px; background:url('../img/paging_first_btn.png') no-repeat center center;}
			.paging ul li.prev{width:5px; height:9px; background:url('../img/paging_prev_btn.png') no-repeat center center;margin-right: 10px;}
			.paging ul li.next{width:5px; height:9px; background:url('../img/paging_next_btn.png') no-repeat center center;margin-left: 32px;}
			.paging ul li.last{width:9px; height:9px; background:url('../img/paging_last_btn.png') no-repeat center center;}
		#layer_dim{position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.6); top:0; left:0; z-index:10;}
		.hidden{height:0 !important; overflow:hidden !important; padding:0 !important;}
		.board_table{width:100%; border-top:2px solid #000;}
			.board_table thead{}
			.board_table thead tr{}
			.board_table thead tr th{border-bottom: 1px solid #000; font-size:17px; font-weight:400; color:#222;padding: 21px 10px 23px;letter-spacing: 0.2px;}
			.board_table tbody tr{}
			.board_table tbody tr th{border-bottom:1px solid #ddd; font-size:18px; font-weight:500; color:#333; letter-spacing:-0.7px; text-align:center;}
				.board_table tbody tr th.ver_top{vertical-align:top;}
				.board_table tbody tr th.important:after{display:inline-flex; content:'*'; font-size:inherit; font-weight:inherit; color:#11196b; margin-left:4px;}
			.board_table tbody tr td{border-bottom:1px solid #ddd; text-align:center; font-size:16px; font-weight:400; color:#999;/*padding: 18px 10px 19px;*/ padding: 0 10px; height:60px; line-height:26px;font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif; letter-spacing:0;}
			.board_table tbody tr:last-child th, .board_table tbody tr:last-child td{border-bottom:1px solid #000;}
				.board_table tbody tr td.no{color:#666;letter-spacing: 0.7px;}
				.board_table tbody tr td.period{color:#666; letter-spacing:0;}
				.board_table tbody tr td.type{color:#555;}
				.board_table tbody tr td.tittle{color:#555; text-align:left;font-family: 'Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;padding-left: 31px;letter-spacing: -0.2px;}
				.board_table tbody tr td.tittle a{color:inherit; font-size:inherit; font-weight:inherit; display:block;width:700px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
				.board_table tbody tr td.tittle .board_img{font-size:0;vertical-align: middle;display: inline-flex;padding-bottom: 3px;margin-right: 6px;}
				.board_table tbody tr td.percent{color:#666; font-weight:600;}
				.board_table tbody tr td.percent strong{color:#11196b; font-weight:inherit;}
				.board_table tbody tr td.situation{color:#333;}
				.board_table tbody tr td.situation.done{color:#ce153c;}
				.board_table tbody tr td .enrolment_btn{/*width:100px;*/ height:35px; display:inline-flex;align-items: center;justify-content: center;border-radius: 18px;background: #ddd;color: #888; font-size:15px;padding: 2px 22px 0;box-sizing: border-box;letter-spacing: 0.2px;}
				.board_table tbody tr td .enrolment_btn.apply{background:#11196b; color:#fff; cursor:pointer;}
				.board_table tbody tr td .enrolment_btn.payment{background:#ce153c; color:#fff; cursor:pointer;}
				.board_table tbody tr td .enrolment_btn.cancel{background:#555; color:#fff; cursor:pointer;}
			.board_table.write tbody tr th, .board_table.write tbody tr td{text-align:left; padding:20px 0; height:auto;}
				.board_table.write tbody tr th.ver_top{padding-top:35px;}
				.board_table.write tbody tr td{padding-left:0; position:relative;}
				.board_table.write tbody tr td input[type="text"]{width:80%; color:#333;}
				.board_table.write input[type="radio"] + label + input + label, .board_table.write input[type="checkbox"] + label + input + label{margin-left:60px;}
				.board_table.write textarea{width:80%;}
				.board_table.write tbody tr td input[type="text"].id_name{width:300px; border-radius:4px 0 0 4px; border-right:0;}
				.board_table.write tbody tr td input[type="text"].mail{width:220px;}
				.board_table.write tbody tr td input[type="password"].id_password{width:400px;}
				.board_table.write tbody tr td input[type="text"].captcha_txt{width:180px; margin-left:10px;}
				.board_table.write tbody tr td em{font-size:18px; font-weight:500; color:#666; margin:0 9px; vertical-align:middle;}
				.board_table.write tbody tr td .cont_search_btn{width:120px; font-size:16px; font-weight:400; color:#fff; letter-spacing:-0.7px; background:#11196b; border-radius:0 4px 4px 0;}
				.board_table.write tbody tr td .exp{font-size:16px; font-weight:400; color:#888; letter-spacing:-0.7px;vertical-align: middle;margin-left: 20px;}
				.board_table.write tbody tr td .hyphen{display:inline-flex; width:12px; height:1px; background:#aaa; margin:0 10px; vertical-align:middle;}
				.board_table.write tbody tr td .select_wrap{display:inline-flex;vertical-align: middle;margin-left: 10px;}
				.board_table.write tbody tr td .search_sel > li{min-width:180px; background:url('../img/join_select_box_arr.png') no-repeat calc(100% - 20px) center;}
				.board_table.write tbody tr td .select_wrap + .cont_search_btn{width:auto; padding:0 24px; border-radius:4px; margin-left:10px;}
				.board_table.write tbody tr td .captcha_box{position:relative; font-size:0; border:1px solid #ddd; padding-right:30px; display:inline-flex; vertical-align:middle;box-sizing: border-box;height: 60px;}
				.board_table.write tbody tr td .captcha_box .voice_btn{position:absolute;width: 32px;height: 31px;top: -1px; right:-1px;background: #fff url('../img/voice_btn_icon.png') no-repeat center center; border:1px solid #ddd;}
				.board_table.write tbody tr td .captcha_box .reset_btn{position:absolute;width: 32px;height: 31px;top: 28px; right:-1px;background: #fff url('../img/reset_btn_icon.png') no-repeat center center; border:1px solid #ddd;}

			

		/* view layer */
			.board_view_layer{position:fixed; top:50%; left:50%; transform:translate(-50%, -50%);/*width: 58%;*/ width:1100px; background:#fff; z-index:11;padding: 10px;box-sizing: border-box; overflow:visible;}
			.board_view_layer > div{overflow-y:scroll; height:590px;padding:40px 50px 50px; /*-ms-overflow-style: none;*/ /* IE and Edge */ /*scrollbar-width: none;*/ /* Firefox */}
			.board_view_layer > div::-webkit-scrollbar { width: 5px; /*display: none;*/ /* Chrome, Safari, Opera*/}
			.board_view_layer > div::-webkit-scrollbar-thumb {background-color: #aaa; border-radius: 2.5px;}
			.board_view_layer > div::-webkit-scrollbar-track {border-radius: 2.5px;background:#ddd;}
			.board_view_layer .close_btn{position:absolute; width:18px; height:18px; background:url('../img/layer_close_btn.png') no-repeat center center; top:10px; right:-38px;}
			.board_view_layer .tit_wrap{position:relative;}
				.board_view_layer .tit_wrap h3{font-size:30px;letter-spacing: -1.3px;padding-right: 100px;color: #333; border-bottom: 2px solid #000;padding-bottom: 24px;}
				.board_view_layer .tit_wrap h3 strong{color:#11196b; font-weight:700; font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
				.board_view_layer .tit_wrap h4{font-size:22px; font-weight:500; color:#333; border-bottom: 1px solid #000;padding-bottom: 13px;}
				.board_view_layer .tit_wrap h5{font-size:18px; font-weight:bold; color:#333; border-bottom: 1px solid #000;padding-bottom: 15px;}
				.board_view_layer .tit_wrap h5 strong{color:#11196b; font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
				.board_view_layer .tit_wrap > span{position:absolute;top: 19px; right:0; font-size:18px;font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;color: #888;font-weight: 500;}
			.board_view_layer .attachments{}
			.board_view_layer .attachments dl{display:flex;align-items: center;height: 57px;border-bottom: 1px solid #000;}
			.board_view_layer .attachments dl dt{font-size:18px; font-weight:500; color:#333;width: 125px;text-align: center;}
			.board_view_layer .attachments dl dd{position:relative; font-size:16px; font-weight:400; color:#666;width: calc(100% - 125px);padding-left: 31px;box-sizing: border-box;}
			.board_view_layer .attachments dl dd:before{position:absolute; content:''; width:1px; height:15px; background:#ddd; top:50%; margin-top:-7.5px; left:0;}
			.board_view_layer .attachments dl dd a{font-size:inherit; font-weight:inherit; color:inherit;}
			.board_view_layer .attachments .board_img{font-size:0; display:inline-flex; vertical-align:middle;margin-right: 8px;}
			.board_view_layer .attachments + .cont{border-bottom:1px solid #ddd;}
			.board_view_layer .cont{padding: 48px 38px 9.3%;border-bottom: 1px solid #000;}
				.board_view_layer .cont p{font-size:18px;line-height: 36px;color: #333;}
			.board_view_layer .comment{}
				.board_view_layer .comment .ment_list{padding:35px 52px 35px 0;}
				.board_view_layer .comment .ment_list li{position:relative;}
				.board_view_layer .comment .ment_list li + li{margin-top:25px;}
				.board_view_layer .comment dl{display:table; width:100%;}
				.board_view_layer .comment dl dt, .board_view_layer .comment dl dd{display:table-cell; font-size:16px; font-weight:400;}
				.board_view_layer .comment dl dt{width:145px; text-align:center; color:#333;}
				.board_view_layer .comment dl dd{position:relative; width:calc(100% - 145px); color:#666; padding-right:100px; box-sizing:border-box;}
				.board_view_layer .comment dl dd span{position:absolute;  top:0; right:0; color:#888; font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
				.board_view_layer .comment .ment_input{background:#f5f5f5; padding:30px 0;}
				.board_view_layer .comment .ment_input dl dd{position:relative; padding-right:50px;}
				.board_view_layer .comment .ment_input dl dd textarea{min-height:auto; height:60px;padding-right: 118px;}
				.board_view_layer .comment .ment_input dl dd .ment_btn{position:absolute; width:100px; height:60px;font-size: inherit;font-weight: inherit;color: #fff;background: #444;top: 0;right: 50px;border-radius: 0 4px 4px 0;}
				.board_view_layer .comment .comment_del_btn{position:absolute; width:9px; height:9px; top:50%;margin-top: -3.5px;right: -22px; background:url('../img/comment_del_btn.png') no-repeat center center; font-size:0;}
			.board_view_layer .goods_search_box{padding:30px;}
			.board_view_layer	.select_wrap{}
				.board_view_layer	.select_wrap + .cont_search_btn{margin-left:10px;}
			.board_view_layer .goods_search_box + .select_wrap{justify-content:flex-end; margin-bottom:20px;}
				.board_view_layer .goods_search_box + .select_wrap .search_sel > li{width:200px; height:50px; line-height:48px;}
			.board_view_layer .board_table tbody tr td.tittle{padding-left:15px;}
			.board_view_layer .table_wrap{background:#f5f7fb; padding:40px; margin-top:24px;}
			.board_view_layer .table_wrap .board_table tbody tr td.tittle{padding-left:0; color:#333;}
			.board_view_layer .table_wrap .board_table tbody tr td.tittle a{width:390px; font-weight:500;}
			.board_view_layer .table_wrap .board_table tbody tr td.percent strong{font-weight:bold;}
			.board_view_layer .paging{padding-top:45px;}
			.btn_center{text-align:center;margin-top: 30px; font-size:0;}
			.btn_left{text-align:left;margin-top: 30px; font-size:0;}
			.btn_right{text-align:right;margin-top: 30px; font-size:0;}
			.btn_center .cancel_btn, .btn_left .cancel_btn, .btn_right .cancel_btn{font-size:18px;display: inline-flex;width:180px; height: 60px;background: #fff;border-radius: 30px;align-items: center;justify-content: center;color: #11196b; /*padding: 0 74px;*/border:1px solid #11196b; box-sizing:border-box; padding-bottom:2px; vertical-align:middle;}
			.btn_center .ok_btn, .btn_left .ok_btn, .btn_right .ok_btn{font-size:18px;display: inline-flex;width:180px; height: 60px;background: #11196b;border-radius: 30px;align-items: center;justify-content: center;color: #fff;/*padding: 0 74px;*/ border:1px solid #11196b; box-sizing:border-box; padding-bottom:2px; vertical-align:middle;}
			.btn_center .ok_btn + .cancel_btn, .btn_left .ok_btn + .cancel_btn, .btn_right .ok_btn + .cancel_btn, .btn_center .cancel_btn + .ok_btn, .btn_left .cancel_btn + .ok_btn, .btn_right .cancel_btn + .ok_btn{margin-left:10px;}
			.btn_center .small_btn, .btn_left .small_btn, .btn_right .small_btn{font-size:16px; width:140px; height:50px;}

		@media only screen and (max-width:1680px) {
			.sub_visual{width:calc(100% - 30px); margin:0 auto;}
		}
	/*** 관리자 문의 board/inquiry_write.html ***/
		.sub_visual.inquiry > span{left:32px;}
		.board_inquiry{margin-top: -4px;}
			.board_inquiry .noti{font-size:16px; font-weight:400; color:#666;letter-spacing: -0.7px; text-align:right;margin-bottom: 27px;}
			.board_inquiry .btn_center{margin-top:60px;}

	/*** 검색 board/search_list.html ***/
		.search_list{}
		.sub_visual.search_list > span{left:34px;}
		.goods_search_box .search_txt{position:relative;margin-left:10px; font-size:0;}
			.goods_search_box .search_txt input[type="text"]{width:360px; padding-right:80px;}
			.goods_search_box .search_txt .cont_search_btn{position:absolute; top:0; right:0; border-radius:0 4px 4px 0;}
		.search_tit{text-align:center;margin-top: -7px;margin-bottom: 51px;}
			.search_tit > h4{font-size:30px; font-weight:500; color:#333;}
			.search_tit > h4 strong{color:#11196b; font-size:inherit; font-weight:inherit;}
			.search_tit + .goods_search_box{margin-bottom:30px;}
		.board_view_layer.search{width:500px;}
			.board_view_layer .search_list_popup{height:auto; padding-bottom:80px; padding-top:75px;}
			.board_view_layer .search_list_popup > p{font-size:20px; font-weight:500; color:#333; text-align:center;}
			.board_view_layer .search_list_popup .btn_center{margin-top:55px;}

	/*** 검색 view board/search_view.html ***/
		.sub_visual.search_view > span{left:30px;}
		.search_view{}
		.search_view .goods_wrap{display:flex;}
			.search_view .goods_wrap .thumb{font-size:0; width:500px; height:350px; border-radius:10px; overflow:hidden;}
				.search_view .goods_wrap .thumb img{width:100%; height:100%; object-fit:cover;}
			.search_view .goods_wrap .info{width:calc(100% - 500px);padding-left: 57px; box-sizing:border-box;margin-top: -8px;}
				.search_view .goods_wrap .info .tit{border-bottom:2px solid #333;padding-bottom: 21px;margin-bottom: 36px;}
				.search_view .goods_wrap .info .tit h4{font-size:30px; font-weight:500; color:#222; }
				.search_view .goods_wrap .info > dl{display:table; width:100%;}
				.search_view .goods_wrap .info > dl + dl{margin-top:33px;}
				.search_view .goods_wrap .info > dl dt, .search_view .goods_wrap .info > dl dd{display:table-cell; font-size:18px;}
				.search_view .goods_wrap .info > dl dt{position:relative;width: 120px;padding-left: 15px; padding-right:10px; box-sizing:border-box; font-weight:500; color:#333;}
				.search_view .goods_wrap .info > dl dt:before{position:absolute; content:''; width:3px; height:3px; border-radius:100%; background:#333;left: 5px;top: 13px;}
				.search_view .goods_wrap .info > dl dd{width: calc(100% - 120px); font-weight:400; color:#666;}
		.search_view .goods_exp{margin-top: 53px; }
			.search_view .goods_exp .tit{border-bottom:1px solid #000;padding-bottom: 15px;}
				.search_view .goods_exp .tit h5{font-size:22px; font-weight:500; color:#333;}
				.search_view .goods_exp .cont{border-bottom:1px solid #ddd; font-size:16px; font-weight:400; color:#666;padding: 30px 20px 114px;line-height: 30px;}
		.search_view .btn_center{margin-top:60px;}

	/*** 관리자 문의 목록 board/inquiry_list.html ***/
		.board_inquiry .board_table tbody tr td .enrolment_btn{color:#fff; background:#888;}
		.board_inquiry .board_table tbody tr td .enrolment_btn.apply{background:#11196b;}
			/* view layer */
				.board_view_layer .inquiry_view_popup{}
				.board_view_layer .inquiry_view_popup .cont{border-bottom:1px solid #ddd; margin-bottom:55px;}
				.board_view_layer .inquiry_view_popup .btn_center{margin-top:60px;}
			
	/*** 수강신청 goods/enrolment_list.html ***/
		.sub_visual.enrolment_list > span{left:12px;}
		.goods_search_box{background:#eef1f6; display:flex; justify-content:center;padding:40px; margin-bottom:40px;}
		.select_wrap{display:flex; align-items:center;}
			.select_wrap .select_tit{font-size:18px; font-weight:500; color:#333; margin-right:31px;}
			.select_wrap + .select_wrap{margin-left:59px;}
			.select_wrap.course_name .search_sel{width:300px; margin-right:10px;}
		.enrolment_list .board_table tbody tr td{height:80px;}
			.enrolment_list .board_table tbody tr td.tittle {padding-left:0; font-weight:500; color:#333;}
			.enrolment_list .board_table tbody tr td.tittle a{width:370px; overflow:hidden; text-overflow:ellipsis;display: -webkit-box;-webkit-line-clamp: 2;-webkit-box-orient: vertical;white-space: inherit;}
		.enrolment_list .goods_notice{background:#f9f9f9;padding: 40px 49px 45px;margin-top: 60px;}
			.enrolment_list .goods_notice dl{}
			.enrolment_list .goods_notice dl + dl{margin-top: 36px;}
			.enrolment_list .goods_notice dl dt{font-size:22px; font-weight:500; color:#222;}
			.enrolment_list .goods_notice dl dd{ margin-top: 17px;}
			.enrolment_list .goods_notice dl dd ol{counter-reset: listNum;}
			.enrolment_list .goods_notice dl dd ol li{font-size:16px; font-weight:400; color:#555; line-height:30px;}
			.enrolment_list .goods_notice dl dd ol li:before{content: counter(listNum) '.'; counter-increment: listNum; display: inline-flex; margin-right:4px;}

			/* 수강신청 레이어 */
				.board_view_layer .apply_popup .cont{padding-top:20px; padding-left:24px; padding-right:24px; overflow:hidden; border-bottom:0;}
				.board_view_layer .apply_popup .top_sec{border-bottom:1px solid #ddd;}
				.board_view_layer .apply_popup dl{display:table;width:100%; height:60px;}
					.board_view_layer .apply_popup dl:last-child{border-bottom:1px solid #ddd; padding-bottom:30px;}
					.board_view_layer .apply_popup dl + dl{padding-top:20px;}
					.board_view_layer .apply_popup dl dt, .board_view_layer .apply_popup dl dd{display:table-cell; vertical-align:middle;}
					.board_view_layer .apply_popup dl dt{font-size:18px; font-weight:500; color:#333; letter-spacing:-1px; width:176px;}
					.board_view_layer .apply_popup dl dt.important:after{display:inline-flex; content:'*'; font-size:inherit; color:#11196b; font-weight:inherit; margin-left:4px;}
					.board_view_layer .apply_popup dl dd{width:calc(100% - 176px); font-size:0;}
					.board_view_layer .apply_popup dl dd em{font-size:18px; font-weight:500; color:#666; display:inline-flex; margin:0 9px; vertical-align:middle;}
					.board_view_layer .apply_popup dl dd input[type="text"], .board_view_layer .apply_popup dl dd input[type="number"].birth_date{width:425px;}
					.board_view_layer .apply_popup dl dd input[type="text"].name{width:250px;}
					.board_view_layer .apply_popup dl dd input[type="text"].address{width:665px;}
					.board_view_layer .apply_popup dl dd input[type="text"].mail{width:220px;}
					.board_view_layer .apply_popup dl dd .hyphen{display:inline-flex; width:12px; height:1px; background:#aaa; margin:0 10px;}
					.board_view_layer .apply_popup dl dd .select_wrap{display:inline-flex; vertical-align:middle; margin-left:10px;}
				.board_view_layer .apply_popup .textarea_wrap{border:1px solid #ddd; border-radius:4px; width:100%; height:183px;  box-sizing:border-box; margin-top:29px; padding:10px;}
				.board_view_layer .apply_popup .textarea_cont{height:100%; overflow-y:scroll; padding:20px; box-sizing:border-box;}
					.textarea_cont::-webkit-scrollbar {width: 5px;}
					.textarea_cont::-webkit-scrollbar-thumb {background-color: #aaa; border-radius: 2.5px;}
					.textarea_cont::-webkit-scrollbar-track {border-radius: 2.5px;background:#ddd;}
					.board_view_layer .apply_popup .textarea_cont p{font-size:15px; font-weight:400; color:#666; letter-spacing:-1px; line-height:28px;}
					.board_view_layer .apply_popup .textarea_cont p strong{font-weight:bold; color:#333;}
					.board_view_layer .apply_popup .textarea_cont p em{color:#444; font-weight:500;}
					.board_view_layer .apply_popup .agree_wrap{margin-top:30px; padding-bottom:30px; border-bottom:1px solid #ddd;}
					.board_view_layer .apply_popup .agree_wrap input[type="radio"] + label + input + label, .board_view_layer .apply_popup .agree_wrap input[type="checkbox"] + label + input + label{margin-left:60px;}
				.board_view_layer .apply_popup .btn_center{margin-top:60px;}
				.alert_layer{position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); text-align:center; background:#fff; box-shadow:10px 0 36px rgba(0,0,0,0.3); padding: 75px 15px 80px; z-index:13; box-sizing:border-box; width:500px;}
					.alert_layer > h4{font-size:20px; font-weight:500; color:#11196b; line-height:32px;}
					.alert_layer > p{font-size:16px; font-weight:400; line-height:26px; color:#666;}
					.alert_layer > h4 + p{margin-top:20px;}
					.alert_layer .btn_center{margin-top:55px;}
					.alert_layer_bg{position:fixed; width:100%; height:100%; top:0; left:0; z-index:12;}
					.payment_layer{position:fixed;top:50%; left:50%; transform:translate(-50%, -50%);z-index:12; cursor:pointer;}

	/*** 수강완료 goods/enrolment_end.html ***/
		.sub_content .enrolment_end{background:#fff; text-align:center; border-radius:15px;padding: 105px 120px 120px;width: 1000px;margin: 100px auto 0;box-sizing: border-box;}
			.sub_content .enrolment_end > h4{font-size:40px; font-weight:500; color:#11196b;letter-spacing: -1.4px;}
			.sub_content .enrolment_end > p{font-size:18px; font-weight:400; line-height:32px; letter-spacing:-0.7px; color:#222;}
			.sub_content .enrolment_end > h4 + p{margin-top: 11px;}
			.sub_content .enrolment_end .btn_center{margin-top: 55px;}

	/*** 회원가입 member/join_write.html ***/
		.login_content.sub_join{width:1100px;}
		.join_write_cont{margin-top:70px;}
			.join_write_cont .board_table.write tbody tr td{font-size:0; height:60px;}
				.join_write_cont .board_table.write tbody tr td input[type="text"], .join_write_cont .board_table.write tbody tr td input[type="number"].birth_date{width:300px;}
				.join_write_cont .board_table.write tbody tr td input[type="text"].mail{width:220px;}
				.join_write_cont .board_table.write tbody tr td input[type="text"].captcha_txt{width:180px;}
				.join_write_cont .board_table tbody tr:last-child th, .join_write_cont .board_table tbody tr:last-child td{border-bottom:1px solid #ddd;}
			.join_write_cont .tit_wrap{margin-top:85px;}
				.join_write_cont .tit_wrap h4{font-size:22px; font-weight:500; color:#333; border-bottom: 2px solid #000;padding-bottom: 13px; text-align:left;}
			.join_write_cont .join_agree{text-align:left; padding:30px 20px; border-bottom:1px solid #ddd;}
				.join_write_cont .join_agree > ul{padding:20px 30px 0;}
				.join_write_cont .join_agree > ul li{position:relative;}
				.join_write_cont .join_agree > ul li + li{margin-top:30px;}
				.join_write_cont .join_agree .toggle_btn{position:absolute; top:0; right:0; font-size:14px; font-weight:400; color:#888; letter-spacing:-1px;}
				.join_write_cont .join_agree .toggle_btn:after{position:relative; top:-1px; display:inline-flex; content:''; width:9px; height:6px; background:url('../img/join_agree_toggle_arr.png') no-repeat center center; margin-left:11px; vertical-align:middle; transition:all 0.4s;}
				.join_write_cont .join_agree .toggle_btn.on:after{background:url('../img/join_agree_toggle_arr_on.png') no-repeat center center;}
				.join_write_cont .join_agree .textarea_wrap{display:none; border:1px solid #ddd; border-radius:4px; width:100%; height:183px;  box-sizing:border-box; margin-top:20px; padding:10px;}
					.join_write_cont .join_agree .textarea_cont{height:100%; overflow-y:scroll; padding:10px 20px; box-sizing:border-box;}
						.join_write_cont .join_agree .textarea_cont p{font-size:15px; font-weight:400; color:#666; letter-spacing:-1px; line-height:28px; text-align:left;}
						.join_write_cont .join_agree .textarea_cont p strong{font-weight:bold; color:#333;}
						.join_write_cont .join_agree .textarea_cont p em{color:#444; font-weight:500;}
						.join_write_cont .join_agree input[type="checkbox"] + label strong{font-size:inherit; font-weight:inherit; color:#11196b;}
			.join_write_cont .btn_center{margin-top:60px;}
			
	/*** 마이페이지 메인 mypage/index.html ***/
		.sub_visual.mypage > span{left:32px;}
		.mypage_teb{margin-top: -30px;margin-bottom: 60px;}
			.mypage.index .mypage_teb{margin-bottom: 85px;}
			.mypage_teb > ul{display:flex; justify-content:center;font-size:0;}
			.mypage_teb > ul li{position:relative;}
			.mypage_teb > ul li + li{margin-left:10px;}
			.mypage_teb > ul li a{display:inline-flex; align-items:center; justify-content:center; font-size:17px; font-weight:400; color:#555;letter-spacing: -1px; height:60px; border-radius:30px; background:#eef1f6;padding: 0 30px 0 29px;}
			.mypage_teb > ul li.on a{color:#fff; background:#11196b;}
			.mypage_teb > ul li .count{position:absolute; top:0; right:0; width:25px; height:25px; display:inline-flex; align-items:center; justify-content:center; background:#ce163c; border-radius:100%; font-size:15px; font-weight:bold; color:#fff; font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
		.mypage_sec{display:flex; position:relative;}
			.mypage_sec + .mypage_sec{margin-top:75px;}
			.mypage_sec + .mypage_sec .sec_tit{margin-top:-7px;}
			.mypage_sec .sec_tit{width:300px; padding-right:15px; box-sizing:border-box;}
				.mypage_sec .sec_tit h4{ font-size:24px; font-weight:500; color:#222; letter-spacing:-1px;}
				.mypage_sec .sec_tit h4:after{display:inline-flex; content:''; width:6px; height:6px; background:#11196b;vertical-align:top;margin-left: 6px;margin-top: 6px;border-radius:100%;}
				.mypage_sec .sec_tit p{font-size:16px; font-weight:400; color:#888; letter-spacing:-0.7px; line-height:26px; margin-top:18px;}
			.mypage_sec .btn_left{margin-top:36px;}
			.mypage_sec .sec_cont{width:calc(100% - 300px);}
			.mypage_sec .cont_tit{margin-top: 2px;margin-bottom: 13px;}
				.mypage_sec .cont_tit h5{font-size:20px; font-weight:400; color:#333;letter-spacing: -0.7px;font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
				.mypage_sec .cont_tit h5 strong{color:#11196b; font-weight:600;}
			.mypage_sec .board_table tbody tr:last-child th, .mypage_sec .board_table tbody tr:last-child td{border-bottom:1px solid #ddd;}
			.mypage_sec .board_table thead tr th{padding-top:20px; padding-bottom:22px;}
				.mypage_sec .board_table tbody tr td{height:59px;}
				.mypage_sec .board_table tbody tr td.tittle{padding-left:15px;}
				.mypage_sec .board_table tbody tr td.tittle a{width:250px;}
				.mypage_sec .board_table tbody tr td .enrolment_btn.del, .mypage_sec_02 .board_table tbody tr td .enrolment_btn, .mypage_sec_03 .board_table tbody tr td .enrolment_btn{font-size:14px; color:#fff; background:#888; width:73px; cursor:pointer;}
				.mypage_sec .board_table tbody tr td .enrolment_btn.del, .mypage_sec_02 .board_table tbody tr td .enrolment_btn.del, .mypage_sec_03 .board_table tbody tr td .enrolment_btn.del{background:#fff; color:#555; border:1px solid #888; margin-left:10px;}
				.mypage_sec_02 .board_table tbody tr td.tittle a{width:170px;}
				.mypage_sec_02 .board_table tbody tr td.tittle + td.tittle, .mypage_sec_03 .board_table tbody tr td.tittle + td.tittle{text-align:center;}
				.mypage_sec_02 .board_table tbody tr td.tittle + td.tittle a{width:155px;}
				.mypage_sec_02 .board_table tbody tr td.percent{font-weight:400; font-family: 'Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
				.mypage_sec_03 .board_table tbody tr td.tittle + td.tittle a{width:175px;}
			.mypage_sec .select_wrap{position:absolute;top: -24px; right:0;}
				.mypage_sec .search_sel > li{height:50px; line-height:48px; background:#fff url('../img/join_select_box_arr.png') no-repeat calc(100% - 20px) 50%}
			.mypage_sec .paging{padding-top:25px;}
			.board_view_layer .mypage_popup .cont{padding:30px 0 30px; border-bottom:0;}
			.board_view_layer .mypage_popup .board_table tbody tr:last-child th, .board_view_layer .mypage_popup .board_table tbody tr:last-child td{border-bottom:1px solid #ddd;}
			.board_view_layer .mypage_popup .cont p{text-align:center; margin-top:70px;}
			.board_view_layer .mypage_popup{height:730px; padding-bottom:30px;}
			.board_view_layer.mypage_sec_02 .board_table tbody tr td.tittle a{width:250px;}

	/*** 마이페이지 공지사항 mypage/notice_list.html ***/
		.sub_visual.mypage_notice_list > span{left:42px;}
		.mypage_tit{text-align:center; margin-top:-7px;}
			.mypage_tit > h3{font-size:30px; font-weight:500; color:#222;}
		.mypage_info{background:#eef1f6; border-radius:10px; display:flex; align-items:center; justify-content:center; height:120px; margin-top:52px;}
			.mypage_info dl{display:flex; align-items:center;}
			.mypage_info dl + dl:before{display:inline-flex; content:''; width:1px; height:15px; background:rgba(0,0,0,0.2); margin:0 60px;}
			.mypage_info dl dt{font-size:18px; font-weight:500; color:#333; margin-right:31px;}
			.mypage_info dl:last-child dt{/*margin-right:40px;*/}
			.mypage_info dl dd{font-size:18px; font-weight:600; color:#666; font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
			.mypage_info dl dd strong{font-size:inherit; font-weight:inherit; color:#11196b;}
			.mypage_info .btn_left{margin-top:0;}
			.mypage_info .btn_left .ok_btn{width:100px; height:45px; font-size:16px; margin-left:20px;}
		.mypage_wrap{display:flex; align-items:flex-start; margin-top:50px;}
			.mypage_wrap .side_cata{width:250px; margin-right:50px;}
			.mypage_wrap .side_cata ul{border:1px solid #ddd; border-radius:10px;  overflow:hidden;width: 100%;box-sizing: border-box;}
			.mypage_wrap .side_cata ul li{}
			.mypage_wrap .side_cata ul li + li{border-top:1px solid #ddd;}
			.mypage_wrap .side_cata ul li a{display:flex; align-items:center; font-size:18px; font-weight:400; color:#333; height:70px; padding:0 28px;}
			.mypage_wrap .side_cata ul li.on a{color:#fff; background:#11196b;}
				.mypage_wrap .side_cata ul li a:before{position:inline-flex; content:''; margin-right:13px; width:23px; height:22px; background-position:center center; background-repeat:no-repeat;}
				.mypage_wrap .side_cata ul li:nth-child(1) a:before{background-image:url('../img/mypage_side_cata_icon01.png');}
				.mypage_wrap .side_cata ul li:nth-child(2) a:before{background-image:url('../img/mypage_side_cata_icon02.png');}
				.mypage_wrap .side_cata ul li:nth-child(3) a:before{background-image:url('../img/mypage_side_cata_icon03.png');}
				.mypage_wrap .side_cata ul li:nth-child(4) a:before{background-image:url('../img/mypage_side_cata_icon04.png');}
				.mypage_wrap .side_cata ul li:nth-child(5) a:before{background-image:url('../img/mypage_side_cata_icon05.png');}
				.mypage_wrap .side_cata ul li.on:nth-child(1) a:before{background-image:url('../img/mypage_side_cata_icon01_on.png');}
				.mypage_wrap .side_cata ul li.on:nth-child(2) a:before{background-image:url('../img/mypage_side_cata_icon02_on.png');}
				.mypage_wrap .side_cata ul li.on:nth-child(3) a:before{background-image:url('../img/mypage_side_cata_icon03_on.png');}
				.mypage_wrap .side_cata ul li.on:nth-child(4) a:before{background-image:url('../img/mypage_side_cata_icon04_on.png');}
				.mypage_wrap .side_cata ul li.on:nth-child(5) a:before{background-image:url('../img/mypage_side_cata_icon05_on.png');}
			.mypage_wrap .side_cata + .mypage_cont{width:calc(100% - 300px);}
			.mypage_wrap .side_cata + .mypage_cont .board_table tbody tr td.tittle{padding-left:0;}
			.mypage_wrap .side_cata + .mypage_cont .board_table tbody tr td.tittle a{width:450px;}
		.board_view_layer .mypage_popup .search_sel > li{width:350px;}

	/*** 마이페이지 학습하기 mypage/study_list.html ***/
		.mypage_wrap .side_cata + .mypage_cont.study_list .board_table tbody tr td.tittle{padding-left:20px;}
		.mypage_wrap .side_cata + .mypage_cont.study_list .board_table tbody tr td.tittle a{width:310px;}
		.mypage_wrap .board_table tbody tr td .enrolment_btn{width:90px; padding:0; font-size:14px; cursor:inherit;}
		.mypage_wrap .board_table tbody tr td.no.time{letter-spacing:0;}
		.replay_btn{display:inline-flex; align-items:center; justify-content:center; width:103px; height:35px; box-sizing:border-box; border-radius:17.5px; border:1px solid #11196b; color:#11196b; font-size:14px; font-weight:400; transition:all 0.4s;}
		.replay_btn:hover{background:#11196b; color:#fff;}
		.replay_btn:before{display:inline-flex; content:''; width:16px; height:16px; background:url('../img/replay_btn_icon.png') no-repeat center center; margin-right:5px; transition:all 0.4s;}
		.replay_btn:hover:before{background:url('../img/replay_btn_icon_on.png') no-repeat center center;}

	/*** 마이페이지 학습하기 뷰 mypage/study_view.html ***/
		.mypage_wrap .study_index{border:1px solid #ddd; border-radius:10px; width:250px; margin-right:50px; box-sizing:border-box;padding: 10px;}
		.mypage_wrap .study_index .cont{width:100%;padding: 11px 20px 20px 18px;box-sizing: border-box; overflow-y:scroll; height:580px;}
			.mypage_wrap .study_index .cont::-webkit-scrollbar { width: 5px;}
			.mypage_wrap .study_index .cont::-webkit-scrollbar-thumb {background-color: #aaa; border-radius: 2.5px;}
			.mypage_wrap .study_index .cont::-webkit-scrollbar-track {border-radius: 2.5px;background:#ddd;}
			.mypage_wrap .study_index .cont > h5{font-size:20px;font-weight: 500; color:#222; border-bottom:2px solid #000;margin-bottom: 24px;padding-bottom: 24px; position:relative;}
			.mypage_wrap .study_index .cont > ul{}
			.mypage_wrap .study_index .cont > ul > li{font-size:18px; font-weight:500; color:#333;}
			.mypage_wrap .study_index .cont > ul > li + li{margin-top: 20px;}
			.mypage_wrap .study_index .cont > ul li a{position:relative; font-size:inherit; font-weight:inherit; color:inherit;}
			.mypage_wrap .study_index .cont > ul > li > ul{margin-top: 10px;}
			.mypage_wrap .study_index .cont > ul > li > ul > li{font-size:16px; font-weight:400; color:#666; } 
			.mypage_wrap .study_index .cont > ul > li > ul > li + li{margin-top: 6px;}
			.mypage_wrap .study_index .cont > ul > li > ul > li a{padding-left:8px;}
			.mypage_wrap .study_index .cont > ul > li > ul > li a:before{position:absolute; content:''; width:2px; height:2px; border-radius:100%; background:#666;top: 12px;left: 2px;}
		.mypage_wrap .study_index + .mypage_cont{width:calc(100% - 300px);}
		.mypage_wrap .video_wrap{position:relative;}
			.mypage_wrap .video_wrap .video_play_popup{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); background:#fff; text-align:center;padding: 68px 20px 80px;width: 450px;box-sizing: border-box;}
			.mypage_wrap .video_wrap .video_play_popup > p{font-size:18px; font-weight:500; color:#333; line-height:30px;}
		.video_play_popup .btn_center .ok_btn, .video_play_popup .btn_left .ok_btn, .video_play_popup .btn_center .cancel_btn, .btn_left .cancel_btn{width:120px;}
		.board_view_layer.progress_rate_layer{display:block !important;}
		.board_view_layer .progress_rate_popup{height:auto;}
			.board_view_layer .progress_rate_popup .cont{border-bottom:0; background:#eef1f6; border-radius:10px; margin-top:28px; text-align:center; padding-bottom:150px;}
			.board_view_layer .progress_rate_popup .cont > p{font-size:18px; font-weight:400; color:#333;}
			.board_view_layer .progress_rate_popup .cont > p em{font-size:22px; font-weight:700; color:inherit; font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
			.board_view_layer .progress_rate_popup .cont > p strong{font-size:22px; font-weight:700; color:#11196b; font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
			.board_view_layer .progress_rate_popup .progress_wrap{position:relative; margin-top:35px; width:900px; height:50px; background:#ccc url('../img/progress_bar_line.png') repeat left center; border-radius:25px;}
			.board_view_layer .progress_rate_popup .progress_wrap .progress_bar{position:absolute; left:0; top:0; width:0; height:100%; background:#11196b url('../img/progress_bar_line_on.png') repeat left center; border-radius:25px; box-shadow:5px 0 10px rgba(0,0,0,0.3); transition:all 1s;}
			.board_view_layer .progress_rate_popup .progress_wrap .progress_bar:before{position:absolute; content:''; width:22px; height:22px; background:rgba(255,255,255,0.4); top:50%; margin-top:-11px; right:-11px; border-radius:100%;}
			.board_view_layer .progress_rate_popup .progress_wrap .progress_bar:after{position:absolute; content:''; width:12px; height:12px; background:rgba(255,255,255,1); top:50%; margin-top:-6px; right:-6px; border-radius:100%;}
			.board_view_layer .progress_rate_popup .progress_wrap .progress_bar .percent{position:absolute; right:-40px; top:calc(100% + 30px); display:inline-flex; align-items:center; justify-content:center; width:80px; height:60px; font-size:22px; font-weight:600; color:#fff; background:#11196b; border-radius:5px; font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif}
			.board_view_layer .progress_rate_popup .progress_wrap .progress_bar .percent:before{position:absolute; content:''; width:13px; height:12px; background:url('../img/progress_bar_percent_bg.png') no-repeat center center; top:-11px; left:50%; margin-left:-6.5px;}
	.progress_rate_layer_bg{position:fixed; width:100%; height:100%; background:rgba(0,0,0,0.6); top:0; left:0; z-index:10;}
	/*** 마이페이지 스터디 퀴즈 mypage/study_quiz.html ***/
		.study_quiz{border:1px solid #ddd; border-radius:10px;/* padding:62px 59px 40px; */padding: 9px;margin-top:50px;}
		.study_quiz .cont{height:696px; overflow:hidden; overflow-y:scroll;padding: 53px 45px 31px 50px;}
			.study_quiz .cont::-webkit-scrollbar { width: 5px;}
			.study_quiz .cont::-webkit-scrollbar-thumb {background-color: #aaa; border-radius: 2.5px;}
			.study_quiz .cont::-webkit-scrollbar-track {border-radius: 2.5px;background:#ddd;}
		.study_quiz .tit_wrap{position:relative;}
			.study_quiz .tit_wrap h3{font-size:30px; font-weight:500; color:#222;border-bottom: 2px solid #000;padding-bottom: 22px;}
			.study_quiz .tit_wrap .btn_right{margin-top:0; position:absolute; right:0;top: -23px;}
		.study_quiz .quiz_ol{counter-reset: QzNum;margin-top: 63px;}
			.study_quiz .quiz_ol > li{position:relative;}
			.study_quiz .quiz_ol > li + li{margin-top: 103px;}
			.study_quiz .quiz_ol > li:before{position:absolute;content: 'Q. ' counter(QzNum);counter-increment: QzNum;top: -3px;left: 0; display:inline-flex; align-items:center; justify-content:center; width:70px; height:35px; background:#11196b; color:#fff; font-size:20px;font-weight: 600;font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif; border-radius:17.5px;padding-bottom: 3px;box-sizing: border-box;}
			.study_quiz .quiz_ol > li dl{}
			.study_quiz .quiz_ol > li dl dt{font-size:18px; font-weight:400; color:#333;padding-left: 90px;}
			.study_quiz .quiz_ol > li dl dd{margin-top: 33px;}
			.study_quiz .quiz_ol input[type="radio"] + label{color:#666;}
			.study_quiz .quiz_ol input[type="radio"] + label + input + label{margin-left:58px;}
			.study_quiz .quiz_ol input[type="radio"].answer.on + label:before{background:url('../img/radio_box_icon_answer.png') no-repeat center center; background-size:100%;}
			.study_quiz .quiz_ol .exp{position:absolute; font-size:16px;font-weight: 500; color:#11196b; letter-spacing:-0.7px; left:0;bottom: -47px; overflow:visible;}
		.study_quiz .paging{padding-top:83px;}
		.board_view_layer.quiz_layer {width:600px;}
			.board_view_layer.quiz_layer .study_quiz_popup{height:auto;text-align: center;padding-bottom: 80px;}
			.board_view_layer.quiz_layer .cont{border-bottom:0;padding: 30px;}
			.board_view_layer.quiz_layer .cont > h5{font-size:24px; font-weight:500; color:#333;}
			.board_view_layer.quiz_layer .cont > h5 em{color:inherit; font-weight:bold;}
			.board_view_layer.quiz_layer .cont > h5 strong{font-weight:700; color:#11196b;  font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
			.board_view_layer.quiz_layer .cont > p{font-size:16px; font-weight:400; color:#666; line-height:26px;margin-top: 15px;}
		
	/*** 마이페이지 스터디 설문조사 mypage/study_quiz_end.html ***/
		.study_quiz .sub_survey{padding:0; background:#fff;}
			.study_quiz .sub_survey .survey_content{padding:0;}
			.study_quiz .sub_survey .survey_content ul{margin:0;}
			.study_quiz .sub_survey .survey_content ul li table thead tr th{border-top:0; height:59px;}
			.study_quiz .sub_survey .survey_content ul li table thead tr th + th{border-left:1px solid #ddd;}
			.study_quiz .sub_survey .survey_content ul li table thead tr th.survey_sub_tit{width:auto; text-align:center; border-right:0; font-size:17px; padding:42px 0 49px;}
			.study_quiz .sub_survey .survey_content ul li table thead tr.survey_score td{border-left:1px solid #ddd; width:auto;}
			.study_quiz .sub_survey .survey_content ul li table tbody tr td{font-size:16px; font-weight:400; color:#555; font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif}
			.study_quiz .sub_survey .survey_content ul li table tbody tr td.left{text-align:left;padding-left:20px; padding-right:20px; letter-spacing:0;}

	/*** 마이페이지 QA 리스트 mypage/qa_list.html ***/
		.mypage_cont .btn_right .small_btn{width:120px;}
		.mypage_cont .btn_right + .board_table{margin-top:20px;}
		.board_view_layer.qa_write{}
			.board_view_layer.qa_write .cont{padding-bottom:0;}
			.board_view_layer.qa_write .apply_popup{height:auto;}
				.board_view_layer.qa_write .apply_popup dl{padding:20px 0;}
				.board_view_layer.qa_write .apply_popup dl + dl{border-top:1px solid #ddd;}
				.board_view_layer.qa_write .apply_popup dl:last-child{border-bottom:0;}
				.board_view_layer.qa_write .apply_popup dl dd input[type="text"]{width:100%;}
				.board_view_layer.qa_write .apply_popup dl dd textarea{height:300px;}
				.board_view_layer.qa_write .apply_popup .btn_center{margin-top:20px;}

	/*** 마이페이지 수강 이력 mypage/history_list.html ***/
		.board_history .board_table:before{position:absolute; content:''; width:100%; height:1px; background:#000; left:0; bottom:0;}
			.board_history .board_table tbody tr:last-child th, .board_history .board_table tbody tr:last-child td{border-bottom:0;}
			.board_history .board_table{position:relative;}
			.board_history .board_table tbody tr td.tittle a{width:360px;}
			.board_history .board_table tbody tr td .enrolment_btn{width:70px; padding:0; cursor:inherit;}
	
	/*** 마이페이지 결제 내역 mypage/payment_list.html ***/
		.board_payment .replay_btn{width:92px;}
			.board_payment .replay_btn:before{display:none;}
		.board_payment .board_table tbody tr td.tittle{padding-left:0; color:#333; font-weight:500;}
			.board_payment .board_table tbody tr td.tittle a{width:440px;}

	/*** 마이페이지 내 정보 mypage/information.html ***/
		.secession_btn{position:absolute; top:0; right:0; font-size:14px; font-weight:400; color:#666; display:inline-flex; align-items:center; justify-content:center; width:80px; height:35px; border:1px solid #aaa; border-radius:17.5px;}
		.mypage_wrap.information .study_index .cont{overflow:visible;height: auto;}
			.mypage_wrap.information .study_index .cont > h5{margin-bottom: 23px;padding-bottom: 27px;}
		.mypage_wrap .study_index .cont > dl{}
			.mypage_wrap .study_index .cont > dl + dl{margin-top: 31px;}
			.mypage_wrap .study_index .cont > dl dt{font-size:18px; font-weight:500; color:#222;letter-spacing: 0;}
			.mypage_wrap .study_index .cont > dl dd{font-size:16px; font-weight:400; color:#666;margin-top: 10px;letter-spacing: 0;}
			.mypage_wrap .study_index .cont .btn_center{margin-top: 56px;}
			.mypage_wrap .study_index .cont .btn_center .ok_btn{width:190px;}
		.mypage_wrap.information .study_index + .mypage_cont{background:#eef1f6; padding:100px 175px; box-sizing:border-box;}
		.mypage_wrap .profile_info{background:#fff; padding-bottom:80px; border-radius: 10px;overflow: hidden;}
		.mypage_wrap .profile_teb{display:flex;justify-content: space-between;}
			.mypage_wrap .profile_teb li{width:100%;}
			.mypage_wrap .profile_teb li a{display:inline-flex;font-size: 20px;font-weight: 400;letter-spacing: -1px;color: #666;align-items: center;justify-content: center;width: 100%;height: 70px;background: #ddd;}
			.mypage_wrap .profile_teb li.on a{background:#fff; color:#11196b;}
		.mypage_wrap .profile_box{ padding:0; height:0; overflow:hidden;}
			.mypage_wrap .profile_box.on{padding:60px 60px 10px; overflow:visible; height:auto;}
			.mypage_wrap .profile_box .profile_tit{text-align:center; padding-bottom:40px; border-bottom:2px solid #000;margin-bottom: 27px;}
				.mypage_wrap .profile_box .profile_tit > span{font-size:0;}
				.mypage_wrap .profile_box .profile_tit > h4{font-size:30px; font-weight:500; color:#333;margin-top: 21px;letter-spacing: 0;}
				.mypage_wrap .profile_box .profile_tit > p{font-size:18px; font-weight:400; color:#333; line-height:30px;margin-top: 14px;padding-bottom: 17px;letter-spacing: 0;}
			.mypage_wrap .profile_box dl{display:table; width:100%;}
				.mypage_wrap .profile_box dl + dl{margin-top:20px;}
				.mypage_wrap .profile_box dl dt, .mypage_wrap .profile_box dl dd{display:table-cell; color:#333; height:60px; vertical-align:middle;}
				.mypage_wrap .profile_box dl dt{width:97px; font-size:18px;font-weight: 500;}
				.mypage_wrap .profile_box dl dd{width:calc(100% - 97px); font-size:16px;}
				.mypage_wrap .profile_box dl dd input[type="text"]{width:100%; background:#f5f5f5; letter-spacing:0;}
				.mypage_wrap .profile_box dl dd input[type="password"]{width:100%;}
				.mypage_wrap .profile_box dl dd input[type="text"]:focus{color:#333;}
				.mypage_wrap .profile_box dl dd input[type="radio"] + label + input + label{margin-left:55px;}
				.mypage_wrap .profile_box dl dd .select_wrap{justify-content:space-between;}
				.mypage_wrap .profile_box dl dd .search_sel{width:calc(100% / 2 - 5px);}
				.mypage_wrap .profile_box dl dd .search_sel + .search_sel{margin-left:10px;}
				.mypage_wrap .profile_box dl dd .search_sel > li{min-width:auto; width:100%; background:#fff url('../img/join_select_box_arr.png') no-repeat calc(100% - 20px) center}
				.mypage_wrap .profile_box dl.textarea_wrap{border-top:1px solid #ddd; margin-top:30px; padding-top:25px; border-bottom:1px solid #000; padding-bottom:30px;}
				.mypage_wrap .profile_box dl.textarea_wrap dt, .mypage_wrap .profile_box dl.textarea_wrap dd{width:100%;height:auto; display:block;}
				.mypage_wrap .profile_box dl.textarea_wrap dd textarea{min-height:auto; height:120px; margin-top:16px;}
				.mypage_wrap .profile_box .exp{font-size:16px; font-weight:300; color:#666; letter-spacing:0; line-height:26px; margin-top:22px;}
				.mypage_wrap .profile_box .exp + .btn_center{border-top:0;padding-top: 55px;margin-top: 0;}
				.mypage_wrap .profile_box .btn_center{border-top:1px solid #ddd; padding-top:40px; margin-top:33px;}
				.mypage_wrap .profile_box#profile_teb02 dl dt{width:130px;}
				.mypage_wrap .profile_box#profile_teb02 dl dd{width:calc(100% - 130px);}
		.alert_layer.information{width:450px;}

	/*** 마이페이지 받은 쪽지함 mypage/message.html ***/
		.board_message .board_table tbody tr td.tittle a{width:520px;}
		.board_message .board_table tbody tr td.period{color:#999;}
		.board_view_layer .message_popup{height:770px;}

	/* 동시접속 레이어 */
	.simultaneous_layer{position:fixed; top:50%; left:50%; transform:translate(-50%, -50%); background:#fff; z-index:99; text-align:center; padding:70px;}
	.simultaneous_layer h4{font-size:20px; font-weight:500; color:#11196b; line-height:32px; }
	.simultaneous_layer p{font-size:16px; color:#666; line-height:145%; margin-top:10px; padding-bottom:10px;}

/*───────────────────────────────────────────────────────────

	 소개  |   INTRODUCE

───────────────────────────────────────────────────────────*/
	/*플랫폼*/
		.introduce_tab{margin-top:26px;}
		.introduce_tab ul{width:100%;font-size:0;text-align: center;}
		.introduce_tab ul li{display: inline-block;box-sizing:border-box;}
		.introduce_tab ul li + li{margin-left:20px;}
		.introduce_tab ul li a{font-size:17px;color:#555;font-weight:400;display: block;width:100%;height:60px;line-height:58px;box-sizing:border-box;border-radius:30px;background:#eef1f6;padding:0 30px;letter-spacing:-0.8px;}
		.introduce_tab ul li.on a{background:#11196b;color:#fff;}
		.sub_platform{margin-top:89px;}
		.sub_platform h3{font-size:40px;color:#222;font-weight:700;letter-spacing:-1.2px;line-height:60px;font-family:'Titillium Web', 'Noto Sans KR', sans-serif;position:relative;display: inline-block;}
		.sub_platform h3 strong{text-transform:uppercase;color:#11196b;}
		.sub_platform h3:before{width:174px;height:120px;content:"";background:url('../img/platform-quote.png')no-repeat center;position: absolute;right:-43px;top:36px;z-index:-1;}

		.sub_platform .platform_box{position: relative;padding-top:90px;margin-top:32px;}
		.sub_platform .platform_box:before{width:2px;height:61px;content:"";background:#000;position: absolute;top:0;left:0;}
		.sub_platform .platform_box:after{clear:both;content:"";display:block;}
		.sub_platform .platform_box > div{display: inline-block;box-sizing:border-box;vertical-align: top;}
		.sub_platform .platform_box .txt_wrap{background:url('../img/platform-symbol.png')no-repeat left bottom;padding-bottom:108px;}
		.sub_platform .platform_box .txt_wrap p{font-size:18px;color:#333;font-weight:400;letter-spacing:-0.8px;line-height:32px;}
		.sub_platform .platform_box .txt_wrap p + p{margin-top:15px;}
		.sub_platform .platform_box .img_box{float: right;box-sizing:border-box;box-shadow:5px 8.7px 30px 0 rgba(0, 0, 0, 0.2);border-radius:10px;overflow:hidden;width:450px;height:450px;margin-top:9px;}
		.sub_platform .platform_box .img_box img{width:100%;}

	/*플랫폼의 방향*/
		.sub_direction{margin-top:80px;}
		.sub_direction .direction_box{display: inline-block;box-sizing:border-box;vertical-align: top;position: relative;}
		.sub_direction .direction_clear{clear:both;width:50%;}
		.sub_direction .direction_class, .sub_direction .direction_part{width:300px;}
		.sub_direction .direction_class{padding-right:50px;}
		.sub_direction .direction_part{padding-left:50px;}
		.sub_direction .direction_infra{padding-top:52px;}
		.sub_direction .direction_box{text-align:center;}
		.sub_direction .direction_box .direction_tit{width:100%;box-sizing:border-box;border-radius:10px 10px 0 0;background:#333;font-size:20px;color:#fff;font-weight:500;letter-spacing:-0.6px;height:60px;line-height:60px;}
		.sub_direction .direction_box .direction_cont{box-sizing:border-box;border-radius:0 0 10px 10px;border:2px solid #eee;border-top:none;}
		.sub_direction .direction_box .direction_cont p{font-size:18px;color:#333;font-weight:400;letter-spacing:-0.54px;}
		
		/*교육 강좌*/
			.sub_direction .direction_box.direction_class:before{width:67px;height:50px;content:"";background:url('../img/direction-arw.png')no-repeat;position: absolute;top:169px;right:-17px;z-index:5;}
			.sub_direction .direction_box.direction_class .direction_cont{}
			.sub_direction .direction_box.direction_class .direction_cont ul, .sub_direction .direction_box.direction_part ul{padding:40px 0 36px;}
			.sub_direction .direction_box.direction_class .direction_cont ul li{} 
			.sub_direction .direction_box.direction_class .direction_cont ul li + li, .sub_direction .direction_box.direction_part .direction_cont ul li + li{margin-top:25px;}
			.sub_direction .direction_box.direction_class .direction_cont ul li .icon, .sub_direction .direction_box.direction_part .direction_cont ul li .icon{width:110px;height:110px;margin:0 auto;box-sizing:border-box;border-radius:100%;}
			.sub_direction .direction_box.direction_class .direction_cont ul li p, .sub_direction .direction_box.direction_part .direction_cont ul li p{margin-top:14px;}

		/*분석 기술*/
			.sub_direction .direction_box.direction_tech{}
			.sub_direction .direction_box.direction_tech .direction_cont{display: table;width:100%;box-sizing:border-box;padding:60px 0 54px;}
			.sub_direction .direction_box.direction_tech .direction_cont > div{display:table-cell;width:50%;position: relative;}
			.sub_direction .direction_box.direction_tech .direction_cont > div:nth-child(2):before{width:1px;height:145px;content:"";background:#ddd;position: absolute;top:1px;left:-1px;}
			.sub_direction .direction_box.direction_tech .direction_cont p{margin-top:24px;}

		/*적용 분야*/
			.sub_direction .direction_box.direction_part:before{width:67px;height:50px;content:"";background:url('../img/direction-arw.png')no-repeat;position: absolute;top:169px;left:-1px;z-index:5;}
			.sub_direction .direction_box.direction_part .direction_cont ul li .icon{background:#f5f5f5;line-height:110px;}
			.sub_direction .direction_box.direction_part .direction_cont ul li .icon img{vertical-align: middle;}

		/*핵심 인프라*/
			.sub_direction .direction_box.direction_infra{}
			.sub_direction .direction_box.direction_infra:before{width:50px;height:66px;content:"";background:url('../img/direction-arw-up.png')no-repeat center;position: absolute;top:-14px;left:50%;transform:translate(-50%);}
			.sub_direction .direction_box.direction_infra .direction_cont ul{width:100%;font-size:0;padding:58px 0 52px;}
			.sub_direction .direction_box.direction_infra .direction_cont ul li{display: inline-block;box-sizing:border-box;position: relative;vertical-align: top;}
			.sub_direction .direction_box.direction_infra .direction_cont ul li + li{margin-left:37px;padding-left:37px;}
			.sub_direction .direction_box.direction_infra .direction_cont ul li + li:before{width:8px;height:8px;content:"";background:#aaa;box-sizing:border-box;border-radius:100%;left:-4px;top:21px;position:absolute;}
			.sub_direction .direction_box.direction_infra .direction_cont .icon{height:50px;line-height:50px;}
			.sub_direction .direction_box.direction_infra .direction_cont .icon img{vertical-align: middle;}
			.sub_direction .direction_box.direction_infra .direction_cont p{margin-top:14px;}

/*───────────────────────────────────────────────────────────

	 이용약관, 개인정보처리방침  |   SERVICE

───────────────────────────────────────────────────────────*/
	.sub_policy{width:100%;box-sizing:border-box;border:1px solid #000;border-width:1px 0 1px 0;padding:52px 31px 54px;margin-top:1px;}
	.sub_policy *{font-family:'Noto Sans KR',-apple-system,BlinkMacSystemFont,system-ui,Roboto,'Helvetica Neue','Segoe UI','Apple SD Gothic Neo','Noto Sans KR',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
	.sub_policy h4{font-size:24px;color:#222;font-weight:700;position:relative;padding-left:20px;margin-bottom:27px;}
	.sub_policy h4:before{width:10px;height:10px;content:"";box-sizing:border-box;border-radius:100%;background:#11196b;position: absolute;left:0;top:15px;}
	.sub_policy h5{font-size:18px;color:#333;font-weight:700;}
	.sub_policy p{font-size:16px;color:#666;font-weight:400;line-height:30px;letter-spacing:-0.2px;}	
	.sub_policy h5 + p{margin-top:9px;}	
	.sub_policy p + h5{margin-top:28px;}
	.sub_policy div + div{margin-top:64px;}
	.sub_policy > p{margin-top:66px;}

	.sub_privacy p + p{margin-top:25px;}

/*───────────────────────────────────────────────────────────

	 로그인  |   LOGIN

───────────────────────────────────────────────────────────*/
	/*로그인*/
		.login_content{width:500px;margin:0 auto;margin-top:85px;text-align:center;}
		.login_content *{font-family:'Noto Sans KR',-apple-system,BlinkMacSystemFont,system-ui,Roboto,'Helvetica Neue','Segoe UI','Apple SD Gothic Neo','Noto Sans KR',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;}
		.login_content h3{text-align:center;font-size:40px;color:#222;font-weight:500;}
		.login_content .login_box{margin-top:69px;}
		.login_content .login_frm{width:100%;font-size:0;}
		.login_content .login_frm li{}
		.login_content .login_frm li + li{margin-top:15px;}
		.login_content .login_frm li.btn_login{margin-top:20px;}
		.login_content .login_frm li input{width:100%;border-radius:30px;padding-left:28px;font-size:18px;}
		.login_content .login_frm li button{width:100%;height:70px;box-sizing:border-box;border-radius:35px;background:#11196b;border:1px solid #11196b;text-align:center;font-size:22px;color:#fff;font-weight:500;}
		.login_content legend{display: none;}
		.login_content .login_btn_wrap{margin-top:20px;text-align: left;}
		.login_content .login_btn_wrap:after{clear:both;content:"";display: block;}
		.login_content .login_btn_wrap .id_save{display: inline-block;box-sizing:border-box;}
		.login_content .login_btn_wrap .id_save label{line-height:28px;display:inline-block;padding-left:41px;letter-spacing:-0.4px;}
		.login_content .login_btn_wrap .id_save label:before{width:30px;height:30px;background:url('../img/chk_loign_off.png')no-repeat center;top:0;}
		.login_content .login_btn_wrap .id_save input:checked + label:before{background:url('../img/chk_loign_on.png')no-repeat center;}
		.login_content .login_btn_wrap .login_link{display: inline-block;vertical-align: top;float: right;font-size:0;margin-right:5px;}
		.login_content .login_btn_wrap .login_link li{display: inline-block;box-sizing:border-box;vertical-align: top;position: relative;}
		.login_content .login_btn_wrap .login_link li + li{margin-left:12px;padding-left:12px;}
		.login_content .login_btn_wrap .login_link li + li:before{width:1px;height:12px;content:"";background:#ddd;position: absolute;left:0;top:10px;}
		.login_content .login_btn_wrap .login_link li a{font-size:15px;color:#666;font-weight:400;line-height:30px;letter-spacing:0;}

	/*아이디, 비밀번호 찾기*/
		.login_content .find_tab + .login_box{margin-top:55px;}
		.login_content .find_tab{width:100%;font-size:0;text-align: center;margin-top:42px;}
		.login_content .find_tab li{display: inline-block;box-sizing:border-box;position: relative;}
		.login_content .find_tab li + li{margin-left:58px;padding-left:58px;}
		.login_content .find_tab li + li:before{width:1px;height:20px;content:"";background:#000;position: absolute;left:0;top:8px;opacity:0.2;}
		.login_content .find_tab li a{font-size:22px;color:#888;font-weight:300;}
		.login_content .find_tab li.on a{font-weight:500;color:#222;}

		/*정보를 못 찾을 때*/
			.login_content .find_no_box{margin-top:119px;}
			.login_content .find_no_box strong{font-size:20px;color:#11196b;font-weight:600;letter-spacing:-0.2px;}
			.login_content .find_no_box p{font-size:16px;color:#666;font-weight:400;letter-spacing:0;margin-top:20px;}
			.login_content .find_no_box a{display: inline-block;box-sizing:border-box;width:150px;height:60px;line-height:58px;border-radius:30px;background:#11196b;font-size:18px;color:#fff;font-weight:400;margin-top:57px;}				

		/*결과보기*/
			.login_content .result_box{margin-top:123px;}
			.login_content .result_box p{font-size:20px;color:#666;font-weight:400;line-height:32px;letter-spacing:0;}
			.login_content .result_box p span{color:#222;font-weight:500;}
			.login_content .result_box p strong{color:#11196b;font-weight:500;}
			.login_content .result_box a{display: inline-block;box-sizing:border-box;width:150px;height:60px;line-height:58px;border-radius:30px;background:#11196b;font-size:18px;color:#fff;font-weight:400;margin-top:57px;}			

		/*비밀번호 찾기 결과*/
			.login_content .result_box.pw_result{margin-top:90px;}
			.login_content .result_box.pw_result > span{display: block;font-size:16px;color:#666;font-weight:400;line-height:26px;margin-top:17px;letter-spacing:-0.2px;}

/*───────────────────────────────────────────────────────────

	 설문조사  |   SURVEY

───────────────────────────────────────────────────────────*/
	/*설문조사 팝업*/
		.survey_pop{width:500px;position: fixed;top:50%;left:50%;transform:translate(-50%, -50%);z-index:500;}
		.survey_pop .survey_box{width:100%;height:100%;box-sizing:border-box;position: relative;text-align: center;background:#fff;padding:75px 0;}
		.survey_pop .survey_box .pop_close{width:26px;height:26px;position: absolute;top:10px;right:-41px;}
		.survey_pop .survey_box .pop_close a{display: block;width:100%;height:100%;position: relative;}
		.survey_pop .survey_box .pop_close a span{display: inline-block;width:100%;height:1px;background:#fff;position: absolute;top:50%;left:0;}
		.survey_pop .survey_box .pop_close a span:nth-child(1){transform:rotate(45deg);}
		.survey_pop .survey_box .pop_close a span:nth-child(2){transform:rotate(-45deg);}
		.survey_pop .survey_box p{font-size:20px;color:#333;font-weight:500;line-height:36px;font-family:'Noto Sans KR';}
		.survey_pop .survey_box > a{display: inline-block;box-sizing:border-box;width:180px;height:60px;line-height:58px;border-radius:30px;background:#11196b;font-size:18px;color:#fff;font-weight:400;margin-top:52px;}

		/*메인 팝업*/
			.survey_pop.main_survey{height:335px;}

		/*체크 다 하지 않았을 경우*/
			.survey_pop.no_chk{box-shadow:5px 8.7px 36px 0 rgba(0, 0, 0, 0.3);}
			.survey_pop.no_chk strong{font-size:20px;color:#11196b;font-weight:500;}
			.survey_pop.no_chk p{font-size:16px;color:#666;font-weight:400;line-height:26px;margin-top:18px;}

		/*체크 다 했을 경우*/
			.survey_pop.survey_fin strong{font-size:20px;color:#11196b;font-weight:500;}
			.survey_pop.survey_fin p{font-size:16px;color:#666;font-weight:400;line-height:26px;margin-top:18px;}

	/*설문지 작성*/
		.sub_survey{width:100%;background:#eef1f6;box-sizing:border-box;padding:101px 0 173px;}
		.sub_survey .sub_content{box-sizing:border-box;background:#fff;border-radius:15px;overflow:hidden;}
		.sub_survey .survey_tit{width:100%;text-align: center;box-sizing:border-box;background:#11196b;border-radius:15px 15px 0 0;padding:66px 0 54px;}
		.sub_survey .survey_tit h3{font-size:40px;color:#fff;font-weight:500;letter-spacing:-1.7px;}
		.sub_survey .survey_tit p{font-size:18px;color:#fff;font-weight:400;letter-spacing:-0.8px;margin-top:22px;line-height:30px;}

		.sub_survey .survey_content{width:100%;box-sizing:border-box;padding:55px 60px 101px 60px;text-align: center;}
		.sub_survey .survey_content > p{font-size:16px;color:#666;font-weight:400;letter-spacing:-0.7px;font-family:'Noto Sans KR';text-align:left;}
		.sub_survey .survey_content ul{margin-top:18px;}
		.sub_survey .survey_content ul li + li{margin-top:59px;}
		.sub_survey .survey_content form legend{display: none;}
		.sub_survey .survey_content ul li table{width:100%;}
		.sub_survey .survey_content ul li table tr th, .sub_survey .survey_content ul li table tr td{box-sizing:border-box;}
		.sub_survey .survey_content ul li table thead tr th{border-top:2px solid #000;border-bottom:1px solid #000;font-size:17px;color:#333;font-weight:500;letter-spacing:-0.51px;text-align:center;height:61px;}
		.sub_survey .survey_content ul li table thead tr th.survey_sub_tit{font-size:20px;color:#333;font-weight:500;letter-spacing:-0.9px;padding:42px 0 46px 30px;border-right:1px solid #000;text-align:left;width:730px;}
		.sub_survey .survey_content ul li table thead tr.survey_score td{font-size:17px;color:#333;font-weight:600;letter-spacing:-0.51px;font-family:'Titillium Web', sans-serif;text-align: center;border-bottom:1px solid #000;width:70px;}
		.sub_survey .survey_content ul li table thead tr.survey_score td + td{border-left:1px solid #ddd;}
		.sub_survey .survey_content ul li table tbody tr td{border-bottom:1px solid #ddd;text-align:center;}
		.sub_survey .survey_content ul li table tbody tr td + td{border-left:1px solid #ddd;}
		.sub_survey .survey_content ul li table tbody tr td.survey_sbj + td{border-left:none;}
		.sub_survey .survey_content ul li table tbody tr td.survey_sbj{font-size:16px;color:#666;font-weight:400;letter-spacing:-0.7px;line-height:26px;text-align:left;padding:16px 0 16px 29px;border-right:1px solid #ddd;}
		.sub_survey .survey_content ul li table tbody tr td.survey_sbj span{display: inline-block;vertical-align: top;width:auto;}
		.sub_survey .survey_content ul li table tbody tr td.survey_sbj p{display: inline-block;width:calc(100% - 50px);vertical-align: top;}
		.sub_survey .survey_content ul li table tbody tr td input + label{padding:0;width:100%;height:59px;display: block;}
		.sub_survey .survey_content ul li table tbody tr td input + label:before{top:calc(50% - 10.5px);left:calc(50% - 10.5px);}

		.sub_survey .survey_content ul li.survey_txt_box table thead tr th.survey_sub_tit{padding:16px 0 18px 30px;border-right:none;}
		.sub_survey .survey_content ul li.survey_txt_box table tbody tr td{padding:30px;}
		.sub_survey .btn_survey_submit{display: inline-block;box-sizing:border-box;margin-top:60px;width:180px;height:60px;line-height:56px;border-radius:30px;background:#11196b;font-size:18px;color:#fff;font-weight:300;letter-spacing:0.9px;vertical-align: top;cursor:pointer;}
		
		/*추후 제거*/
		.sub_survey .no_chk_btn{display: inline-block;box-sizing:border-box;margin-top:60px;width:180px;height:60px;line-height:56px;border-radius:30px;background:#11196b;font-size:18px;color:#fff;font-weight:300;letter-spacing:0.9px;}
