@charset "utf-8";
/* CSS Document */
/*
font-family: 'Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;
font-family: 'Titillium Web','Noto Sans KR',-apple-system,Roboto,'Helvetica Neue','Apple SD Gothic Neo',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;
*/
@import url('//fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap');

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none;vertical-align:top;}
dl,ul,ol,li {list-style:none}
blockquote, q {quotes: none}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none}
input,select,textarea,button {vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
body {background:#fff}
body,th,td,input,select,textarea,button {font-size:12px;line-height:1.5;font-family:'Noto Sans KR',-apple-system,BlinkMacSystemFont,system-ui,Roboto,'Helvetica Neue','Segoe UI','Apple SD Gothic Neo','Noto Sans KR',Malgun Gothic,'맑은 고딕',AppleGothic,Dotum,'돋움',sans-serif;color:#333;letter-spacing:-0.03em; word-break:keep-all;} /* color값은 디자인가이드에 맞게사용 */
a {color:#333;text-decoration:none}
a:active, a:hover {text-decoration:none;}
address,caption,cite,code,dfn,em,var {font-style:normal;font-weight:normal}
img{max-width:100%;}
em{font-style:normal;}
table{border-spacing:0;}
img{max-width:100%;}