<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual mypage_notice_list">
	<h3>수강중인 과목 </h3>
	<span>CLASS</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class=""><a href="../mypage/index.html">마이페이지</a></li>
		<li class="on">수강중인 과목</li>
	</ul>
</div>
<div class="sub_content">
	<?php
		include '../mypage/mypage_info.html';
	?>
	<div class="mypage_wrap">
		<div class="side_cata">
			<ul>
				<li><a href="../mypage/notice_list.html">공지사항</a></li>
				<li><a href="../mypage/study_list.html">학습하기</a></li>
				<li><a href="../mypage/material_list.html">강의 자료</a></li>
				<li><a href="../mypage/qa_list.html">Q&A</a></li>
				<li class="on"><a href="../mypage/discussion_list.html">토론방</a></li>
			</ul>
		</div>
		<div class="mypage_cont">
			<table class="board_table">
				<colgroup>
					<col width="100px">
					<col width="">
					<col width="120px">
					<col width="120px">
					<col width="100px">
				</colgroup>
				<thead>
					<tr>
						<th>No.</th>
						<th>제목</th>
						<th>등록일자</th>
						<th>작성자</th>
						<th>댓글</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="no">10</td>
						<td class="tittle">
							<a href="">지도학습과 비지도 학습의 효율성 비교</a>
						</td>
						<td class="period">2022.01.11</td>
						<td class="type">선생님</td>
						<td class="period">10</td>
					</tr>
					<tr>
						<td class="no">9</td>
						<td class="tittle">
							<a href="">지도학습과 비지도 학습의 효율성 비교</a>
						</td>
						<td class="period">2022.01.05</td>
						<td class="type">선생님</td>
						<td class="period">0</td>
					</tr>
					<tr>
						<td class="no">8</td>
						<td class="tittle">
							<a href="">지도학습과 비지도 학습의 효율성 비교</a>
						</td>
						<td class="period">2022.01.04</td>
						<td class="type">선생님</td>
						<td class="period">10</td>
					</tr>
					<tr>
						<td class="no">7</td>
						<td class="tittle">
							<a href="">지도학습과 비지도 학습의 효율성 비교 지도학습과 비지도 학습의 효율성 비교</a>
						</td>
						<td class="period">2022.01.03</td>
						<td class="type">선생님</td>
						<td class="period">0</td>
					</tr>
					<tr>
						<td class="no">6</td>
						<td class="tittle">
							<a href="">지도학습과 비지도 학습의 효율성 비교 지도학습과 비지도 학습의 효율성 비교</a>
						</td>
						<td class="period">2022.01.03</td>
						<td class="type">선생님</td>
						<td class="period">5</td>
					</tr>
					<tr>
						<td class="no">5</td>
						<td class="tittle">
							<a href="">지도학습과 비지도 학습의 효율성 비교 지도학습과 비지도 학습의 효율성 비교</a>
						</td>
						<td class="period">2022.01.02</td>
						<td class="type">선생님</td>
						<td class="period">4</td>
					</tr>
					<tr>
						<td class="no">4</td>
						<td class="tittle">
							<a href="">지도학습과 비지도 학습의 효율성 비교 지도학습과 비지도 학습의 효율성 비교</a>
						</td>
						<td class="period">2022.01.02</td>
						<td class="type">선생님</td>
						<td class="period">3</td>
					</tr>
					<tr>
						<td class="no">3</td>
						<td class="tittle">
							<a href="">지도학습과 비지도 학습의 효율성 비교 지도학습과 비지도 학습의 효율성 비교</a>
						</td>
						<td class="period">2022.01.01</td>
						<td class="type">선생님</td>
						<td class="period">2</td>
					</tr>
					<tr>
						<td class="no">2</td>
						<td class="tittle">
							<a href="">지도학습과 비지도 학습의 효율성 비교 지도학습과 비지도 학습의 효율성 비교</a>
						</td>
						<td class="period">2022.01.01</td>
						<td class="type">선생님</td>
						<td class="period">1</td>
					</tr>
					<tr>
						<td class="no">1</td>
						<td class="tittle">
							<a href="">지도학습과 비지도 학습의 효율성 비교 지도학습과 비지도 학습의 효율성 비교</a>
						</td>
						<td class="period">2022.01.01</td>
						<td class="type">선생님</td>
						<td class="period">0</td>
					</tr>
				</tbody>
			</table>
			<div class="paging">
				<ul>
					<li class="first arr"><a href="">처음으로</a></li>
					<li class="prev arr"><a href="">이전으로</a></li>
					<li class="on"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li class="next arr"><a href="">다음으로</a></li>
					<li class="last arr"><a href="">마지막으로</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<div class="board_view_layer discussion_view dn">
	<button class="close_btn"></button>
	<div class="inquiry_view_popup">
		<div class="tit_wrap">
			<h3>지도학습과 비지도 학습의 효율성 비교</h3>
			<span>2022.01.03</span>
		</div>
		<div class="cont">
			<p>안녕하세요. <br>지도 학습과 비지도 학습의 적용 분야별로 효율성 측면에서 장단점은 무엇일까요? <br>답변부탁드립니다.</p>
		</div>
		<div class="tit_wrap">
			<h5>댓글 <strong>2</strong>건</h5>
		</div>
		<div class="comment">
			<form method="post" action="">
				<ul class="ment_list">
					<li>
						<dl>
							<dt>고산나</dt>
							<dd>너무 어렵네요.<span>2022.01.03</span></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>고둘리</dt>
							<dd>정말 궁금해요.<span>2022.01.03</span></dd>
						</dl>
						<button class="comment_del_btn">삭제</button>
					</li>
				</ul>
				<div class="ment_input">
					<dl>
						<dt>댓글</dt>
						<dd>
							<textarea name="" rows="" cols=""></textarea>
							<button class="ment_btn">등록</button>
						</dd>
					</dl>
				</div>
			</form>
		</div>
		<div class="btn_center">
			<a href="" class="cancel_btn">취소</a>
			<a href="" class="ok_btn">저장하기</a>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		//qa View
			$(".mypage_cont .board_table .tittle a").on("click", function(){
				$(".board_view_layer.discussion_view, #layer_dim").removeClass("dn");
				$("body").css("overflow","hidden")
				return false;
			});
			$(".board_view_layer .cancel_btn, .board_view_layer .close_btn, #layer_dim").on("click", function(){
				$(".board_view_layer, #layer_dim").addClass("dn");
				$("body").css("overflow","")
				return false;
			});
			$(".board_view_layer .comment .comment_del_btn").on("click", function(){
				$(this).parent("li").css("display","none");
				return false;
			});
	});
</script>