<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual mypage">
	<h3>마이페이지</h3>
	<span>MYPAGE</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">마이페이지</li>
	</ul>
</div>
<div class="sub_content">
	<div class="mypage index">
		<div class="mypage_teb">
			<ul>
				<li class="on"><a href="../mypage/index.html">강의실</a></li>
				<li><a href="../mypage/history_list.html">수강 이력</a></li>
				<li><a href="../mypage/payment_list.html">결제 내역</a></li>
				<li><a href="../mypage/information.html">내 정보</a></li>
				<li>
					<a href="../mypage/message.html">받은 쪽지함</a>
					<span class="count">2</span>
				</li>
			</ul>
		</div>
		<form method="post" action="">
			<div class="mypage_sec mypage_sec_01">
				<div class="sec_tit">
					<h4>수강중인 과목</h4>
				</div>
				<div class="sec_cont">
					<div class="cont_tit">
						<h5>전체 진행률은 <strong>32%</strong> 입니다.</h5>
					</div>
					<div class="select_wrap">
						<ul class="search_sel">
							<li>
								<a href="">정렬</a>
								<ul class="dn">
									<li><a href="">날짜순(오래된 순)</a></li>
									<li><a href="">날짜순(최신 순)</a></li>
									<li><a href="">진도율(높은 순)</a></li>
									<li><a href="">진도율(낮은 순)</a></li>
									<li><a href="">수강 과목 이름 순(가나다)</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<table class="board_table">
						<colgroup>
							<col width="85px">
							<col width="">
							<col width="230px">
							<col width="130px">
							<col width="175px">
						</colgroup>
						<thead>
							<tr>
								<th>No.</th>
								<th>수강 과정</th>
								<th>학습기간</th>
								<th>진도율</th>
								<th>입장하기</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="no">2</td>
								<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급</a></td>
								<td class="period">2022.01.21 ~ 2022.02.31</td>
								<td class="percent"><strong>34</strong>%</td>
								<td><span class="enrolment_btn apply" onclick="location.href='../mypage/study_view.html'">입장하기</span></td>
							</tr>
							<tr>
								<td class="no">1</td>
								<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급 빅데이터 엔지니어 초급</a></td>
								<td class="period">2022.01.21 ~ 2022.02.31</td>
								<td class="percent"><strong>34</strong>%</td>
								<td><span class="enrolment_btn apply" onclick="location.href='../mypage/study_view.html'">입장하기</span></td>
							</tr>
						</tbody>
					</table>
					<div class="paging">
						<ul>
							<li class="first arr"><a href="">처음으로</a></li>
							<li class="prev arr"><a href="">이전으로</a></li>
							<li class="on"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
							<li class="next arr"><a href="">다음으로</a></li>
							<li class="last arr"><a href="">마지막으로</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="mypage_sec mypage_sec_02">
				<div class="sec_tit">
					<h4>내가 올린 질문들</h4>
					<p>최신 질문만 표시됩니다. <br>이전 질문들은 상세보기를 누르세요.</p>
					<div class="btn_left">
						<a href="" class="cancel_btn small_btn">상세 보기</a>
					</div>
				</div>
				<div class="sec_cont">
					<table class="board_table">
						<colgroup>
							<col width="85px">
							<col width="">
							<col width="155px">
							<col width="120px">
							<col width="120px">
							<col width="200px">
						</colgroup>
						<thead>
							<tr>
								<th>No.</th>
								<th>수강 과정</th>
								<th>제목</th>
								<th>등록일</th>
								<th>답변 상태</th>
								<th>수정</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="no">2</td>
								<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급</a></td>
								<td class="tittle"><a href="../mypage/qa_list.html">질문 있어요</a></td>
								<td class="period">2022.01.10</td>
								<td class="percent">댓글 <strong>2</strong>개</td>
								<td><span class="enrolment_btn">수정하기</span><span class="enrolment_btn del">삭제하기</span></td>
							</tr>
							<tr>
								<td class="no">1</td>
								<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급 빅데이터 엔지니어 초급</a></td>
								<td class="tittle"><a href="../mypage/qa_list.html">질문 있어요</a></td>
								<td class="period">2022.01.10</td>
								<td class="percent">댓글 <strong>2</strong>개</td>
								<td><span class="enrolment_btn">수정하기</span><span class="enrolment_btn del">삭제하기</span></td>
							</tr>
						</tbody>
					</table>
					<div class="paging">
						<ul>
							<li class="first arr"><a href="">처음으로</a></li>
							<li class="prev arr"><a href="">이전으로</a></li>
							<li class="on"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
							<li class="next arr"><a href="">다음으로</a></li>
							<li class="last arr"><a href="">마지막으로</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="mypage_sec mypage_sec_03">
				<div class="sec_tit">
					<h4>내가 올린 댓글들</h4>
					<p>최신 댓글만 표시됩니다. <br>이전 댓글들은 상세보기를 누르세요</p>
					<div class="btn_left">
						<a href="" class="cancel_btn small_btn">상세 보기</a>
					</div>
				</div>
				<div class="sec_cont">
					<table class="board_table">
						<colgroup>
							<col width="85px">
							<col width="">
							<col width="200px">
							<col width="120px">
							<col width="200px">
						</colgroup>
						<thead>
							<tr>
								<th>No.</th>
								<th>수강 과정</th>
								<th>제목</th>
								<th>등록일</th>
								<th>수정</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="no">5</td>
								<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급</a></td>
								<td class="tittle"><a href="../mypage/qa_list.html">비지도 학습 질문</a></td>
								<td class="period">2022.01.10</td>
								<td><span class="enrolment_btn">수정하기</span><span class="enrolment_btn del">삭제하기</span></td>
							</tr>
							<tr>
								<td class="no">4</td>
								<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급</a></td>
								<td class="tittle"><a href="../mypage/discussion_list.html">비지도 학습 질문</a></td>
								<td class="period">2022.01.10</td>
								<td><span class="enrolment_btn">수정하기</span><span class="enrolment_btn del">삭제하기</span></td>
							</tr>
							<tr>
								<td class="no">3</td>
								<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급 빅데이터 엔지니어 초급</a></td>
								<td class="tittle"><a href="../mypage/qa_list.html">비지도 학습 질문</a></td>
								<td class="period">2022.01.10</td>
								<td><span class="enrolment_btn">수정하기</span><span class="enrolment_btn del">삭제하기</span></td>
							</tr>
							<tr>
								<td class="no">2</td>
								<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급 빅데이터 엔지니어 초급</a></td>
								<td class="tittle"><a href="../mypage/discussion_list.html">비지도 학습 질문</a></td>
								<td class="period">2022.01.10</td>
								<td><span class="enrolment_btn">수정하기</span><span class="enrolment_btn del">삭제하기</span></td>
							</tr>
							<tr>
								<td class="no">1</td>
								<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급 빅데이터 엔지니어 초급</a></td>
								<td class="tittle"><a href="../mypage/qa_list.html">비지도 학습 질문</a></td>
								<td class="period">2022.01.10</td>
								<td><span class="enrolment_btn">수정하기</span><span class="enrolment_btn del">삭제하기</span></td>
							</tr>
						</tbody>
					</table>
					<div class="paging">
						<ul>
							<li class="first arr"><a href="">처음으로</a></li>
							<li class="prev arr"><a href="">이전으로</a></li>
							<li class="on"><a href="">1</a></li>
							<li><a href="">2</a></li>
							<li><a href="">3</a></li>
							<li><a href="">4</a></li>
							<li><a href="">5</a></li>
							<li class="next arr"><a href="">다음으로</a></li>
							<li class="last arr"><a href="">마지막으로</a></li>
						</ul>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<div class="board_view_layer mypage_sec_02 questions dn">
	<button class="close_btn"></button>
	<div class="mypage_popup">
		<div class="tit_wrap">
			<h3>내가 올린 질문들 상세보기</h3>
		</div>
		<div class="cont">
			<form method="post" action="">
				<div class="goods_search_box">
					<div class="select_wrap">
						<h4 class="select_tit">과정명</h4>
						<ul class="search_sel">
							<li>
								<a href="">전체</a>
								<ul class="dn">
									<li><a href="">전체</a></li>
									<li><a href="">빅데이터엔지니어 초급</a></li>
									<li><a href="">빅데이터엔지니어 중급</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<button class="cont_search_btn"></button>
				</div>
				<div class="select_wrap">
					<ul class="search_sel">
						<li>
							<a href="">정렬</a>
							<ul class="dn">
								<li><a href="">날짜순(오래된 순)</a></li>
								<li><a href="">날짜순(최신 순)</a></li>
								<li><a href="">진도율(높은 순)</a></li>
								<li><a href="">진도율(낮은 순)</a></li>
								<li><a href="">수강 과목 이름 순(가나다)</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<table class="board_table">
					<colgroup>
						<col width="85px">
						<col width="">
						<col width="155px">
						<col width="120px">
						<col width="120px">
						<col width="200px">
					</colgroup>
					<thead>
						<tr>
							<th>No.</th>
							<th>수강 과정</th>
							<th>제목</th>
							<th>등록일</th>
							<th>답변 상태</th>
							<th>수정</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="no">2</td>
							<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급</a></td>
							<td class="tittle"><a href="../mypage/qa_list.html">질문 있어요</a></td>
							<td class="period">2022.01.10</td>
							<td class="percent">댓글 <strong>2</strong>개</td>
							<td><span class="enrolment_btn">수정하기</span><span class="enrolment_btn del">삭제하기</span></td>
						</tr>
						<tr>
							<td class="no">1</td>
							<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급 빅데이터 엔지니어 초급</a></td>
							<td class="tittle"><a href="../mypage/qa_list.html">질문 있어요</a></td>
							<td class="period">2022.01.10</td>
							<td class="percent">댓글 <strong>2</strong>개</td>
							<td><span class="enrolment_btn">수정하기</span><span class="enrolment_btn del">삭제하기</span></td>
						</tr>
					</tbody>
				</table>
				<div class="paging">
					<ul>
						<li class="first arr"><a href="">처음으로</a></li>
						<li class="prev arr"><a href="">이전으로</a></li>
						<li class="on"><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">4</a></li>
						<li><a href="">5</a></li>
						<li class="next arr"><a href="">다음으로</a></li>
						<li class="last arr"><a href="">마지막으로</a></li>
					</ul>
				</div>
				<p>해당 수강 과정을 클릭하면 해당 과정의 Q&A방으로 이동합니다.</p>
			</form>
		</div>
	</div>
</div>
<div class="board_view_layer mypage_sec_02 comment dn">
	<button class="close_btn"></button>
	<div class="mypage_popup">
		<div class="tit_wrap">
			<h3>내가 올린 댓글들 상세보기</h3>
		</div>
		<div class="cont">
			<form method="post" action="">
				<div class="goods_search_box">
					<div class="select_wrap">
						<h4 class="select_tit">과정명</h4>
						<ul class="search_sel">
							<li>
								<a href="">전체</a>
								<ul class="dn">
									<li><a href="">전체</a></li>
									<li><a href="">빅데이터엔지니어 초급</a></li>
									<li><a href="">빅데이터엔지니어 중급</a></li>
								</ul>
							</li>
						</ul>
					</div>
					<button class="cont_search_btn"></button>
				</div>
				<div class="select_wrap">
					<ul class="search_sel">
						<li>
							<a href="">정렬</a>
							<ul class="dn">
								<li><a href="">날짜순(오래된 순)</a></li>
								<li><a href="">날짜순(최신 순)</a></li>
								<li><a href="">진도율(높은 순)</a></li>
								<li><a href="">진도율(낮은 순)</a></li>
								<li><a href="">수강 과목 이름 순(가나다)</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<table class="board_table">
					<colgroup>
						<col width="85px">
						<col width="">
						<col width="155px">
						<col width="120px">
						<col width="120px">
						<col width="200px">
					</colgroup>
					<thead>
						<tr>
							<th>No.</th>
							<th>수강 과정</th>
							<th>제목</th>
							<th>등록일</th>
							<th>내 답변</th>
							<th>수정</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="no">2</td>
							<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급</a></td>
							<td class="tittle"><a href="../mypage/qa_list.html">질문 있어요</a></td>
							<td class="period">2022.01.10</td>
							<td class="percent">댓글 <strong>2</strong>개</td>
							<td><span class="enrolment_btn">수정하기</span><span class="enrolment_btn del">삭제하기</span></td>
						</tr>
						<tr>
							<td class="no">1</td>
							<td class="tittle"><a href="../goods/search_view.html">빅데이터 엔지니어 초급 빅데이터 엔지니어 초급</a></td>
							<td class="tittle"><a href="../mypage/discussion_list.html">질문 있어요</a></td>
							<td class="period">2022.01.10</td>
							<td class="percent">댓글 <strong>2</strong>개</td>
							<td><span class="enrolment_btn">수정하기</span><span class="enrolment_btn del">삭제하기</span></td>
						</tr>
					</tbody>
				</table>
				<div class="paging">
					<ul>
						<li class="first arr"><a href="">처음으로</a></li>
						<li class="prev arr"><a href="">이전으로</a></li>
						<li class="on"><a href="">1</a></li>
						<li><a href="">2</a></li>
						<li><a href="">3</a></li>
						<li><a href="">4</a></li>
						<li><a href="">5</a></li>
						<li class="next arr"><a href="">다음으로</a></li>
						<li class="last arr"><a href="">마지막으로</a></li>
					</ul>
				</div>
				<p>해당 수강 과정을 클릭하면 해당 과정의 Q&A방 또는 토론방으로 이동합니다.</p>
			</form>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		//검색 옵션 선택
			$(".search_sel li a").on("click", function(){
				$(this).next("ul").toggleClass("dn")
				return false;
			});
			$(".search_sel > li > ul li a").on("click", function(){
				var option = $(this).html()
				$(this).parent().parent("ul").addClass("dn").siblings("a").html(option)
				return false;
			});
			$("#wrap").on("click", function (e){
				var search_sel = $(".search_sel");
				if( search_sel.has(e.target).length === 0){
				  $(".search_sel > li > ul").addClass("dn")
				}
			});
		//상세보기 View
			$(".mypage_sec_02 .cancel_btn").on("click", function(){
				$(".board_view_layer.questions, #layer_dim").removeClass("dn");
				$("body").css("overflow","hidden")
				return false;
			});
			$(".mypage_sec_03 .cancel_btn").on("click", function(){
				$(".board_view_layer.comment, #layer_dim").removeClass("dn");
				$("body").css("overflow","hidden")
				return false;
			});
			$(".board_view_layer .close_btn, #layer_dim").on("click", function(){
				$(".board_view_layer, #layer_dim").addClass("dn");
				$("body").css("overflow","")
				return false;
			});
	});
</script>