<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual mypage">
	<h3>마이페이지</h3>
	<span>MYPAGE</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">마이페이지</li>
	</ul>
</div>
<div class="sub_content">
	<div class="mypage">
		<div class="mypage_teb">
			<ul>
				<li><a href="../mypage/index.html">강의실</a></li>
				<li><a href="../mypage/history_list.html">수강 이력</a></li>
				<li><a href="../mypage/payment_list.html">결제 내역</a></li>
				<li class="on"><a href="../mypage/information.html">내 정보</a></li>
				<li>
					<a href="../mypage/message.html">받은 쪽지함</a>
					<span class="count">2</span>
				</li>
			</ul>
		</div>
		<div class="mypage_wrap information">
			<div class="study_index">
				<div class="cont">
					<h5>내 정보
						<a href="../mypage/secession.html" class="secession_btn">회원탈퇴</a>
					</h5>
					<dl>
						<dt>아이디</dt>
						<dd>foresight1234</dd>
					</dl>
					<dl>
						<dt>이메일</dt>
						<dd>foresight1@naver.com</dd>
					</dl>
					<dl>
						<dt>휴대폰</dt>
						<dd>010-1234-1234</dd>
					</dl>
					<dl>
						<dt>지역</dt>
						<dd>강원도 원주시</dd>
					</dl>
					<div class="btn_center">
						<a href="../mypage/information.html" class="ok_btn">정보 수정</a>
					</div>
				</div>
			</div>
			<div class="mypage_cont">
				<div class="profile_info">
					<ul class="profile_teb">
						<li class="on" rel="profile_teb01"><a href="">프로필 정보 변경</a></li>
						<li rel="profile_teb02"><a href="">비밀번호 변경</a></li>
					</ul>
					<div class="profile_cont">
						<div class="profile_box on" id="profile_teb01">
							<form method="post" action="">
								<div class="profile_tit">
									<span><img src="../img/profile_logo.png" alt="로고"></span>
								</div>
								<dl>
									<dt>이름</dt>
									<dd>홍길동</dd>
								</dl>
								<dl>
									<dt>생년월일</dt>
									<dd>1998.10.10</dd>
								</dl>
								<dl>
									<dt>아이디</dt>
									<dd>foresight1234</dd>
								</dl>
								<dl>
									<dt>이메일</dt>
									<dd><input type="text" name="" value="foresight1@naver.com"></dd>
								</dl>
								<dl>
									<dt>휴대폰</dt>
									<dd><input type="text" name="" value="01012341234"></dd>
								</dl>
								<dl>
									<dt>지역</dt>
									<dd>
										<div class="select_wrap">
											<ul class="search_sel">
												<li>
													<a href="">도/시 선택</a>
													<ul class="dn">
														<li><a href="">서울특별시</a></li>
														<li><a href="">강원도</a></li>
														<li><a href="">제주도</a></li>
													</ul>
												</li>
											</ul>
											<ul class="search_sel">
												<li>
													<a href="">선택</a>
													<ul class="dn">
														<li><a href="">구로구</a></li>
														<li><a href="">원주시</a></li>
														<li><a href="">제주시</a></li>
													</ul>
												</li>
											</ul>
										</div>
									</dd>
								</dl>
								<dl>
									<dt>메일수신</dt>
									<dd>
										<input type="radio" name="receive_mail02" id="receive_mail2_chk01"><label for="receive_mail2_chk01">수신동의</label>
										<input type="radio" name="receive_mail02" id="receive_mail2_chk02"><label for="receive_mail2_chk02">수신거부</label>
									</dd>
								</dl>
								<dl>
									<dt>SMS수신</dt>
									<dd>
										<input type="radio" name="receive_sms02" id="receive_sms02_chk01"><label for="receive_sms02_chk01">수신동의</label>
										<input type="radio" name="receive_sms02" id="receive_sms02_chk02"><label for="receive_sms02_chk02">수신거부</label>
									</dd>
								</dl>
								<div class="btn_center">
									<a href="" class="cancel_btn">저장하기</a>
								</div>
							</form>
						</div>
						<div class="profile_box" id="profile_teb02">
							<form method="post" action="">
								<div class="profile_tit">
									<span><img src="../img/profile_logo.png" alt="로고"></span>
								</div>
								<dl>
									<dt>기존 비밀번호</dt>
									<dd><input type="password" name="" id="now_pass"></dd>
								</dl>
								<dl>
									<dt>신규 비밀번호</dt>
									<dd><input type="password" name="" id="new_pass"></dd>
								</dl>
								<dl>
									<dt>비밀번호 확인</dt>
									<dd><input type="password" name="" id="new_pass_confirm"></dd>
								</dl>
								<div class="btn_center"> 
									<button type="submit" class="cancel_btn">저장하기</button>
									
								</div>
							<form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<div class="alert_layer information dn">
	<h4>안내메세지</h4>
	<p>확인하고 다시 입력해 주시길 바랍니다.</p>
	<div class="btn_center">
		<a href="" class="ok_btn">확인</a>
	</div>
</div>
<script>
	$(document).ready(function(){
		//검색 옵션 선택
			$(".search_sel li a").on("click", function(){
				$(this).next("ul").toggleClass("dn")
				return false;
			});
			$(".search_sel > li > ul li a").on("click", function(){
				var option = $(this).html()
				$(this).parent().parent("ul").addClass("dn").siblings("a").html(option)
				return false;
			});
			$("#wrap").on("click", function (e){
				var search_sel = $(".search_sel");
				if( search_sel.has(e.target).length === 0){
				  $(".search_sel > li > ul").addClass("dn")
				}
			});
		//프로필 정보, 비밀번호 탭메뉴
			$(".profile_teb > li").each(function(){
				$(this).click(function(){
					$(".profile_teb > li, .profile_cont > div").removeClass("on");
					$(this).addClass("on");
					var TabOn = $(this).attr("rel");
					$("#" + TabOn).addClass('on');
					return false;
				});
			});
		//비밀번호 확인
			$("#profile_teb02 .cancel_btn").on("click", function(){
				let pw = $("#new_pass").val();
				let number = pw.search(/[0-9]/g);
				let english = pw.search(/[a-z]/ig);
				let spece = pw.search(/[`~!@@#$%^&*|₩₩₩'₩";:₩/?]/gi);
				let reg = /^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$/;
				
				if($("#now_pass").val() != 'asdfasdf11'){
					$(".alert_layer > h4").css("color","").html("기존 비밀번호와 <br>입력하신 비밀번호가 다릅니다.");
					$(".alert_layer > p").removeClass("dn");
					$(".alert_layer").removeClass("dn");
					return false;
				} else if($("#new_pass").val() != $("#new_pass_confirm").val()){
					$(".alert_layer > h4").css("color","").html("입력하신 신규 비밀번호가 <br>서로 다릅니다.");
					$(".alert_layer > p").removeClass("dn");
					$(".alert_layer").removeClass("dn");
					return false;
				}  else if (/(\w)\1\1/.test(pw) || /(012)|(123)|(234)|(345)|(456)|(567)|(678)|(789)|(890)/.test(pw) || (spece < 0 || number < 0)) {
					$(".alert_layer > h4").css("color","#333").html("비밀번호는 3개 연속된 문자 입력은 <br>허용하지 않으며, 특수문자 1개 이상이 <br>포함되어야 합니다.");
					$(".alert_layer > p").addClass("dn");
					$(".alert_layer").removeClass("dn");
					return false;
				}
			});
		//비밀번호 레이어 확인 버튼
			$(".alert_layer .ok_btn").on("click", function(){
				$(".alert_layer").addClass("dn");
				return false;
			});

	});
</script>