<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual mypage_notice_list">
	<h3>수강중인 과목 </h3>
	<span>CLASS</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class=""><a href="../mypage/index.html">마이페이지</a></li>
		<li class="on">수강중인 과목</li>
	</ul>
</div>
<div class="sub_content">
	<?php
		include '../mypage/mypage_info.html';
	?>
	<div class="mypage_wrap">
		<div class="side_cata">
			<ul>
				<li><a href="../mypage/notice_list.html">공지사항</a></li>
				<li><a href="../mypage/study_list.html">학습하기</a></li>
				<li class="on"><a href="../mypage/material_list.html">강의 자료</a></li>
				<li><a href="../mypage/qa_list.html">Q&A</a></li>
				<li><a href="../mypage/discussion_list.html">토론방</a></li>
			</ul>
		</div>
		<div class="mypage_cont">
			<table class="board_table">
				<colgroup>
					<col width="100px">
					<col width="">
					<col width="120px">
					<col width="120px">
					<col width="100px">
				</colgroup>
				<thead>
					<tr>
						<th>No.</th>
						<th>제목</th>
						<th>등록일자</th>
						<th>작성자</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="no">10</td>
						<td class="tittle">
							<a href="">
								<span class="board_img"><img src="../img/board_table_file_img.png" alt="파일첨부"></span>
								영상 컨텐츠 1강 자료가 추가되었습니다.
							</a>
						</td>
						<td class="period">2022.01.11</td>
						<td class="type">선생님</td>
						<td class="period">100</td>
					</tr>
					<tr>
						<td class="no">9</td>
						<td class="tittle">
							<a href="">
								<span class="board_img"><img src="../img/board_table_file_img.png" alt="파일첨부"></span>
								영상 컨텐츠 1강 자료가 추가되었습니다.
							</a>
						</td>
						<td class="period">2022.01.05</td>
						<td class="type">선생님</td>
						<td class="period">89</td>
					</tr>
					<tr>
						<td class="no">8</td>
						<td class="tittle">
							<a href="">
								<span class="board_img"><img src="../img/board_table_file_img.png" alt="파일첨부"></span>
								영상 컨텐츠 1강 자료가 추가되었습니다.
							</a>
						</td>
						<td class="period">2022.01.05</td>
						<td class="type">선생님</td>
						<td class="period">85</td>
					</tr>
					<tr>
						<td class="no">7</td>
						<td class="tittle">
							<a href="">
								<span class="board_img"><img src="../img/board_table_file_img.png" alt="파일첨부"></span>
								영상 컨텐츠 1강 자료가 추가되었습니다. 영상 컨텐츠 1강 자료가 추가되었습니다.
							</a>
						</td>
						<td class="period">2022.01.01</td>
						<td class="type">선생님</td>
						<td class="period">80</td>
					</tr>
					<tr>
						<td class="no">6</td>
						<td class="tittle">
							<a href="">
								<span class="board_img"><img src="../img/board_table_file_img.png" alt="파일첨부"></span>
								영상 컨텐츠 1강 자료가 추가되었습니다. 영상 컨텐츠 1강 자료가 추가되었습니다.
							</a>
						</td>
						<td class="period">2022.01.01</td>
						<td class="type">선생님</td>
						<td class="period">80</td>
					</tr>
					<tr>
						<td class="no">5</td>
						<td class="tittle">
							<a href="">
								<span class="board_img"><img src="../img/board_table_file_img.png" alt="파일첨부"></span>
								영상 컨텐츠 1강 자료가 추가되었습니다. 영상 컨텐츠 1강 자료가 추가되었습니다.
							</a>
						</td>
						<td class="period">2022.01.01</td>
						<td class="type">선생님</td>
						<td class="period">80</td>
					</tr>
					<tr>
						<td class="no">4</td>
						<td class="tittle">
							<a href="">
								<span class="board_img"><img src="../img/board_table_file_img.png" alt="파일첨부"></span>
								영상 컨텐츠 1강 자료가 추가되었습니다. 영상 컨텐츠 1강 자료가 추가되었습니다.
							</a>
						</td>
						<td class="period">2022.01.01</td>
						<td class="type">선생님</td>
						<td class="period">80</td>
					</tr>
					<tr>
						<td class="no">3</td>
						<td class="tittle">
							<a href="">
								<span class="board_img"><img src="../img/board_table_file_img.png" alt="파일첨부"></span>
								영상 컨텐츠 1강 자료가 추가되었습니다. 영상 컨텐츠 1강 자료가 추가되었습니다.
							</a>
						</td>
						<td class="period">2022.01.01</td>
						<td class="type">선생님</td>
						<td class="period">80</td>
					</tr>
					<tr>
						<td class="no">2</td>
						<td class="tittle">
							<a href="">
								<span class="board_img"><img src="../img/board_table_file_img.png" alt="파일첨부"></span>
								영상 컨텐츠 1강 자료가 추가되었습니다. 영상 컨텐츠 1강 자료가 추가되었습니다.
							</a>
						</td>
						<td class="period">2022.01.01</td>
						<td class="type">선생님</td>
						<td class="period">80</td>
					</tr>
					<tr>
						<td class="no">1</td>
						<td class="tittle">
							<a href="">
								<span class="board_img"><img src="../img/board_table_file_img.png" alt="파일첨부"></span>
								영상 컨텐츠 1강 자료가 추가되었습니다. 영상 컨텐츠 1강 자료가 추가되었습니다.
							</a>
						</td>
						<td class="period">2022.01.01</td>
						<td class="type">선생님</td>
						<td class="period">80</td>
					</tr>
				</tbody>
			</table>
			<div class="paging">
				<ul>
					<li class="first arr"><a href="">처음으로</a></li>
					<li class="prev arr"><a href="">이전으로</a></li>
					<li class="on"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li class="next arr"><a href="">다음으로</a></li>
					<li class="last arr"><a href="">마지막으로</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<div class="board_view_layer dn">
	<button class="close_btn"></button>
	<div class="view_popup">
		<div class="tit_wrap">
			<h3>영상 컨텐츠 2-4가 추가되었습니다.</h3>
			<span>2022.01.03</span>
		</div>
		<div class="attachments">
			<dl>
				<dt>첨부자료</dt>
				<dd>
					<a href="" download>
						<span class="board_img"><img src="../img/board_table_file_img.png" alt="파일첨부"></span>
						영상 컨텐츠 1강 자료_[강의교안] 빅데이터엔지니어 공통.zip
					</a>
				</dd>
			</dl>
		</div>
		<div class="cont">
			<p>안녕하세요. <br>2강 섹션 4에 영상 컨텐츠가 추가되었습니다.  <br>감사합니다.</p>
		</div>
		<div class="btn_center">
			<a href="" class="ok_btn">확인</a>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		//강의자료 View
			$(".mypage_cont .board_table .tittle a").on("click", function(){
				$(".board_view_layer, #layer_dim").removeClass("dn");
				$("body").css("overflow","hidden")
				return false;
			});
			$(".board_view_layer .ok_btn, .board_view_layer .close_btn, #layer_dim").on("click", function(){
				$(".board_view_layer, #layer_dim").addClass("dn");
				$("body").css("overflow","")
				return false;
			});
	});
</script>