<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual mypage">
	<h3>마이페이지</h3>
	<span>MYPAGE</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">마이페이지</li>
	</ul>
</div>
<div class="sub_content">
	<div class="mypage">
		<div class="mypage_teb">
			<ul>
				<li><a href="../mypage/index.html">강의실</a></li>
				<li><a href="../mypage/history_list.html">수강 이력</a></li>
				<li><a href="../mypage/payment_list.html">결제 내역</a></li>
				<li><a href="../mypage/information.html">내 정보</a></li>
				<li class="on">
					<a href="../mypage/message.html">받은 쪽지함</a>
					<span class="count">2</span>
				</li>
			</ul>
		</div>
		<form method="post" action="">
			<div class="board_search_box">
				<p class="list_count">총 <strong>2</strong>개</p>
				<div class="select_wrap">
					<ul class="search_sel">
						<li>
							<a href="">제목</a>
							<ul class="dn">
								<li><a href="">제목</a></li>
								<li><a href="">내용</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="search_txt">
					<input type="text" name="" placeholder="검색어를 입력해주세요">
					<button class="cont_search_btn"></button>
				</div>
			</div>
		</form>
		<div class="board_message">
			<table class="board_table">
				<colgroup>
					<col width="150px">
					<col width="">
					<col width="150px">
					<col width="150px">
					<col width="100px">
				</colgroup>
				<thead>
					<tr>
						<th>No.</th>
						<th>제목</th>
						<th>등록일자</th>
						<th>작성자</th>
						<th>조회수</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="no">10</td>
						<td class="tittle"><a href="">학습 독려 안내 알림</a></td>
						<td class="period">2022.01.03</td>
						<td class="type">조교</td>
						<td class="period">1</td>
					</tr>
					<tr>
						<td class="no">9</td>
						<td class="tittle"><a href="">[빅데이터엔지니어 초급] 결제가 완료되었습니다.</a></td>
						<td class="period">2021.12.20</td>
						<td class="type">관리자</td>
						<td class="period">10</td>
					</tr>
					<tr>
						<td class="no">8</td>
						<td class="tittle"><a href="">[빅데이터엔지니어 중급] 결제가 취소되었습니다.</a></td>
						<td class="period">2021.12.19</td>
						<td class="type">조교</td>
						<td class="period">9</td>
					</tr>
					<tr>
						<td class="no">7</td>
						<td class="tittle"><a href="">학습 독려 안내 알림 학습 독려 안내 알림 학습 독려 안내 알림 학습 독려 안내 알림</a></td>
						<td class="period">2021.12.18</td>
						<td class="type">조교</td>
						<td class="period">15</td>
					</tr>
					<tr>
						<td class="no">6</td>
						<td class="tittle"><a href="">[빅데이터엔지니어 초급] 결제가 완료되었습니다. [빅데이터엔지니어 초급] 결제가 완료되었습니다.</a></td>
						<td class="period">2021.12.17</td>
						<td class="type">관리자</td>
						<td class="period">5</td>
					</tr>
					<tr>
						<td class="no">5</td>
						<td class="tittle"><a href="">[빅데이터엔지니어 중급] 결제가 취소되었습니다. [빅데이터엔지니어 중급] 결제가 취소되었습니다.</a></td>
						<td class="period">2021.12.17</td>
						<td class="type">조교</td>
						<td class="period">151</td>
					</tr>
					<tr>
						<td class="no">4</td>
						<td class="tittle"><a href="">학습 독려 안내 알림 학습 독려 안내 알림 학습 독려 안내 알림 학습 독려 안내 알림</a></td>
						<td class="period">2021.12.18</td>
						<td class="type">조교</td>
						<td class="period">15</td>
					</tr>
					<tr>
						<td class="no">3</td>
						<td class="tittle"><a href="">[빅데이터엔지니어 초급] 결제가 완료되었습니다. [빅데이터엔지니어 초급] 결제가 완료되었습니다.</a></td>
						<td class="period">2021.12.17</td>
						<td class="type">관리자</td>
						<td class="period">5</td>
					</tr>
					<tr>
						<td class="no">2</td>
						<td class="tittle"><a href="">[빅데이터엔지니어 중급] 결제가 취소되었습니다. [빅데이터엔지니어 중급] 결제가 취소되었습니다.</a></td>
						<td class="period">2021.12.17</td>
						<td class="type">조교</td>
						<td class="period">151</td>
					</tr>
					<tr>
						<td class="no">1</td>
						<td class="tittle"><a href="">[빅데이터엔지니어 초급] 결제가 완료되었습니다. [빅데이터엔지니어 초급] 결제가 완료되었습니다.</a></td>
						<td class="period">2021.12.17</td>
						<td class="type">관리자</td>
						<td class="period">5</td>
					</tr>
				</tbody>
			</table>
			<div class="paging">
				<ul>
					<li class="first arr"><a href="">처음으로</a></li>
					<li class="prev arr"><a href="">이전으로</a></li>
					<li class="on"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li class="next arr"><a href="">다음으로</a></li>
					<li class="last arr"><a href="">마지막으로</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<div class="board_view_layer dn">
	<button class="close_btn"></button>
	<div class="message_popup">
		<div class="tit_wrap">
			<h3>학습 독려 안내 알림</h3>
			<span>2022.01.03</span>
		</div>
		<div class="cont">
			<p>학습 진도률이 평균보다 부진합니다. 학습 진행 속도를 올리셔야 합니다. <br>학습 진행에 있어 사이트에 문제가 있으시면 관리자에게 문의하시길 바랍니다.<br>학습 과정 중 이해하기 어려우신 부분은 Q&A를 통해 선생님에게 질문하세요.</p>
			<div class="table_wrap">
				<table class="board_table">
					<colgroup>
						<col width="120px">
						<col width="">
						<col width="150px">
						<col width="150px">
					</colgroup>
					<thead>
						<tr>
							<th>No.</th>
							<th>과정명</th>
							<th>나의 학습 진도율</th>
							<th>평균 진도율</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td class="no">3</td>
							<td class="tittle"><a href="">학습 독려 안내 알림</a></td>
							<td class="percent"><strong>23%</strong></td>
							<td class="no">50%</td>
						</tr>
						<tr>
							<td class="no">2</td>
							<td class="tittle"><a href="">빅데이터엔지니어 초급 빅데이터엔지니어 초급 빅데이터엔지니어 초급 빅데이터엔지니어 초급</a></td>
							<td class="percent"><strong>37%</strong></td>
							<td class="no">50%</td>
						</tr>
						<tr>
							<td class="no">1</td>
							<td class="tittle"><a href="">빅데이터엔지니어 초급 빅데이터엔지니어 초급 빅데이터엔지니어 초급 빅데이터엔지니어 초급</a></td>
							<td class="percent"><strong>12%</strong></td>
							<td class="no">50%</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="btn_center">
			<a href="" class="ok_btn">확인</a>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		//검색 옵션 선택
			$(".search_sel li a").on("click", function(){
				$(this).next("ul").toggleClass("dn")
				return false;
			});
			$(".search_sel > li > ul li a").on("click", function(){
				var option = $(this).html()
				$(this).parent().parent("ul").addClass("dn").siblings("a").html(option)
				return false;
			});
			$("#wrap").on("click", function (e){
				var search_sel = $(".search_sel");
				if( search_sel.has(e.target).length === 0){
				  $(".search_sel > li > ul").addClass("dn")
				}
			});
		//메세지 View
			$(".board_message .board_table .tittle a").on("click", function(){
				$(".board_view_layer, #layer_dim").removeClass("dn");
				$("body").css("overflow","hidden")
				return false;
			});
			$(".board_view_layer .ok_btn, .board_view_layer .close_btn, #layer_dim").on("click", function(){
				$(".board_view_layer, #layer_dim").addClass("dn");
				$("body").css("overflow","")
				return false;
			});
	});
</script>