<div class="mypage_tit">
	<h3>빅데이터 엔지니어 초급 </h3>
</div>
<div class="mypage_info">
	<dl>
		<dt>학습 기간</dt>
		<dd>2022.01.21 ~ 2022.02.31</dd>
	</dl>
	<dl>
		<dt>출석률</dt>
		<dd><strong>35%</strong></dd>
	</dl>
	<dl>
		<dt>진도율</dt>
		<dd><strong>30%</strong></dd>
	</dl>
	<!-- // mypage/study_view.html, study_quiz.html, study_quiz_end.html 에서만 노출 -->
	<div class="btn_left">
		<a href="" class="ok_btn">상세보기</a>	
	</div>
	<!-- // mypage/study_view.html, study_quiz.html, study_quiz_end.html 에서만 노출 -->
</div>