<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual mypage">
	<h3>마이페이지</h3>
	<span>MYPAGE</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">마이페이지</li>
	</ul>
</div>
<div class="sub_content">
	<div class="mypage">
		<div class="mypage_teb">
			<ul>
				<li><a href="../mypage/index.html">강의실</a></li>
				<li><a href="../mypage/history_list.html">수강 이력</a></li>
				<li class="on"><a href="../mypage/payment_list.html">결제 내역</a></li>
				<li><a href="../mypage/information.html">내 정보</a></li>
				<li>
					<a href="../mypage/message.html">받은 쪽지함</a>
					<span class="count">2</span>
				</li>
			</ul>
		</div>
		<form method="post" action="">
			<div class="board_search_box">
				<div class="select_wrap">
					<ul class="search_sel">
						<li>
							<a href="">제목</a>
							<ul class="dn">
								<li><a href="">제목</a></li>
								<li><a href="">내용</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="search_txt">
					<input type="text" name="" placeholder="검색어를 입력해주세요">
					<button class="cont_search_btn"></button>
				</div>
			</div>
		</form>
		<div class="board_payment">
			<table class="board_table">
				<colgroup>
					<col width="150px">
					<col width="">
					<col width="150px">
					<col width="150px">
					<col width="150px">
					<col width="150px">
				</colgroup>
				<thead>
					<tr>
						<th>No.</th>
						<th>수강 과정</th>
						<th>결제 금액</th>
						<th>결제 상태</th>
						<th>결제 일자</th>
						<th>결제 취소</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="no">10</td>
						<td class="tittle"><a href="">빅데이터 엔지니어 전문가</a></td>
						<td class="period">120,000원</td>
						<td class="situation done">결제완료</td>
						<td class="period">2022.01.25</td>
						<td><button class="replay_btn">취소하기</button></td>
					</tr>
					<tr>
						<td class="no">9</td>
						<td class="tittle"><a href="">빅데이터 엔지니어 초급 1</a></td>
						<td class="period">100,000원</td>
						<td class="situation done">결제완료</td>
						<td class="period">2022.01.25</td>
						<td><button class="replay_btn">취소하기</button></td>
					</tr>
					<tr>
						<td class="no">8</td>
						<td class="tittle"><a href="">빅데이터 엔지니어 전문가</a></td>
						<td class="period">120,000원</td>
						<td class="situation done">결제완료</td>
						<td class="period">2022.01.25</td>
						<td><button class="replay_btn">취소하기</button></td>
					</tr>
					<tr>
						<td class="no">7</td>
						<td class="tittle"><a href="">빅데이터 엔지니어 초급 1</a></td>
						<td class="period">100,000원</td>
						<td class="situation done">결제완료</td>
						<td class="period">2022.01.25</td>
						<td><button class="replay_btn">취소하기</button></td>
					</tr>
					<tr>
						<td class="no">6</td>
						<td class="tittle"><a href="">빅데이터 엔지니어 전문가 빅데이터 엔지니어 전문가 빅데이터 엔지니어 전문가</a></td>
						<td class="period">120,000원</td>
						<td class="situation done">결제완료</td>
						<td class="period">2022.01.25</td>
						<td><button class="replay_btn">취소하기</button></td>
					</tr>
					<tr>
						<td class="no">5</td>
						<td class="tittle"><a href="">빅데이터 엔지니어 초급 1 빅데이터 엔지니어 전문가 빅데이터 엔지니어 전문가</a></td>
						<td class="period">100,000원</td>
						<td class="situation done">결제완료</td>
						<td class="period">2022.01.25</td>
						<td><button class="replay_btn">취소하기</button></td>
					</tr>
					<tr>
						<td class="no">4</td>
						<td class="tittle"><a href="">빅데이터 엔지니어 전문가 빅데이터 엔지니어 전문가 빅데이터 엔지니어 전문가</a></td>
						<td class="period">120,000원</td>
						<td class="situation">결제취소</td>
						<td class="period">2022.01.25</td>
						<td></td>
					</tr>
					<tr>
						<td class="no">3</td>
						<td class="tittle"><a href="">빅데이터 엔지니어 전문가 빅데이터 엔지니어 전문가 빅데이터 엔지니어 전문가</a></td>
						<td class="period">120,000원</td>
						<td class="situation">결제취소</td>
						<td class="period">2022.01.25</td>
						<td></td>
					</tr>
					<tr>
						<td class="no">2</td>
						<td class="tittle"><a href="">빅데이터 엔지니어 전문가 빅데이터 엔지니어 전문가 빅데이터 엔지니어 전문가</a></td>
						<td class="period">120,000원</td>
						<td class="situation">결제취소</td>
						<td class="period">2022.01.25</td>
						<td></td>
					</tr>
					<tr>
						<td class="no">1</td>
						<td class="tittle"><a href="">빅데이터 엔지니어 전문가 빅데이터 엔지니어 전문가 빅데이터 엔지니어 전문가</a></td>
						<td class="period">120,000원</td>
						<td class="situation">결제취소</td>
						<td class="period">2022.01.25</td>
						<td></td>
					</tr>
				</tbody>
			</table>
			<div class="paging">
				<ul>
					<li class="first arr"><a href="">처음으로</a></li>
					<li class="prev arr"><a href="">이전으로</a></li>
					<li class="on"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li class="next arr"><a href="">다음으로</a></li>
					<li class="last arr"><a href="">마지막으로</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<script>
	$(document).ready(function(){
		//검색 옵션 선택
			$(".search_sel li a").on("click", function(){
				$(this).next("ul").toggleClass("dn")
				return false;
			});
			$(".search_sel > li > ul li a").on("click", function(){
				var option = $(this).html()
				$(this).parent().parent("ul").addClass("dn").siblings("a").html(option)
				return false;
			});
			$("#wrap").on("click", function (e){
				var search_sel = $(".search_sel");
				if( search_sel.has(e.target).length === 0){
				  $(".search_sel > li > ul").addClass("dn")
				}
			});
	});
</script>