<div class="board_view_layer progress_rate_layer hidden">
	<button class="close_btn"></button>
	<div class="progress_rate_popup">
		<div class="tit_wrap">
			<h3>홍길동 님의 진도율은 현재 <strong>30%</strong> 입니다.</h3>
		</div>
		<div class="cont">
			<p><em>24</em> 강의 중 <strong>7</strong> 강의를 수강하셨습니다.</p>
			<div class="progress_wrap">
				<span class="progress_bar" id="30%">
					<strong class="percent" data-count="0"></strong>
				</span>
			</div>
		</div>
		<div class="btn_center">
			<a href="" class="ok_btn">확인</a>
		</div>
	</div>
</div>
<div class="progress_rate_layer_bg dn"></div>
<script>
	$(document).ready(function(){
		//진도율 상세보기
			$(".mypage_info .ok_btn").on("click", function(){
				var this_prog_id = $(".progress_rate_layer .progress_bar").attr("id")
				$(".progress_rate_layer, .progress_rate_layer_bg").removeClass("hidden");
				$(".progress_rate_layer_bg").removeClass("dn");
				$("body").css("overflow","hidden")
				$(".progress_rate_popup .progress_bar").css("width",this_prog_id)
				$(".progress_rate_popup .progress_bar .percent").html(this_prog_id)	  
				return false;
			});
			$(".progress_rate_layer .ok_btn, .progress_rate_layer .close_btn, .progress_rate_layer_bg").on("click", function(){
				$(".progress_rate_layer").addClass("hidden");
				$(".progress_rate_layer_bg").addClass("dn");
				$("body").css("overflow","")
				$(".progress_rate_popup .progress_bar").css("width","")
				return false;
			});
	});
</script>