<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual mypage">
	<h3>마이페이지</h3>
	<span>MYPAGE</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">마이페이지</li>
	</ul>
</div>
<div class="sub_content">
	<div class="mypage">
		<div class="mypage_teb">
			<ul>
				<li><a href="../mypage/index.html">강의실</a></li>
				<li><a href="../mypage/history_list.html">수강 이력</a></li>
				<li><a href="../mypage/payment_list.html">결제 내역</a></li>
				<li class="on"><a href="../mypage/information.html">내 정보</a></li>
				<li>
					<a href="../mypage/message.html">받은 쪽지함</a>
					<span class="count">2</span>
				</li>
			</ul>
		</div>
		<div class="mypage_wrap information">
			<div class="study_index">
				<div class="cont">
					<h5>내 정보
						<a href="" class="secession_btn">회원탈퇴</a>
					</h5>
					<dl>
						<dt>아이디</dt>
						<dd>foresight1234</dd>
					</dl>
					<dl>
						<dt>이메일</dt>
						<dd>foresight1@naver.com</dd>
					</dl>
					<dl>
						<dt>휴대폰</dt>
						<dd>010-1234-1234</dd>
					</dl>
					<dl>
						<dt>지역</dt>
						<dd>강원도 원주시</dd>
					</dl>
					<div class="btn_center">
						<a href="../mypage/information.html" class="ok_btn">정보 수정</a>
					</div>
				</div>
			</div>
			<div class="mypage_cont">
				<div class="profile_info">
					<div class="profile_cont">
						<div class="profile_box on">
							<form method="post" action="">
								<div class="profile_tit">
									<span><img src="../img/profile_logo.png" alt="로고"></span>
									<h4>회원탈퇴</h4>
									<p>서비스를 사용하시면서 불편한 점이 있으셨나요? <br>개선할 점을 말씀해주시면 적극적으로 <br>검토, 반영할 수 있도록 하겠습니다.</p>
								</div>
								<dl>
									<dt>아이디</dt>
									<dd>foresight1234</dd>
								</dl>
								<dl>
									<dt>비밀번호</dt>
									<dd><input type="password" name="" id="now_pass_sec"></dd>
								</dl>
								<dl class="textarea_wrap">
									<dt>바라시는 점이 있다면 말씀해 주세요.</dt>
									<dd><textarea name="" id="" cols="30" rows="10"></textarea></dd>
								</dl>
								<p class="exp">회원탈퇴 후에도 재가입은 가능하나, 동일한 아이디로 재가입은 절대 불가능합니다. 한번 가입했던 아이디는 영구적으로 사용이 중지됩니다.</p>
								<div class="btn_center">
									<a href="" class="cancel_btn">회원탈퇴</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<div class="alert_layer information dn">
	<h4>안내메세지</h4>
	<p>확인하고 다시 입력해 주시길 바랍니다.</p>
	<div class="btn_center">
		<a href="" class="ok_btn">확인</a>
	</div>
</div>
<script>
	$(document).ready(function(){
		//비밀번호 확인
			$(".profile_box .cancel_btn").on("click", function(){
				if($("#now_pass_sec").val() != 'asdfasdf11'){
					$(".alert_layer > h4").html("기존 비밀번호와 <br>입력하신 비밀번호가 다릅니다.")
					$(".alert_layer").removeClass("dn");
					return false;
				}
			});
		//비밀번호 레이어 확인 버튼
			$(".alert_layer .ok_btn").on("click", function(){
				$(".alert_layer").addClass("dn");
				return false;
			});

	});
</script>