<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual mypage_notice_list">
	<h3>수강중인 과목 </h3>
	<span>CLASS</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class=""><a href="../mypage/index.html">마이페이지</a></li>
		<li class="on">수강중인 과목</li>
	</ul>
</div>
<div class="sub_content">
	<?php
		include '../mypage/mypage_info.html';
	?>
	<div class="study_quiz">
		<div class="cont">
			<div class="tit_wrap">
				<h3>빅데이터의 이해 1 설문조사</h3>
				<div class="btn_right">
					<a href="" class="cancel_btn">제출하기</a>
				</div>
			</div>
			<div class="sub_survey">
				<div class="survey_content">
					<ul class="survey_list">
						<li>
							<table>
								<colgroup>
									<col width="80px">
									<col width="">
									<col width="100px">
									<col width="100px">
									<col width="100px">
									<col width="100px">
									<col width="100px">
								</colgroup>
								<thead>
									<tr>
										<th rowspan="2">No.</th>
										<th rowspan="2" class="survey_sub_tit">제목</th>
										<th colspan="5">척도</th>
									</tr>
									<tr class="survey_score">
										<td>1</td>
										<td>2</td>
										<td>3</td>
										<td>4</td>
										<td>5</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1</td>
										<td class="left">강의 진행은 체계적이었다.</td>
										<td>
											<input type="radio" name="study_quiz_survey01" id="study_quiz_survey01_chk01">
											<label for="study_quiz_survey01_chk01"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey01" id="study_quiz_survey01_chk02">
											<label for="study_quiz_survey01_chk02"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey01" id="study_quiz_survey01_chk03">
											<label for="study_quiz_survey01_chk03"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey01" id="study_quiz_survey01_chk04">
											<label for="study_quiz_survey01_chk04"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey01" id="study_quiz_survey01_chk05">
											<label for="study_quiz_survey01_chk05"></label>
										</td>
									</tr>
									<tr>
										<td>2</td>
										<td class="left">강의 수준은 적절하게 구성되었다.</td>
										<td>
											<input type="radio" name="study_quiz_survey02" id="study_quiz_survey02_chk01">
											<label for="study_quiz_survey02_chk01"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey02" id="study_quiz_survey02_chk02">
											<label for="study_quiz_survey02_chk02"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey02" id="study_quiz_survey02_chk03">
											<label for="study_quiz_survey02_chk03"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey02" id="study_quiz_survey02_chk04">
											<label for="study_quiz_survey02_chk04"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey02" id="study_quiz_survey02_chk05">
											<label for="study_quiz_survey02_chk05"></label>
										</td>
									</tr>
									<tr>
										<td>3</td>
										<td class="left">강의 시간은 알맞게 구성되었다.</td>
										<td>
											<input type="radio" name="study_quiz_survey03" id="study_quiz_survey03_chk01">
											<label for="study_quiz_survey03_chk01"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey03" id="study_quiz_survey03_chk02">
											<label for="study_quiz_survey03_chk02"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey03" id="study_quiz_survey03_chk03">
											<label for="study_quiz_survey03_chk03"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey03" id="study_quiz_survey03_chk04">
											<label for="study_quiz_survey03_chk04"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey03" id="study_quiz_survey03_chk05">
											<label for="study_quiz_survey03_chk05"></label>
										</td>
									</tr>
									<tr>
										<td>4</td>
										<td class="left">강의 자료는 강의내용과 알맞게 구성되었다.</td>
										<td>
											<input type="radio" name="study_quiz_survey04" id="study_quiz_survey04_chk01">
											<label for="study_quiz_survey04_chk01"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey04" id="study_quiz_survey04_chk02">
											<label for="study_quiz_survey04_chk02"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey04" id="study_quiz_survey04_chk03">
											<label for="study_quiz_survey04_chk03"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey04" id="study_quiz_survey04_chk04">
											<label for="study_quiz_survey04_chk04"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey04" id="study_quiz_survey04_chk05">
											<label for="study_quiz_survey04_chk05"></label>
										</td>
									</tr>
									<tr>
										<td>5</td>
										<td class="left">강의 내용은 적절하게 진행되었다.</td>
										<td>
											<input type="radio" name="study_quiz_survey05" id="study_quiz_survey05_chk01">
											<label for="study_quiz_survey05_chk01"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey05" id="study_quiz_survey05_chk02">
											<label for="study_quiz_survey05_chk02"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey05" id="study_quiz_survey05_chk03">
											<label for="study_quiz_survey05_chk03"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey05" id="study_quiz_survey05_chk04">
											<label for="study_quiz_survey05_chk04"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey05" id="study_quiz_survey05_chk05">
											<label for="study_quiz_survey05_chk05"></label>
										</td>
									</tr>
									<tr>
										<td>6</td>
										<td class="left">강의 진행은 체계적이었다.</td>
										<td>
											<input type="radio" name="study_quiz_survey06" id="study_quiz_survey06_chk01">
											<label for="study_quiz_survey06_chk01"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey06" id="study_quiz_survey06_chk02">
											<label for="study_quiz_survey06_chk02"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey06" id="study_quiz_survey06_chk03">
											<label for="study_quiz_survey06_chk03"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey06" id="study_quiz_survey06_chk04">
											<label for="study_quiz_survey06_chk04"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey06" id="study_quiz_survey06_chk05">
											<label for="study_quiz_survey06_chk05"></label>
										</td>
									</tr>
									<tr>
										<td>7</td>
										<td class="left">강의 수준은 적절하게 구성되었다.</td>
										<td>
											<input type="radio" name="study_quiz_survey07" id="study_quiz_survey07_chk01">
											<label for="study_quiz_survey07_chk01"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey07" id="study_quiz_survey07_chk02">
											<label for="study_quiz_survey07_chk02"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey07" id="study_quiz_survey07_chk03">
											<label for="study_quiz_survey07_chk03"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey07" id="study_quiz_survey07_chk04">
											<label for="study_quiz_survey07_chk04"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey07" id="study_quiz_survey07_chk05">
											<label for="study_quiz_survey07_chk05"></label>
										</td>
									</tr>
									<tr>
										<td>8</td>
										<td class="left">강의 시간은 알맞게 구성되었다.</td>
										<td>
											<input type="radio" name="study_quiz_survey08" id="study_quiz_survey08_chk01">
											<label for="study_quiz_survey08_chk01"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey08" id="study_quiz_survey08_chk02">
											<label for="study_quiz_survey08_chk02"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey08" id="study_quiz_survey08_chk03">
											<label for="study_quiz_survey08_chk03"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey08" id="study_quiz_survey08_chk04">
											<label for="study_quiz_survey08_chk04"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey08" id="study_quiz_survey08_chk05">
											<label for="study_quiz_survey08_chk05"></label>
										</td>
									</tr>
									<tr>
										<td>9</td>
										<td class="left">강의 자료는 강의내용과 알맞게 구성되었다.</td>
										<td>
											<input type="radio" name="study_quiz_survey09" id="study_quiz_survey09_chk01">
											<label for="study_quiz_survey09_chk01"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey09" id="study_quiz_survey09_chk02">
											<label for="study_quiz_survey09_chk02"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey09" id="study_quiz_survey09_chk03">
											<label for="study_quiz_survey09_chk03"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey09" id="study_quiz_survey09_chk04">
											<label for="study_quiz_survey09_chk04"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey09" id="study_quiz_survey09_chk05">
											<label for="study_quiz_survey09_chk05"></label>
										</td>
									</tr>
									<tr>
										<td>10</td>
										<td class="left">강의 내용은 적절하게 진행되었다.</td>
										<td>
											<input type="radio" name="study_quiz_survey10" id="study_quiz_survey10_chk01">
											<label for="study_quiz_survey10_chk01"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey10" id="study_quiz_survey10_chk02">
											<label for="study_quiz_survey10_chk02"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey10" id="study_quiz_survey10_chk03">
											<label for="study_quiz_survey10_chk03"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey10" id="study_quiz_survey10_chk04">
											<label for="study_quiz_survey10_chk04"></label>
										</td>
										<td>
											<input type="radio" name="study_quiz_survey10" id="study_quiz_survey10_chk05">
											<label for="study_quiz_survey10_chk05"></label>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<?php
  include '../mypage/progress_rate_layer.html';
?>
<script>
	$(document).ready(function(){
		//제출하기 alert
			$(".study_quiz .tit_wrap .cancel_btn").on("click", function(){
				var AllSur = $(".study_quiz .sub_survey table tbody tr").length;
				var SurchkCnt = $(".study_quiz .sub_survey table tbody tr td input[type='radio']:checked").length;
				if(AllSur > SurchkCnt){
					alert("척도를 모두 체크해주세요.");
					return false;
				}
			});			
	});
</script>