<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual mypage_notice_list">
	<h3>수강중인 과목 </h3>
	<span>CLASS</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class=""><a href="../mypage/index.html">마이페이지</a></li>
		<li class="on">수강중인 과목</li>
	</ul>
</div>
<div class="sub_content">
	<?php
		include '../mypage/mypage_info.html';
	?>
	<div class="study_quiz">
		<div class="cont">
			<div class="tit_wrap">
				<h3>빅데이터의 이해 1</h3>
				<div class="btn_right">
					<a href="../mypage/study_quiz_end.html" class="cancel_btn">제출하기</a>
				</div>
			</div>
			<ol class="quiz_ol">
				<li>
					<dl>
						<dt>다음 중 빅데이터를 정의하는 요소가 아닌 것은?</dt>
						<dd>
							<input type="radio" name="study_quiz01" id="study_quiz01_chk01"><label for="study_quiz01_chk01">Volume</label>
							<input type="radio" name="study_quiz01" id="study_quiz01_chk02"><label for="study_quiz01_chk02">Variety</label>
							<input type="radio" name="study_quiz01" id="study_quiz01_chk03" class="answer"><label for="study_quiz01_chk03">Vector</label>
							<input type="radio" name="study_quiz01" id="study_quiz01_chk04"><label for="study_quiz01_chk04">Velocity</label>
						</dd>
					</dl>
					<p class="exp hidden">정답유무</p>
				</li>
				<li>
					<dl>
						<dt>4차 산업혁명과 가장 어울리지 않은 개념은?</dt>
						<dd>
							<input type="radio" name="study_quiz02" id="study_quiz02_chk01" class="answer"><label for="study_quiz02_chk01"> 기계식 생산설비</label>
							<input type="radio" name="study_quiz02" id="study_quiz02_chk02"><label for="study_quiz02_chk02">빅데이터와 인공지능</label>
							<input type="radio" name="study_quiz02" id="study_quiz02_chk03"><label for="study_quiz02_chk03">제조업과 ICT 융합</label>
							<input type="radio" name="study_quiz02" id="study_quiz02_chk04"><label for="study_quiz02_chk04">사이버 물리 시스템</label>
						</dd>
					</dl>
					<p class="exp hidden">정답유무</p>
				</li>
				<li>
					<dl>
						<dt>4차 산업혁명과 가장 어울리지 않은 개념은?</dt>
						<dd>
							<input type="radio" name="study_quiz03" id="study_quiz03_chk01"><label for="study_quiz03_chk01"> 기계식 생산설비</label>
							<input type="radio" name="study_quiz03" id="study_quiz03_chk02"><label for="study_quiz03_chk02">빅데이터와 인공지능</label>
							<input type="radio" name="study_quiz03" id="study_quiz03_chk03"><label for="study_quiz03_chk03">제조업과 ICT 융합</label>
							<input type="radio" name="study_quiz03" id="study_quiz03_chk04" class="answer"><label for="study_quiz03_chk04">사이버 물리 시스템</label>
						</dd>
					</dl>
					<p class="exp hidden">정답유무</p>
				</li>
			</ol>
			<div class="paging">
				<ul>
					<li class="first arr"><a href="">처음으로</a></li>
					<li class="prev arr"><a href="">이전으로</a></li>
					<li class="on"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li class="next arr"><a href="">다음으로</a></li>
					<li class="last arr"><a href="">마지막으로</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<?php
  include '../mypage/progress_rate_layer.html';
?>
<div class="board_view_layer quiz_layer dn">
	<button class="close_btn"></button>
	<div class="study_quiz_popup">
		<div class="cont">
			<h5><em>2</em> 문제 중 <strong>1</strong> 문제를 맞추셨습니다.</h5>
			<p>정답을 확인하고 다시 푸세요. <br>모든 문제를 맞추어야 다음 강의를 들을 수 있습니다.</p>
		</div>
		<div class="btn_center">
			<a href="" class="ok_btn">확인</a>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		//제출하기 View
			$(".study_quiz .tit_wrap .cancel_btn").on("click", function(){
				var AllQue = $(".study_quiz .quiz_ol > li").length;
				var chkCnt = $(".study_quiz .quiz_ol input[type='radio']:checked").length;
				var ansChkCnt = $(".study_quiz .quiz_ol input[type='radio'].answer:checked").length;
				if(AllQue > chkCnt){
					alert("정답을 모두 체크해주세요.");
					return false;
				}
				if(ansChkCnt < chkCnt){
					$(".board_view_layer.quiz_layer .cont > h5 em").html(AllQue)
					$(".board_view_layer.quiz_layer .cont > h5 strong").html(ansChkCnt)
					$(".board_view_layer, #layer_dim").removeClass("dn");
					$("body").css("overflow","hidden");
					return false;
				}
				
			});
			$(".board_view_layer.quiz_layer .ok_btn, .board_view_layer.quiz_layer .close_btn, #layer_dim").on("click", function(){
				$(".board_view_layer, #layer_dim").addClass("dn");
				$("body").css("overflow","");
				$(".study_quiz .quiz_ol > li dl dd").find(".answer").addClass("on")
				$(".study_quiz .quiz_ol .exp").removeClass("hidden");
				return false;
			});
		//정답 유무
			$(".study_quiz .quiz_ol input[type='radio']").on("change", function(){
				if($(this).hasClass("answer")){
					$(this).parents("dl").next(".exp").html("답이 맞았습니다.")
				} else {
					$(this).parents("dl").next(".exp").html("답이 틀렸습니다.")
				}
			})		
	});
</script>