<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual mypage_notice_list">
	<h3>수강중인 과목 </h3>
	<span>CLASS</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class=""><a href="../mypage/index.html">마이페이지</a></li>
		<li class="on">수강중인 과목</li>
	</ul>
</div>
<div class="sub_content">
	<?php
		include '../mypage/mypage_info.html';
	?>
	<div class="mypage_wrap">
		<div class="side_cata">
			<ul>
				<li><a href="../mypage/notice_list.html">공지사항</a></li>
				<li class="on"><a href="../mypage/study_list.html">학습하기</a></li>
				<li><a href="../mypage/material_list.html">강의 자료</a></li>
				<li><a href="../mypage/qa_list.html">Q&A</a></li>
				<li><a href="../mypage/discussion_list.html">토론방</a></li>
			</ul>
		</div>
		<div class="mypage_cont study_list">
			<table class="board_table">
				<colgroup>
					<col width="100px">
					<col width="150px">
					<col width="">
					<col width="150px">
					<col width="150px">
				</colgroup>
				<thead>
					<tr>
						<th>Chap.</th>
						<th>학습 상태</th>
						<th>강의 제목</th>
						<th>학습시간</th>
						<th>학습하기</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="no">10</td>
						<td><span class="enrolment_btn">학습 완료</span></td>
						<td class="tittle"><a href="">빅데이터의 이해 3</a></td>
						<td class="no time">0:14:01</td>
						<td><button class="replay_btn" onclick="location.href='../mypage/study_view.html'">다시 보기</button></td>
					</tr>
					<tr>
						<td class="no">9</td>
						<td><span class="enrolment_btn apply">진행 중</span></td>
						<td class="tittle"><a href="">빅데이터의 이해 2</a></td>
						<td class="no time">0:15:03</td>
						<td><button class="replay_btn" onclick="location.href='../mypage/study_view.html'">다시 보기</button></td>
					</tr>
					<tr>
						<td class="no">8</td>
						<td><span class="enrolment_btn apply">진행 중</span></td>
						<td class="tittle"><a href="">빅데이터의 이해 1</a></td>
						<td class="no time">0:13:53</td>
						<td><button class="replay_btn" onclick="location.href='../mypage/study_view.html'">다시 보기</button></td>
					</tr>
					<tr>
						<td class="no">7</td>
						<td><span class="enrolment_btn cancel">진행 대기</span></td>
						<td class="tittle"><a href="">빅데이터의 이해 빅데이터의 이해 빅데이터의 이해 빅데이터의 이해</a></td>
						<td class="no time">0:00:00</td>
						<td><button class="replay_btn" onclick="location.href='../mypage/study_view.html'">다시 보기</button></td>
					</tr>
					<tr>
						<td class="no">6</td>
						<td><span class="enrolment_btn cancel">진행 대기</span></td>
						<td class="tittle"><a href="">빅데이터의 이해 빅데이터의 이해 빅데이터의 이해 빅데이터의 이해</a></td>
						<td class="no time">0:00:00</td>
						<td><button class="replay_btn" onclick="location.href='../mypage/study_view.html'">다시 보기</button></td>
					</tr>
					<tr>
						<td class="no">5</td>
						<td><span class="enrolment_btn cancel">진행 대기</span></td>
						<td class="tittle"><a href="">빅데이터의 이해 빅데이터의 이해 빅데이터의 이해 빅데이터의 이해</a></td>
						<td class="no time">0:00:00</td>
						<td><button class="replay_btn" onclick="location.href='../mypage/study_view.html'">다시 보기</button></td>
					</tr>
					<tr>
						<td class="no">4</td>
						<td><span class="enrolment_btn cancel">진행 대기</span></td>
						<td class="tittle"><a href="">빅데이터의 이해 빅데이터의 이해 빅데이터의 이해 빅데이터의 이해</a></td>
						<td class="no time">0:00:00</td>
						<td><button class="replay_btn" onclick="location.href='../mypage/study_view.html'">다시 보기</button></td>
					</tr>
					<tr>
						<td class="no">3</td>
						<td><span class="enrolment_btn cancel">진행 대기</span></td>
						<td class="tittle"><a href="">빅데이터의 이해 빅데이터의 이해 빅데이터의 이해 빅데이터의 이해</a></td>
						<td class="no time">0:00:00</td>
						<td><button class="replay_btn" onclick="location.href='../mypage/study_view.html'">다시 보기</button></td>
					</tr>
					<tr>
						<td class="no">2</td>
						<td><span class="enrolment_btn cancel">진행 대기</span></td>
						<td class="tittle"><a href="">빅데이터의 이해 빅데이터의 이해 빅데이터의 이해 빅데이터의 이해</a></td>
						<td class="no time">0:00:00</td>
						<td><button class="replay_btn" onclick="location.href='../mypage/study_view.html'">다시 보기</button></td>
					</tr>
					<tr>
						<td class="no">1</td>
						<td><span class="enrolment_btn cancel">진행 대기</span></td>
						<td class="tittle"><a href="">빅데이터의 이해 빅데이터의 이해 빅데이터의 이해 빅데이터의 이해</a></td>
						<td class="no time">0:00:00</td>
						<td><button class="replay_btn" onclick="location.href='../mypage/study_view.html'">다시 보기</button></td>
					</tr>
				</tbody>
			</table>
			<div class="paging">
				<ul>
					<li class="first arr"><a href="">처음으로</a></li>
					<li class="prev arr"><a href="">이전으로</a></li>
					<li class="on"><a href="">1</a></li>
					<li><a href="">2</a></li>
					<li><a href="">3</a></li>
					<li><a href="">4</a></li>
					<li><a href="">5</a></li>
					<li class="next arr"><a href="">다음으로</a></li>
					<li class="last arr"><a href="">마지막으로</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
