<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual mypage_notice_list">
	<h3>수강중인 과목 </h3>
	<span>CLASS</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class=""><a href="../mypage/index.html">마이페이지</a></li>
		<li class="on">수강중인 과목</li>
	</ul>
</div>
<div class="sub_content">
	<?php
		include '../mypage/mypage_info.html';
	?>
	<div class="mypage_wrap">
		<div class="study_index">
			<div class="cont">
				<h5>목차</h5>
				<ul>
					<li>
						<a href="">빅데이터의 이해1</a>
						<ul>
							<li><a href="">빅데이터의 이해1-1</a></li>
							<li><a href="">빅데이터의 이해1-2</a></li>
							<li><a href="">빅데이터의 이해1-3</a></li>
						</ul>
					</li>
					<li>
						<a href="">빅데이터의 이해2</a>
						<ul>
							<li><a href="">빅데이터의 이해2-1</a></li>
							<li><a href="">빅데이터의 이해2-2</a></li>
							<li><a href="">빅데이터의 이해2-3</a></li>
						</ul>
					</li>
					<li>
						<a href="">빅데이터의 이해2</a>
						<ul>
							<li><a href="">빅데이터의 이해2-1</a></li>
							<li><a href="">빅데이터의 이해2-2</a></li>
							<li><a href="">빅데이터의 이해2-3</a></li>
						</ul>
					</li>
					<li>
						<a href="">빅데이터의 이해2</a>
						<ul>
							<li><a href="">빅데이터의 이해2-1</a></li>
							<li><a href="">빅데이터의 이해2-2</a></li>
							<li><a href="">빅데이터의 이해2-3</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
		<div class="mypage_cont study_view">
			<div class="video_wrap">
				<img src="../img/video_sample_img.jpg" alt="동영상 샘플 이미지">
				<div class="video_play_popup">
					<p>수강 기록이 있습니다. <br>이어서 보시겠습니까?</p>
					<div class="btn_center">
						<a href="" class="ok_btn">네</a>
						<a href="" class="cancel_btn">아니오</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<?php
  include '../mypage/progress_rate_layer.html';
?>
<script>
	$(document).ready(function(){
		//동영상 이어보기 팝업
			$(".video_play_popup .cancel_btn").on("click", function(){
				$(".video_play_popup").addClass("dn")
				return false;
			});
	});
</script>