<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<script src="../js/main.js"></script>
<style>
#contents {max-width:100%;padding-bottom:120px;}
#header {border-bottom:0;}
</style>
	<div class="main_top_wrap">
		<div class="main_visual">
			<div class="main_visual_box">
				<div class="main_visual_slide">
					<div class="slick_cut visual_01" style="background-image:url(../img/bg-visual-01.jpg);">
						<a href="#"></a>
						<div class="slick_txt">
							<h3><em>원주의료기기테크노벨리</em><strong>MEDBIZ 플랫폼 현황분석 및<br>데이터 품질관리 컨설팅</strong><span>2021.06 ~ 2021.08</span></h3>
							<span class="visu_btn"><a href="#" class="btn_detail_arrow"><span>자세히보기</span></a></span>
						</div>
						<div class="slick_thumb"><img src="../img/bnr-visual-01.jpg" alt=""></div>
					</div>
					<div class="slick_cut visual_02" style="background-image:url(../img/bg-visual-01.jpg);">
						<a href="#"></a>
						<div class="slick_txt">
							<h3><em>2원주의료기기테크노벨리</em><strong>MEDBIZ 플랫폼 현황분석 및<br>데이터 품질관리 컨설팅</strong><span>2021.06 ~ 2021.08</span></h3>
							<span class="visu_btn"><a href="#" class="btn_detail_arrow"><span>자세히보기</span></a></span>
						</div>
						<div class="slick_thumb"><img src="../img/bnr-visual-01.jpg" alt=""></div>
					</div>
					<div class="slick_cut visual_03" style="background-image:url(../img/bg-visual-01.jpg);">
						<a href="#"></a>
						<div class="slick_txt">
							<h3><em>3원주의료기기테크노벨리</em><strong>MEDBIZ 플랫폼 현황분석 및<br>데이터 품질관리 컨설팅</strong><span>2021.06 ~ 2021.08</span></h3>
							<span class="visu_btn"><a href="#" class="btn_detail_arrow"><span>자세히보기</span></a></span>
						</div>
						<div class="slick_thumb"><img src="../img/bnr-visual-01.jpg" alt=""></div>
					</div>
				</div>
				<div class="slideController">
					<div class="slider-progress"><div class="progress"></div></div>
					<span class="slideCountItem"></span><span>-</span><span class="slideCountAll"></span>
				</div>
			</div>
		</div>
		<div class="main_scroll">
			<div class="sc_down">
				<span class="down_icon"><span></span></span>
				<strong>SCROLL DOWN</strong>
			</div>
		</div>
	</div>
	<div class="main_cont_wrap">
		<div class="main_class w_custom">
			<h3 class="main_title" data-aos="fade-up">CLASS</h3>
			<ul>
				<li data-aos="fade-up">
					<a href="../goods/search_view.html"></a>
					<div class="thumb"><img src="../img/bbs-class-01.jpg" alt=""></div>
					<div class="txt">
						<dl>
							<dt>[전북테크노파크] 지역 수요 맞춤형 사업 용역</dt>
							<dd>
								<ul>
									<li>과제명 : 지역 수요 맞춤형 사업 용역</li>
									<li>수행기간 : 2021.08~2021.09</li>
									<li>발주기관 : (재)전북테크노파크</li>
								</ul>
							</dd>
						</dl>
					</div>
				</li>
				<li data-aos="fade-up">
					<a href="../goods/search_view.html"></a>
					<div class="thumb"><img src="../img/bbs-class-02.jpg" alt=""></div>
					<div class="txt">
						<dl>
							<dt>[원주의료기기테크노벨리] MEDBIZ 플랫폼 현황분석 및 데이터 품질관리 컨설팅</dt>
							<dd>
								<ul>
									<li>과제명 : MEDBIZ 플랫폼 현황분석 및 데이터 품질관리 컨설팅</li>
									<li>수행기간 : 2021.06~2021.08</li>
								</ul>
							</dd>
						</dl>
					</div>
				</li>
				<li data-aos="fade-up">
					<a href="../goods/search_view.html"></a>
					<div class="thumb"><img src="../img/bbs-class-03.jpg" alt=""></div>
					<div class="txt">
						<dl>
							<dt>[주식회사 쎌바이오텍] (주)쎌바이오텍 시장조사보고서 용역</dt>
							<dd>
								<ul>
									<li>과제명 : (주)쎌바이오텍 시장조사보고서 용역</li>
									<li>수행기간 : 2021.05~2021.06 3. </li>
								</ul>
							</dd>
						</dl>
					</div>
				</li>
				<li data-aos="fade-up">
					<a href="../goods/search_view.html"></a>
					<div class="thumb"><img src="../img/bbs-class-04.jpg" alt=""></div>
					<div class="txt">
						<dl>
							<dt>[주식회사 에이치에이치에스] BM 수립 보고서 작성</dt>
							<dd>
								<ul>
									<li>과제명 : BM 수립 보고서 작성</li>
									<li>수행기간 : 2021.05~2021.05 3.</li>
									<li>발주기관 : 주식회사 에이치에이치에스</li>
								</ul>
							</dd>
						</dl>
					</div>
				</li>
				<li data-aos="fade-up">
					<a href="../goods/search_view.html"></a>
					<div class="thumb"><img src="../img/bbs-class-05.jpg" alt=""></div>
					<div class="txt">
						<dl>
							<dt>[연세대학교 원주캠퍼스] 가상 현실 기반 디지털 치료제 컨퍼런스</dt>
							<dd>
								<ul>
									<li>과제명 : 가상현실 기반 디지털 치료제 컨퍼런스</li>
									<li>수행기간 : 2021.04~2021.04 3.</li>
								</ul>
							</dd>
						</dl>
					</div>
				</li>
				<li data-aos="fade-up">
					<a href="../goods/search_view.html"></a>
					<div class="thumb"><img src="../img/bbs-class-06.jpg" alt=""></div>
					<div class="txt">
						<dl>
							<dt>[탄소융합산업연구조합] 6대 탄소소재 분야 GVC 현황분석 조사용역</dt>
							<dd>
								<ul>
									<li>과제명 : 6대 탄소소재 분야 GVC 현황분석 조사용역</li>
									<li>수행기간 : 2021.02~2021.05</li>
								</ul>
							</dd>
						</dl>
					</div>
				</li>
				<li data-aos="fade-up">
					<a href="../goods/search_view.html"></a>
					<div class="thumb"><img src="../img/bbs-class-07.jpg" alt=""></div>
					<div class="txt">
						<dl>
							<dt>[강원대학교 산학협력단] 특허 포트폴리오 구축 보고서</dt>
							<dd>
								<ul>
									<li>과제명 : 특허 포트폴리오 구축 보고서</li>
									<li>수행기간 : 2020.11~2020.11</li>
									<li>발주기관 : 강원대학교 산학협력단</li>
								</ul>
							</dd>
						</dl>
					</div>
				</li>
			</ul>
		</div>
		<div class="main_contact w_custom" data-aos="fade-up">
			<div class="txt">
				<div class="txt_wrap">
					<div class="txt_titles">CONTACT US</div>
					<div class="txt_p">
						<p>WELCOME TO ‘FORESIGHT COMPANY’</p>
					</div>
					<div class="txt_line"></div>
					<div class="txt_btn">
						<a href="../board/inquiry_write.html" class="btn_detail_arrow"><span>자세히보기</span></a>
					</div>
				</div>
			</div>
			<div class="thumb"><img src="../img/bg-main-cantact.jpg" alt=""></div>
		</div>
	</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>