<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<script src="../js/main.js"></script>
<style>
#contents {max-width:100%;padding-bottom:120px;position: relative;}
.sub_visual > span{left:32px;}
</style>
<div class="sub_visual">
	<h3>개인정보처리방침</h3>
	<span>PRIVACY</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">개인정보처리방침</li>
	</ul>
</div>
<div class="sub_content">
	<div class="sub_policy sub_privacy">
		<div>
			<p>lifelog e-learning 홈페이지(이하 "홈페이지"라 함)를 관리하는 lifelog e-learning (이하 "회사"라 함) 은(는) 이용자들의 개인정보보호를 매우 중요시하며, <br>이용자가 서비스를 이용함과 동시에 온라인상에서 제공한 개인정보가 보호 받을 수 있도록 최선을 다하고 있습니다. 이에 회사는 통신비밀보호법, 전기통신사업법, <br>정보통신망이용촉진등에관한법률 등 정보통신서비스제공자가 준수하여야 할 관련 법규상의 개인정보보호 규정 및 정보통신부가 제정한 개인정보취급방침을 <br>준수하고 있습니다. 회사는 개인정보취급방침을 통하여 이용자들이 제공하는 개인정보가 어떠한 용도와 방식으로 이용되고 있으며 개인정보보호를 위해 <br>어떠한 조치가 취해지고 있는지 알려드립니다. <br>회사는 개인정보취급방침을 홈페이지 하단에 공개함으로써 이용자들이 언제나 용이하게 보실 수 있도록 조치하고 있습니다.</p>
			<p>회사의 개인정보 보호정책은 정부의 법률 및 지침 변경이나 회사의 내부 방침 변경 등으로 인하여 수시로 변경될 수 있고, 이에 따른 개인정보 보호정 <br>책의 지속적인 개선을 위하여 필요한 절차를 정하고 있습니다. 그리고 개인정보취급방침을 개정하는 경우 회사는그 변경사항에 대하여 즉시 홈페이 <br>지를 통하여 게시하고 개정일자 등을 부여하여 개정된 사항을 이용자들이 쉽게 알아볼 수 있도록 하고 있습니다. 이용자들께서는 사이트 방문시 수시 <br>로 확인하시기 바랍니다.</p>
			<p>회사의 개인정보취급방침은 다음과 같은 내용을 담고 있습니다.</p>
		</div>
		<div>
			<h5>개인정보에 관한 민원서비스</h5>
			<p>회사는 귀하가 좋은 정보를 안전하게 이용할 수 있도록 최선을 다하고 있습니다. 개인정보를 보호하는데 있어 귀하께 고지한 사항들에 반하는 사고가 <br>발생할 경우 개인정보관리책임자가 책임을 집니다. <br>이용자 개인정보와 관련한 아이디(ID)의 비밀번호에 대한 보안유지책임은 해당 이용자 자신에게 있습니다. 회사에서는 비밀번호에 대해 어떠한 방법 <br>으로도 이용자에게 직접적으로 질문하는 경우는없으므로 타인에게 비밀번호가 유출되지 않도록 각별히 주의하시기 바랍니다. 특히, 공공장소에서 온 <br>라인상에서 접속해 있을 경우에는 더욱 유의하셔야 합니다. 회사는 개인정보에 대한 의견수렴 및 불만처리를 담당하는 개인정보 관리담당자를 지정 <br>하고 있고, 연락처는 아래와 같습니다.</p>
			<p>- 이름 : 홍길동 <br> - 소속 : 라이프로그 빅데이터 플랫폼 사업단 <br> - 전화번호 : 010-0000-1111 <br> - 이메일 : hgildonf@gmail.com</p>
			<p>귀하께서는 회사의 서비스를 이용하시며 발생하는 모든 개인정보보호 관련 민원을 개인정보관리책임자 혹은 담당부서로 신고하실 수 있습니다. <br>회사는 이용자들의 신고사항에 대해 신속하게 충분한 답변을 드릴 것입니다. <br>기타 개인정보침해에 대한 신고나 상담이 필요하신 경우에는 아래 기관에 문의하시기 바랍니다.</p>
			<p>- 개인분쟁조정위원회 (www.1336.or.kr/1336) <br>- 정보보호마크인증위원회 (www.eprivacy.or.kr/02-580-0533~4) <br>- 대검찰청 인터넷범죄수사센터 (http://icic.sppo.go.kr/02-3480-3600) <br>- 경찰청 사이버테러대응센터 (www.ctrc.go.kr/02-392-0330)</p>
		</div>
	</div>
</div><!-- // sub_content -->
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>