<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<script src="../js/main.js"></script>
<style>
#contents {max-width:100%;padding-bottom:120px;position: relative;}
.sub_visual > span{left:5px;}
</style>
<div class="sub_visual">
	<h3>이용약관</h3>
	<span>TERMS OF USE</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">이용약관</li>
	</ul>
</div>
<div class="sub_content">
	<div class="sub_policy sub_terms">
		<div>
			<h4>제1장 총칙</h4>
			<h5>제1조 목적</h5>
			<p>이 약관은 lifelog e-learning (이하 "회사"라 함)와 이용고객(이하 "회원"이라 함)간에 회원제 서비스 (이하 "서비스" 라 함)의 이용 및 절차에 관한 기본 <br>적인 사항을 정함을 목적으로 한다.</p>
			<h5>제2조 이용약관의 효력 및 변경</h5>
			<p>① 이 약관은 회사 홈페이지(https://diba.bigdata-lifelog.kr/)에 게시하여 회원에게 공지함으로써 효력을 발생한다.</p>
			<p>② 회사는 합리적인 사유가 발생될 경우에는 이 약관을 변경할 수 있으며, 약관이 변경된 경우에는 제1항과 같은 방법으로 이를 공지한다.</p>
			<h5>제3조 약관의 적용</h5>
			<p>회원의 회사 홈페이지 이용에 관하여 이 약관을 적용하며 약관에 명시되지 아니한 사항에 대하여는 관계법령의 규정에 준한다.</p>
		</div>
		<div>
			<h4>제5장 서비스의 이용</h4>
			<h5>제11조 이용제한</h5>
			<p>회사는 회원이 게시하거나 등록하는 서비스내의 내용물이 다음 각 항에 해당한다고 판단되는 경우에 사전통지 없이 삭제할 수 있다.</p>
			<p>(가) 다른 회원 또는 제3자를 비방하거나 명예를 손상시키는 내용인 경우</p>
			<p>(나) 공공질서 및 미풍양속에 위반되는 내용인 경우</p>
			<p>(다) 범죄적 행위에 결부된다고 인정되는 내용인 경우</p>
			<p>(라) 회사의 저작권, 제3자의 저작권 등의 지적재산권 및 기타 권리를 침해한 경우</p>
			<p>(마) 회원이 서비스를 이용하여 광고나 상업행위를 한 경우</p>
			<p>(바) 회원이 음란물을 게재하거나 음란 사이트를 링크하는 경우</p>
			<p>(사) 기타 관계법령을 위반한 경우</p>
			<h5>제12조 서비스 이용 책임</h5>
			<p>제 11 조의 위반으로 인한 손실 및 관계기관에 의한 구속 등 법적 조치등에 관하여 회사는 책임지지 않는다</p>
			<h5>제 13 조 서비스 제공의 중지</h5>
			<p>회사는 천재지변이나 전산, 관련 설비의 장애 등 불가항력적인 문제가 발생한 경우 문제의 해결 시점까지 서비스 제공을 중단할 수 있다.</p>
		</div>
		<p>이 약관은 2021년 12월 17일 부터 효력을 갖는다.</p>
	</div>
</div><!-- // sub_content -->
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>