<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<script src="../js/main.js"></script>
<style>
#contents {max-width:100%;padding-bottom:0;}
</style>
<div class="sub_survey">
	<div class="sub_content">
		<div class="survey_tit">
			<h3>프로그램 만족도 조사 설문지</h3>
			<p>본 설문지는 학생들에게 더 나은 교욱을 지원하기 위해 실시하는 설문합니다. <br>조사 결과는 교육 훈련의 질적 향상을 도모하기 위한 자료로 활용되오니 솔직한 의견 및 느낌을 적어주시기 바랍니다. </p>
		</div>
		<div class="survey_content">
			<p>※ “1” (전혀 동의하지 않는다) 에서 “5” (매우 동의한다)까지 숫자 중 하나를 골라 체크하여 주십시요.</p>
			<form action="">
				<fieldset>
					<legend>설문지 작성</legend>
					<ul class="survey_list">
						<li>
							<table>
								<colgroup>
									
								</colgroup>
								<thead>
									<tr>
										<th rowspan="2" class="survey_sub_tit">1. 교육 프로그램 평가</th>
										<th colspan="5">척도</th>
									</tr>
									<tr class="survey_score">
										<td>1</td>
										<td>2</td>
										<td>3</td>
										<td>4</td>
										<td>5</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="survey_sbj"><span>가.</span> <p>본 교육프로그램에 전반적으로 만족한다.</p></td>
										<td>
											<input type="radio" name="survey_a_01" id="survey_a_01-1">
											<label for="survey_a_01-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_01" id="survey_a_01-2">
											<label for="survey_a_01-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_01" id="survey_a_01-3">
											<label for="survey_a_01-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_01" id="survey_a_01-4">
											<label for="survey_a_01-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_01" id="survey_a_01-5">
											<label for="survey_a_01-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>나.</span> <p>본 교육프로그램은 주제와 적합하게 구성되었다.</p></td>
										<td>
											<input type="radio" name="survey_a_02" id="survey_a_02-1">
											<label for="survey_a_02-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_02" id="survey_a_02-2">
											<label for="survey_a_02-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_02" id="survey_a_02-3">
											<label for="survey_a_02-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_02" id="survey_a_02-4">
											<label for="survey_a_02-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_02" id="survey_a_02-5">
											<label for="survey_a_02-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>다.</span> <p>본 교육프로그램은 향후 관련 업무에 많은 도움이 될 것이다.</p></td>
										<td>
											<input type="radio" name="survey_a_03" id="survey_a_03-1">
											<label for="survey_a_03-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_03" id="survey_a_03-2">
											<label for="survey_a_03-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_03" id="survey_a_03-3">
											<label for="survey_a_03-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_03" id="survey_a_03-4">
											<label for="survey_a_03-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_03" id="survey_a_03-5">
											<label for="survey_a_03-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>라.</span> <p>본 교육프로그램에 대한 참여로 해당 업무에 대한 이해도 및 활용도가 높아졌다.</p></td>
										<td>
											<input type="radio" name="survey_a_04" id="survey_a_04-1">
											<label for="survey_a_04-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_04" id="survey_a_04-2">
											<label for="survey_a_04-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_04" id="survey_a_04-3">
											<label for="survey_a_04-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_04" id="survey_a_04-4">
											<label for="survey_a_04-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_04" id="survey_a_04-5">
											<label for="survey_a_04-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>마.</span> <p>본 교육프로그램을 타인에게 추천할 의향이 있다.</p></td>
										<td>
											<input type="radio" name="survey_a_05" id="survey_a_05-1">
											<label for="survey_a_05-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_05" id="survey_a_05-2">
											<label for="survey_a_05-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_05" id="survey_a_05-3">
											<label for="survey_a_05-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_05" id="survey_a_05-4">
											<label for="survey_a_05-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_a_05" id="survey_a_05-5">
											<label for="survey_a_05-5"></label>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>
							<table>
								<colgroup>
									
								</colgroup>
								<thead>
									<tr>
										<th rowspan="2" class="survey_sub_tit">2. 강사평가</th>
										<th colspan="5">척도</th>
									</tr>
									<tr class="survey_score">
										<td>1</td>
										<td>2</td>
										<td>3</td>
										<td>4</td>
										<td>5</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="survey_sbj"><span>가.</span> <p>강사의 강의 내용이 과정 및 과목 목표와 일치하였다.</p></td>
										<td>
											<input type="radio" name="survey_b_01" id="survey_b_01-1">
											<label for="survey_b_01-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_01" id="survey_b_01-2">
											<label for="survey_b_01-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_01" id="survey_b_01-3">
											<label for="survey_b_01-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_01" id="survey_b_01-4">
											<label for="survey_b_01-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_01" id="survey_b_01-5">
											<label for="survey_b_01-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>나.</span> <p>강사는 해당 교육 내용에 대한 전문적이고 충분한 지식과 기술을 갖고 있었다.</p></td>
										<td>
											<input type="radio" name="survey_b_02" id="survey_b_02-1">
											<label for="survey_b_02-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_02" id="survey_b_02-2">
											<label for="survey_b_02-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_02" id="survey_b_02-3">
											<label for="survey_b_02-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_02" id="survey_b_02-4">
											<label for="survey_b_02-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_02" id="survey_b_02-5">
											<label for="survey_b_02-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>다.</span> <p>강사의 수업진행 방식은 체계적이고 적절하였다.</p></td>
										<td>
											<input type="radio" name="survey_b_03" id="survey_b_03-1">
											<label for="survey_b_03-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_03" id="survey_b_03-2">
											<label for="survey_b_03-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_03" id="survey_b_03-3">
											<label for="survey_b_03-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_03" id="survey_b_03-4">
											<label for="survey_b_03-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_03" id="survey_b_03-5">
											<label for="survey_b_03-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>라.</span> <p>강사의 수업 준비도는 충분하였다.</p></td>
										<td>
											<input type="radio" name="survey_b_04" id="survey_b_04-1">
											<label for="survey_b_04-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_04" id="survey_b_04-2">
											<label for="survey_b_04-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_04" id="survey_b_04-3">
											<label for="survey_b_04-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_04" id="survey_b_04-4">
											<label for="survey_b_04-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_04" id="survey_b_04-5">
											<label for="survey_b_04-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>마.</span> <p>학습자들의 문제나 관심사에 대해 적절한 배려를 해주었다.</p></td>
										<td>
											<input type="radio" name="survey_b_05" id="survey_b_05-1">
											<label for="survey_b_05-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_05" id="survey_b_05-2">
											<label for="survey_b_05-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_05" id="survey_b_05-3">
											<label for="survey_b_05-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_05" id="survey_b_05-4">
											<label for="survey_b_05-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_b_05" id="survey_b_05-5">
											<label for="survey_b_05-5"></label>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>
							<table>
								<colgroup>
									
								</colgroup>
								<thead>
									<tr>
										<th rowspan="2" class="survey_sub_tit">3. 교육운영</th>
										<th colspan="5">척도</th>
									</tr>
									<tr class="survey_score">
										<td>1</td>
										<td>2</td>
										<td>3</td>
										<td>4</td>
										<td>5</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="survey_sbj"><span>가.</span> <p>프로그램 운영에 있어 학습자들의 불편사항을 반영하였다.</p></td>
										<td>
											<input type="radio" name="survey_c_01" id="survey_c_01-1">
											<label for="survey_c_01-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_01" id="survey_c_01-2">
											<label for="survey_c_01-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_01" id="survey_c_01-3">
											<label for="survey_c_01-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_01" id="survey_c_01-4">
											<label for="survey_c_01-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_01" id="survey_c_01-5">
											<label for="survey_c_01-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>나.</span> <p>학습의 상담 및 출석관리는 잘 이루어졌다.</p></td>
										<td>
											<input type="radio" name="survey_c_02" id="survey_c_02-1">
											<label for="survey_c_02-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_02" id="survey_c_02-2">
											<label for="survey_c_02-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_02" id="survey_c_02-3">
											<label for="survey_c_02-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_02" id="survey_c_02-4">
											<label for="survey_c_02-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_02" id="survey_c_02-5">
											<label for="survey_c_02-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>다.</span> <p>교육생들의 지속적인 교육을 위한 지원은 잘 이루어졌다.</p></td>
										<td>
											<input type="radio" name="survey_c_03" id="survey_c_03-1">
											<label for="survey_c_03-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_03" id="survey_c_03-2">
											<label for="survey_c_03-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_03" id="survey_c_03-3">
											<label for="survey_c_03-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_03" id="survey_c_03-4">
											<label for="survey_c_03-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_03" id="survey_c_03-5">
											<label for="survey_c_03-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>라.</span> <p>교육 진행시 시간 배분및 교보재는 적절하였다.</p></td>
										<td>
											<input type="radio" name="survey_c_04" id="survey_c_04-1">
											<label for="survey_c_04-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_04" id="survey_c_04-2">
											<label for="survey_c_04-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_04" id="survey_c_04-3">
											<label for="survey_c_04-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_04" id="survey_c_04-4">
											<label for="survey_c_04-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_04" id="survey_c_04-5">
											<label for="survey_c_04-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>마.</span> <p>학습자들의 문제나 관심사에 대해 적절한 배려를 해주었다.</p></td>
										<td>
											<input type="radio" name="survey_c_05" id="survey_c_05-1">
											<label for="survey_c_05-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_05" id="survey_c_05-2">
											<label for="survey_c_05-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_05" id="survey_c_05-3">
											<label for="survey_c_05-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_05" id="survey_c_05-4">
											<label for="survey_c_05-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_c_05" id="survey_c_05-5">
											<label for="survey_c_05-5"></label>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>
							<table>
								<colgroup>
									
								</colgroup>
								<thead>
									<tr>
										<th rowspan="2" class="survey_sub_tit">4. 교육환경</th>
										<th colspan="5">척도</th>
									</tr>
									<tr class="survey_score">
										<td>1</td>
										<td>2</td>
										<td>3</td>
										<td>4</td>
										<td>5</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="survey_sbj"><span>가.</span> <p>교육장의 시설 상태는 전반적으로 만족스럽다.</p></td>
										<td>
											<input type="radio" name="survey_d_01" id="survey_d_01-1">
											<label for="survey_d_01-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_01" id="survey_d_01-2">
											<label for="survey_d_01-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_01" id="survey_d_01-3">
											<label for="survey_d_01-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_01" id="survey_d_01-4">
											<label for="survey_d_01-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_01" id="survey_d_01-5">
											<label for="survey_d_01-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>나.</span> <p>코로나 19에 대한 방역 체계는 잘 준비되어있다.</p></td>
										<td>
											<input type="radio" name="survey_d_02" id="survey_d_02-1">
											<label for="survey_d_02-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_02" id="survey_d_02-2">
											<label for="survey_d_02-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_02" id="survey_d_02-3">
											<label for="survey_d_02-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_02" id="survey_d_02-4">
											<label for="survey_d_02-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_02" id="survey_d_02-5">
											<label for="survey_d_02-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>다.</span> <p>교육생들의 지속적인 교육을 위한 지원은 잘 이루어졌다.</p></td>
										<td>
											<input type="radio" name="survey_d_03" id="survey_d_03-1">
											<label for="survey_d_03-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_03" id="survey_d_03-2">
											<label for="survey_d_03-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_03" id="survey_d_03-3">
											<label for="survey_d_03-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_03" id="survey_d_03-4">
											<label for="survey_d_03-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_03" id="survey_d_03-5">
											<label for="survey_d_03-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>라.</span> <p>교육 진행시 시간 배분 및 교보재는 적절하였다.</p></td>
										<td>
											<input type="radio" name="survey_d_04" id="survey_d_04-1">
											<label for="survey_d_04-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_04" id="survey_d_04-2">
											<label for="survey_d_04-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_04" id="survey_d_04-3">
											<label for="survey_d_04-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_04" id="survey_d_04-4">
											<label for="survey_d_04-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_04" id="survey_d_04-5">
											<label for="survey_d_04-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>마.</span> <p>학습자들의 문제나 관심사에 대해 적절한 배려를 해주었다.</p></td>
										<td>
											<input type="radio" name="survey_d_05" id="survey_d_05-1">
											<label for="survey_d_05-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_05" id="survey_d_05-2">
											<label for="survey_d_05-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_05" id="survey_d_05-3">
											<label for="survey_d_05-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_05" id="survey_d_05-4">
											<label for="survey_d_05-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_d_05" id="survey_d_05-5">
											<label for="survey_d_05-5"></label>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
						<li>
							<table>
								<colgroup>
									
								</colgroup>
								<thead>
									<tr>
										<th rowspan="2" class="survey_sub_tit">5. 수업만족도</th>
										<th colspan="5">척도</th>
									</tr>
									<tr class="survey_score">
										<td>1</td>
										<td>2</td>
										<td>3</td>
										<td>4</td>
										<td>5</td>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td class="survey_sbj"><span>가.</span> <p>수업내용, 강사, 수업환경 및 지원 사항을 고려할 때, 참여한 프로그램이 전반적으로 만족스러웠다.</p></td>
										<td>
											<input type="radio" name="survey_e_01" id="survey_e_01-1">
											<label for="survey_e_01-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_e_01" id="survey_e_01-2">
											<label for="survey_e_01-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_e_01" id="survey_e_01-3">
											<label for="survey_e_01-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_e_01" id="survey_e_01-4">
											<label for="survey_e_01-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_e_01" id="survey_e_01-5">
											<label for="survey_e_01-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>나.</span> <p>본 교육 프로그램을 타인에게 추천할 의향이 있다.</p></td>
										<td>
											<input type="radio" name="survey_e_02" id="survey_e_02-1">
											<label for="survey_e_02-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_e_02" id="survey_e_02-2">
											<label for="survey_e_02-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_e_02" id="survey_e_02-3">
											<label for="survey_e_02-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_e_02" id="survey_e_02-4">
											<label for="survey_e_02-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_e_02" id="survey_e_02-5">
											<label for="survey_e_02-5"></label>
										</td>
									</tr>
									<tr>
										<td class="survey_sbj"><span>다.</span> <p>수업내용, 강사, 수업환경 및 지원 사항을 고려할 때, 참여한 프로그램이 전반적으로 만족스러웠다. 수업 내용, 강사, 수업환경 및 지원 사항을 고려할 때, 참여한 프로그램이 전반적으로 만족스러웠다.</p></td>
										<td>
											<input type="radio" name="survey_e_03" id="survey_e_03-1">
											<label for="survey_e_03-1"></label>
										</td>
										<td>
											<input type="radio" name="survey_e_03" id="survey_e_03-2">
											<label for="survey_e_03-2"></label>
										</td>
										<td>
											<input type="radio" name="survey_e_03" id="survey_e_03-3">
											<label for="survey_e_03-3"></label>
										</td>
										<td>
											<input type="radio" name="survey_e_03" id="survey_e_03-4">
											<label for="survey_e_03-4"></label>
										</td>
										<td>
											<input type="radio" name="survey_e_03" id="survey_e_03-5">
											<label for="survey_e_03-5"></label>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
						<li class="survey_txt_box">
							<table>
								<colgroup>
									
								</colgroup>
								<thead>
									<tr>
										<th class="survey_sub_tit">6. 기타 개선할 사항이 있으면 자유롭게 기술하여 주십시오.</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>
											<textarea name="" id=""></textarea>
										</td>
									</tr>
								</tbody>
							</table>
						</li>
					</ul>
					<span class="no_chk_btn">팝업 임시 버튼</span><!-- 체크되지 않은 항목이 있을 때 나오는 팝업 임시 버튼-->
					<a class="btn_survey_submit">제출하기</a>
				</fieldset>
			</form>
		</div>
	</div><!-- // sub_content -->
</div><!-- // sub_survey -->
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>