<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual inquiry">
	<h3>관리자 문의</h3>
	<span>INQUIRY</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">관리자 문의</li>
	</ul>
</div>
<div class="sub_content">
	<div class="board_inquiry">
		<p class="noti">소중한 의견을 작성해주시면 문의하신 내용은 메일 또는 전화를 통해 자세한 답변을 드립니다.</p>
		<form method="post" action="">
			<table class="board_table write">
				<colgroup>
					<col width="200px">
					<col width="">
				</colgroup>
				<tbody>
					<tr>
						<th class="important">제목</th>
						<td><input type="text" name=""></td>
					</tr>
					<tr>
						<th class="important">범위</th>
						<td style="height:39px;">
							<input type="radio" name="range_chk" id="range_chk01"><label for="range_chk01">학습</label>
							<input type="radio" name="range_chk" id="range_chk02"><label for="range_chk02">결제</label>
							<input type="radio" name="range_chk" id="range_chk03"><label for="range_chk03">기타<label>
						</td>
					</tr>
					<tr>
						<th class="important ver_top">내용</th>
						<td>
							<textarea name="" rows="" cols="" placeholder="1. 강좌명
2. 현상 
3. 운용 환경(OS, 브라우저 이름 등)"></textarea>
						</td>
					</tr>
					<tr>
						<th>첨부파일</th>
						<td>
							<input type="file" id="inquiry_file"><label for="inquiry_file"><span>선택된 파일 없음</span><strong>찾아보기</strong></label>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="btn_center">
				<a href="../board/inquiry_list.html" class="cancel_btn">취소</a>
				<a href="" class="ok_btn">저장하기</a>
			</div>
		</form>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<script>
	$(document).ready(function(){
		//첨부파일 파일명 대입
			$("#inquiry_file").on('change', function(){
				if(window.FileReader){
					var filename = $(this)[0].files[0].name;
				} else {
					var filename = $(this).val().split('/').pop().split('\\').pop();
				}
				$("#inquiry_file + label > span").html(filename).css("color","#333");
			});
	}); 
</script>