<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual inquiry">
	<h3>문의내역</h3>
	<span>INQUIRY</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">문의내역</li>
	</ul>
</div>
<div class="sub_content">
	<div class="board_search_box">
		<div class="select_wrap">
			<ul class="search_sel">
				<li>
					<a href="">제목</a>
					<ul class="dn">
						<li><a href="">제목</a></li>
						<li><a href="">내용</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="search_txt">
			<form method="post" action="">
				<input type="text" name="" placeholder="검색어를 입력해주세요">
				<button type="submit" class="cont_search_btn"></button>
			</form>
		</div>
	</div>
	<div class="board_inquiry">
		<table class="board_table">
			<colgroup>
				<col width="150px">
				<col width="">
				<col width="150px">
				<col width="150px">
			</colgroup>
			<thead>
				<tr>
					<th>No.</th>
					<th>제목</th>
					<th>처리상태</th>
					<th>등록일자</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="no">10</td>
					<td class="tittle"><a href="">영상 재생이 안됩니다</a></td>
					<td><span class="enrolment_btn apply">대기</span></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">9</td>
					<td class="tittle"><a href="">환불 조건 문의</a></td>
					<td><span class="enrolment_btn">완료</span></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">8</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다.</a></td>
					<td><span class="enrolment_btn apply">대기</span></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">7</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다.</a></td>
					<td><span class="enrolment_btn">완료</span></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">6</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다. 안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다. 안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다.</a></td>
					<td><span class="enrolment_btn">완료</span></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">5</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다. 안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다. 안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다.</a></td>
					<td><span class="enrolment_btn">완료</span></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">4</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다. 안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다. 안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다.</a></td>
					<td><span class="enrolment_btn">완료</span></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">3</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다. 안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다. 안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다.</a></td>
					<td><span class="enrolment_btn">완료</span></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">2</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다. 안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다. 안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다.</a></td>
					<td><span class="enrolment_btn">완료</span></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">1</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다. 안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다. 안녕하세요. 포사이트컴퍼니 문의내역 게시글 입니다.</a></td>
					<td><span class="enrolment_btn">완료</span></td>
					<td>2022.01.03</td>
				</tr>
			</tbody>
		</table>
		<div class="paging">
			<ul>
				<li class="first arr"><a href="">처음으로</a></li>
				<li class="prev arr"><a href="">이전으로</a></li>
				<li class="on"><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li class="next arr"><a href="">다음으로</a></li>
				<li class="last arr"><a href="">마지막으로</a></li>
			</ul>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<div class="board_view_layer dn">
	<button class="close_btn"></button>
	<div class="inquiry_view_popup">
		<div class="tit_wrap">
			<h3>영상 재생이 안됩니다.</h3>
			<span>2022.01.03</span>
		</div>
		<div class="cont">
			<p>안녕하세요. <br>영상 재생이 안됩니다. <br>답변부탁드립니다.</p>
		</div>
		<div class="tit_wrap">
			<h5>댓글 <strong>2</strong>건</h5>
		</div>
		<div class="comment">
			<form method="post" action="">
				<ul class="ment_list">
					<li>
						<dl>
							<dt>관리자</dt>
							<dd>문의가 접수되었습니다.<span>2022.01.03</span></dd>
						</dl>
					</li>
					<li>
						<dl>
							<dt>관리자</dt>
							<dd>문의 내용이 완료 되었습니다. <span>2022.01.03</span></dd>
						</dl>
					</li>
				</ul>
				<div class="ment_input">
					<dl>
						<dt>댓글</dt>
						<dd>
							<textarea name="" rows="" cols=""></textarea>
							<button class="ment_btn">등록</button>
						</dd>
					</dl>
				</div>
			</form>
		</div>
		<div class="btn_center">
			<a href="" class="cancel_btn">취소</a>
			<a href="" class="ok_btn">저장하기</a>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		//검색 옵션 선택
			$(".search_sel li a").on("click", function(){
				$(this).next("ul").toggleClass("dn")
				return false;
			});
			$(".search_sel > li > ul li a").on("click", function(){
				var option = $(this).html()
				$(this).parent().parent("ul").addClass("dn").siblings("a").html(option)
				return false;
			});
			$("#wrap").on("click", function (e){
				var search_sel = $(".search_sel");
				if( search_sel.has(e.target).length === 0){
				  $(".search_sel > li > ul").addClass("dn")
				}
			});
		//공지사항 View
			$(".board_inquiry .board_table .tittle a").on("click", function(){
				$(".board_view_layer, #layer_dim").removeClass("dn");
				$("body").css("overflow","hidden")
				return false;
			});
			$(".board_view_layer .cancel_btn, .board_view_layer .close_btn, #layer_dim").on("click", function(){
				$(".board_view_layer, #layer_dim").addClass("dn");
				$("body").css("overflow","")
				return false;
			});
	});
</script>