<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual">
	<h3>공지사항</h3>
	<span>NOTICE</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">공지사항</li>
	</ul>
</div>
<div class="sub_content">
	<div class="board_search_box">
		<div class="select_wrap">
			<ul class="search_sel">
				<li>
					<a href="">제목</a>
					<ul class="dn">
						<li><a href="">제목</a></li>
						<li><a href="">내용</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="search_txt">
			<form method="post" action="">	
				<input type="text" name="" placeholder="검색어를 입력해주세요">
				<button type="submit" class="cont_search_btn"></button>
			</form>
		</div>
	</div>
	<div class="board_notice">
		<table class="board_table">
			<colgroup>
				<col width="150px">
				<col width="">
				<col width="200px">
			</colgroup>
			<thead>
				<tr>
					<th>No.</th>
					<th>제목</th>
					<th>등록일자</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="no">10</td>
					<td class="tittle"><a href="">시스템 긴급 점검 작업 안내</a></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">9</td>
					<td class="tittle"><a href="">사이트 리뉴얼 작업 안내</a></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">8</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다.</a></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">7</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다.</a></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">5</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다...</a></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">4</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다...</a></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">3</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다...</a></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">2</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다...</a></td>
					<td>2022.01.03</td>
				</tr>
				<tr>
					<td class="no">1</td>
					<td class="tittle"><a href="">안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다. 안녕하세요. 포사이트컴퍼니 공시사항 게시글 입니다...</a></td>
					<td>2022.01.03</td>
				</tr>
			</tbody>
		</table>
		<div class="paging">
			<ul>
				<li class="first arr"><a href="">처음으로</a></li>
				<li class="prev arr"><a href="">이전으로</a></li>
				<li class="on"><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li class="next arr"><a href="">다음으로</a></li>
				<li class="last arr"><a href="">마지막으로</a></li>
			</ul>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<div class="board_view_layer dn">
	<button class="close_btn"></button>
	<div class="view_popup">
		<div class="tit_wrap">
			<h3>시스템 긴급 점검 작업 안내</h3>
			<span>2022.01.03</span>
		</div>
		<div class="cont">
			<p>안녕하세요. <br>저희 포사이트컴퍼니는 시스템 긴급 점검 작업이 진행될 예정입니다. <br>점검 일시 : 2022년 1월 7일 09:00 ~ 2022년 1월 8일 09:00 <br>문의 사항은 관리자에게 연락하시길 바랍니다. <br>관리자 연락처 : admin@test.com / 02 -1234 - 5689 <br><br>빠른 시일내에 보다 좋은 서비스로 찾아 뵙겠습니다. <br>감사합니다.</p>
		</div>
		<div class="btn_center">
			<a href="" class="ok_btn">확인</a>
		</div>
	</div>
</div>

<script>
	$(document).ready(function(){
		//검색 옵션 선택
			$(".search_sel li a").on("click", function(){
				$(this).next("ul").toggleClass("dn")
				return false;
			});
			$(".search_sel > li > ul li a").on("click", function(){
				var option = $(this).html()
				$(this).parent().parent("ul").addClass("dn").siblings("a").html(option)
				return false;
			});
			$("#wrap").on("click", function (e){
				var search_sel = $(".search_sel");
				if( search_sel.has(e.target).length === 0){
				  $(".search_sel > li > ul").addClass("dn")
				}
			});
		//공지사항 View
			$(".board_notice .board_table .tittle a").on("click", function(){
				$(".board_view_layer, #layer_dim").removeClass("dn");
				$("body").css("overflow","hidden")
				return false;
			});
			$(".board_view_layer .ok_btn, .board_view_layer .close_btn, #layer_dim").on("click", function(){
				$(".board_view_layer, #layer_dim").addClass("dn");
				$("body").css("overflow","")
				return false;
			});
	});
</script>