<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual enrolment_list">
	<h3>수강신청</h3>
	<span>APPLICATION</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">수강신청</li>
	</ul>
</div>
<div class="sub_content">
	<form method="post" action="">
		<div class="goods_search_box">
			<div class="select_wrap">
				<h4 class="select_tit">강사</h4>
				<ul class="search_sel">
					<li>
						<a href="">선택</a>
						<ul class="dn">
							<li><a href="">홍길동</a></li>
							<li><a href="">고길동</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="select_wrap course_name">
				<h4 class="select_tit">과정명</h4>
				<ul class="search_sel">
					<li>
						<a href="">선택</a>
						<ul class="dn">
							<li><a href="">빅데이터 사이언티스트 초급</a></li>
							<li><a href="">빅데이터 사이언티스트 중급</a></li>
							<li><a href="">빅데이터 사이언티스트 고급</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<button type="submit" class="cont_search_btn"></button>
		</div>
	</form>
	<div class="enrolment_list">
		<table class="board_table">
			<colgroup>
				<col width="100px">
				<col width="">
				<col width="220px">
				<col width="120px">
				<col width="120px">
				<col width="120px">
				<col width="120px">
			</colgroup>
			<thead>
				<tr>
					<th>No.</th>
					<th>수강 과목</th>
					<th>학습 기간</th>
					<th>수강 신청</th>
					<th>결제</th>
					<th>취소</th>
					<th>상태</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="no">4</td>
					<td class="tittle"><a href="">빅데이터 엔지니어 초급</a></td>
					<td class="period">2022.01.21 ~ 2022.02.31</td>
					<td><span class="enrolment_btn apply">신청하기</span></td>
					<td><span class="enrolment_btn payment">결제하기</span></td>
					<td><span class="enrolment_btn cancel">취소하기</span></td>
					<td class="situation">결제대기</td>
				</tr>
				<tr>
					<td class="no">3</td>
					<td class="tittle"><a href="">빅데이터 엔지니어 초급 빅데이터 엔지니어 초급</a></td>
					<td class="period">2022.01.21 ~ 2022.02.31</td>
					<td><span class="enrolment_btn apply">신청하기</span></td>
					<td><span class="enrolment_btn payment">결제하기</span></td>
					<td><span class="enrolment_btn cancel">취소하기</span></td>
					<td class="situation">결제대기</td>
				</tr>
				<tr>
					<td class="no">2</td>
					<td class="tittle"><a href="">빅데이터 엔지니어 초급 빅데이터 엔지니어 초급</a></td>
					<td class="period">2022.01.21 ~ 2022.02.31</td>
					<td><span class="enrolment_btn">신청하기</span></td>
					<td><span class="enrolment_btn">결제하기</span></td>
					<td><span class="enrolment_btn cancel">취소하기</span></td>
					<td class="situation done">결제완료</td>
				</tr>
				<tr>
					<td class="no">1</td>
					<td class="tittle"><a href="">빅데이터 엔지니어 초급 빅데이터 엔지니어 초급 데이터 엔지니어 초급</a></td>
					<td class="period">2022.01.21 ~ 2022.02.31</td>
					<td><span class="enrolment_btn">신청하기</span></td>
					<td><span class="enrolment_btn">결제하기</span></td>
					<td><span class="enrolment_btn cancel">취소하기</span></td>
					<td class="situation done">결제완료</td>
				</tr>
			</tbody>
		</table>
		<div class="goods_notice">
			<dl>
				<dt>주의사항</dt>
				<dd>
					<ol>
						<li>수강신청 즉시 결제 및 수강은 불가 합니다. </li>
						<li>수강 신청 절차는 수강 신청 → 심사 → 결제 → 수강신청 완료 입니다.</li>
						<li>심사가 완료되면 결제창이 활성화 됩니다. </li>
						<li>심사 완료 후 결제는 +3일 이내 완료되지 않으면 취소되며 이런 경우 재신청 하셔야 합니다.</li>
						<li>수강 신청 완료까지 영업일 기준 최대 +3일이 걸릴 수 있습니다.</li>
					</ol>
				</dd>
			</dl>
			<dl>
				<dt>환불 규정</dt>
				<dd>
					<ol>
						<li>진도율 15% 미만 시 수강신청 당일 취소 가능합니다.</li>
						<li>수강신청일 +7일 내 진도율 미만 시 취소 가능합니다. </li>
						<li>환불은 영업일 기준 최대 +3일이 걸릴 수 있습니다.</li>
						<li>수강신청일 +7일 후 취소는 관리자에게 문의하시기 바랍니다.</li>
					</ol>
				</dd>
			</dl>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<div class="alert_layer dn">
	<h4>개인정보 활용에 동의하지 않으셨습니다. </h4>
	<p>개인정보 활용에 동의하지 않으시면 <br>수강 신청을 할 수 없습니다.</p>
	<div class="btn_center">
		<a href="" class="ok_btn">확인</a>
	</div>
</div>
<div class="alert_layer_bg dn"></div>
<div class="board_view_layer dn">
	<button class="close_btn"></button>
	<div class="apply_popup">
		<form method="post" action="">
			<div class="tit_wrap">
				<h3>신청서 작성</h3>
			</div>
			<div class="cont">
				<dl style="width:55%; float:left;">
					<dt class="important">신청자 성명</dt>
					<dd><input type="text" name="" class="name"></dd>
				</dl>
				<dl style="width:45%; float:left; padding-top:0;">
					<dt class="important">추천인 성명</dt>
					<dd><input type="text" name="" class="name"></dd>
				</dl>
				<dl>
					<dt class="important">직업</dt>
					<dd>
						<input type="radio" name="job_chk" id="job_chk01"><label for="job_chk01">대학생</label>
						<input type="radio" name="job_chk" id="job_chk02"><label for="job_chk02">대학생(석사과정)</label>
						<input type="radio" name="job_chk" id="job_chk03"><label for="job_chk03">대학생(박사과정)</label>
						<input type="radio" name="job_chk" id="job_chk04"><label for="job_chk04">직장인</label>
						<input type="radio" name="job_chk" id="job_chk05"><label for="job_chk05">취/창업준비생</label>
						<input type="radio" name="job_chk" id="job_chk06"><label for="job_chk06">기타</label>
					</dd>
				</dl>
				<dl>
					<dt class="important">생년월일</dt>
					<dd><input type="number" name="" maxlength="6" oninput="maxLengthCheck(this)" class="birth_date" ></dd>
				</dl>
				<dl>
					<dt class="important">연락처</dt>
					<dd>
						<input type="number" name="" maxlength="3" oninput="maxLengthCheck(this)" id="phone01">
						<span class="hyphen"></span>
						<input type="number" name="" min="" maxlength="4" oninput="maxLengthCheck(this)" id="phone02">
						<span class="hyphen"></span>
						<input type="number" name="" min="" maxlength="4" oninput="maxLengthCheck(this)" id="phone03">
					</dd>
				</dl>
				<dl>
					<dt>주소</dt>
					<dd>
						<input type="text" name="" class="address" placeholder="(작성 예시 : 서울특별시 마포구 성미산로 2-1)">	
					</dd>
				</dl>
				<dl>
					<dt class="important">이메일</dt>
					<dd>
						<input type="text" name="" class="mail">
						<em>@</em>
						<input type="text" name="" class="mail mail_address">
						<div class="select_wrap">
							<ul class="search_sel">
								<li>
									<a href="">직접입력</a>
									<ul class="dn">
										<li><a href="">naver.com</a></li>
										<li><a href="">gmail.com</a></li>
										<li><a href="" class="direct_entry">직접입력</a></li>
									</ul>
								</li>
							</ul>
						</div>
					</dd>
				</dl>
				<dl>
					<dt>학교/직장명</dt>
					<dd>
						<input type="text" name="">	
					</dd>
				</dl>
				<dl>
					<dt>학교/직장 소재지</dt>
					<dd>
						<input type="text" name="">	
					</dd>
				</dl>
			</div>
			<div class="tit_wrap">
				<h4>개인정보 수집·이용·제공 및 고유식별정보 처리에 관한 동의 안내</h4>
			</div>
			<div class="textarea_wrap">
				<div class="textarea_cont">
					<p><strong>1. 개인정보의 수집·이용에 관한 사항</strong></p>
					<p>개인정보 보호법 제 15조(개인정보의 수집 및 이용), 제 17조(개인정보의 제공)에 의거 빅데이터 전문가 과정 신청 시 아래와 같이 귀하의 개인정보를 수집·제공하고 있으며, 이에 대한 동의를 얻고자 합니다.</p>
					<br><br>
					<p><em>개인정보의 수집·이용 목적 : 직영교육 훈련 참여자 선정·관리, 훈련 참여 이력관리, 피보험자격 취득 조회, 만족도 조사 등에 활용, 구직등록 여부, 계약 체결, 중앙부처·지방자치단체의 일자리 관련 시스템 등 정보제공 및 정책자료 활용 (사업 관련 각종 연구 설문 조사 포함)</em></p>
				</div>
			</div>
			<div class="agree_wrap">
				<input type="radio" name="agree_chk" id="agree_chk01"><label for="agree_chk01">동의</label>
				<input type="radio" name="agree_chk" id="agree_chk02"><label for="agree_chk02">비동의</label>
			</div>
			<div class="btn_center">
				<a href="" class="cancel_btn">취소</a>
				<a href="../goods/enrolment_end.html" class="ok_btn">확인</a>
			</div>
		</form>
	</div>
</div>
<div class="payment_layer dn" onclick="location.href='../goods/payment_end.html'">
	<img src="../img/payment_img.jpg" alt="결제이미지">
</div>
<script>
	$(document).ready(function(){
		//검색 옵션 선택
			$(".search_sel li a").on("click", function(){
				$(this).next("ul").toggleClass("dn")
				return false;
			});
			$(".search_sel > li > ul li a").on("click", function(){
				var option = $(this).html()
				$(this).parent().parent("ul").addClass("dn").siblings("a").html(option)
				return false;
			});
			$("#wrap, .board_view_layer").on("click", function (e){
				var search_sel = $(".search_sel");
				if( search_sel.has(e.target).length === 0){
				  $(".search_sel > li > ul").addClass("dn")
				}
			});
		//수강신청 View
			$(".enrolment_list .enrolment_btn.apply").on("click", function(){
				$(".board_view_layer, #layer_dim").removeClass("dn");
				$("body").css("overflow","hidden")
				return false;
			});
			$(".board_view_layer .cancel_btn, .board_view_layer .close_btn, #layer_dim").on("click", function(){
				$(".board_view_layer, #layer_dim").addClass("dn");
				$("body").css("overflow","")
				return false;
			});
		//연락처 keyup
			$("#phone01").on("keyup", function() {
				if(this.value.length == 3) {
				   $("#phone02").focus()
				}
			});
			$("#phone02").on("keyup", function() {
				if(this.value.length == 4) {
				   $("#phone03").focus()
				}
			});
		//메일 선택
			$(".apply_popup .search_sel > li > ul li a").on("click", function(){
				var mail_option = $(this).html()
				if (!$(this).hasClass("direct_entry")){
					$(".mail_address").val(mail_option).attr("readonly", true);
				} else {
					$(".mail_address").val("").attr("readonly", false);
				}
			});
		//동의 미체크 시 레이어
			$(".apply_popup .ok_btn").on("click", function(){
				if(!$("#agree_chk01").is(":checked")){
					$(".alert_layer, .alert_layer_bg").removeClass("dn");
					return false;
				}
			});
		//동의 미체크 시 레이어 확인 버튼
			$(".alert_layer .ok_btn, .alert_layer_bg").on("click", function(){
				$(".alert_layer, .alert_layer_bg").addClass("dn");
				return false;
			});
		//결제하기 버튼
			$(".enrolment_list .enrolment_btn.payment").on("click", function(){
				$(".payment_layer, #layer_dim").removeClass("dn");
				$("body").css("overflow","hidden")
				return false;
			});
			$("#layer_dim").on("click", function(){
				$(".payment_layer, #layer_dim").addClass("dn");
				$("body").css("overflow","")
				return false;
			});
	});
	// 연락처 최대 글자 수
	function maxLengthCheck(object){
		if (object.value.length > object.maxLength){
			object.value = object.value.slice(0, object.maxLength);
		}    
   }
</script>