<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style type="text/css">
	#container{background:#eef1f6; min-height:700px;}
</style>
<div class="sub_content">
	<div class="enrolment_end">
		<h4>결제가 완료되었습니다.</h4>
		<p>결제 내역은 마이페이지>결제내역에서 <br>확인할 수 있습니다.</p>
		<div class="btn_center">
			<a href="../main/index.html" class="cancel_btn">홈으로</a>
			<a href="../mypage/index.html" class="ok_btn">확인</a>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
