<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual search_list">
	<h3>검색</h3>
	<span>search</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">검색</li>
	</ul>
</div>
<div class="sub_content">
	<form method="post" action="">
		<div class="search_tit">
			<h4><strong>‘빅데이터’</strong> 검색 결과</h4>
		</div>
		<div class="goods_search_box">
			<div class="select_wrap">
				<h4 class="select_tit">결과 내 검색 </h4>
				<ul class="search_sel">
					<li>
						<a href="">전체</a>
						<ul class="dn">
							<li><a href="">전체</a></li>
							<li><a href="">강좌</a></li>
							<li><a href="">게시판</a></li>
						</ul>
					</li>
				</ul>
			</div>
			<div class="search_txt">
				<input type="text" name="" placeholder="검색어를 입력해주세요">
				<button class="cont_search_btn"></button>
			</div>
		</div>
	</form>
	<div class="search_list">
		<table class="board_table">
			<colgroup>
				<col width="150px">
				<col width="150px">
				<col width="">
			</colgroup>
			<thead>
				<tr>
					<th>No.</th>
					<th>분류</th>
					<th>제목</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="no">10</td>
					<td class="type">강좌</td>
					<td class="tittle"><a href="../goods/search_view.html">빅데이터 사이언티스트 공통 과정</a></td>
				</tr>
				<tr>
					<td class="no">9</td>
					<td class="type">Q&A</td>
					<td class="tittle"><a href="../goods/search_view.html">빅데이터 질문</a></td>
				</tr>
				<tr>
					<td class="no">8</td>
					<td class="type">강좌</td>
					<td class="tittle"><a href="../goods/search_view.html">빅데이터 사이언티스트 공통 과정</a></td>
				</tr>
				<tr>
					<td class="no">7</td>
					<td class="type">Q&A</td>
					<td class="tittle"><a href="../goods/search_view.html">빅데이터 질문 빅데이터 질문 빅데이터 질문</a></td>
				</tr>
				<tr>
					<td class="no">6</td>
					<td class="type">강좌</td>
					<td class="tittle"><a href="../goods/search_view.html">빅데이터 사이언티스트 공통 과정</a></td>
				</tr>
				<tr>
					<td class="no">5</td>
					<td class="type">강좌</td>
					<td class="tittle"><a href="../goods/search_view.html">빅데이터 질문 빅데이터 질문 빅데이터 질문</a></td>
				</tr>
				<tr>
					<td class="no">4</td>
					<td class="type">강좌</td>
					<td class="tittle"><a href="../goods/search_view.html">빅데이터 사이언티스트 공통 과정</a></td>
				</tr>
				<tr>
					<td class="no">3</td>
					<td class="type">강좌</td>
					<td class="tittle"><a href="../goods/search_view.html">빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문</a></td>
				</tr>
				<tr>
					<td class="no">2</td>
					<td class="type">강좌</td>
					<td class="tittle"><a href="../goods/search_view.html">빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문</a></td>
				</tr>
				<tr>
					<td class="no">1</td>
					<td class="type">강좌</td>
					<td class="tittle"><a href="../goods/search_view.html">빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문 빅데이터 질문</a></td>
				</tr>
			</tbody>
		</table>
		<div class="paging">
			<ul>
				<li class="first arr"><a href="">처음으로</a></li>
				<li class="prev arr"><a href="">이전으로</a></li>
				<li class="on"><a href="">1</a></li>
				<li><a href="">2</a></li>
				<li><a href="">3</a></li>
				<li><a href="">4</a></li>
				<li><a href="">5</a></li>
				<li class="next arr"><a href="">다음으로</a></li>
				<li class="last arr"><a href="">마지막으로</a></li>
			</ul>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<div class="board_view_layer search dn">
	<button class="close_btn"></button>
	<div class="search_list_popup">
		<p>수강중인 강좌가 아닙니다.</p>
		<div class="btn_center">
			<a href="" class="ok_btn">확인</a>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		//검색 옵션 선택
			$(".search_sel li a").on("click", function(){
				$(this).next("ul").toggleClass("dn")
				return false;
			});
			$(".search_sel > li > ul li a").on("click", function(){
				var option = $(this).html()
				$(this).parent().parent("ul").addClass("dn").siblings("a").html(option)
				return false;
			});
			$("#wrap").on("click", function (e){
				var search_sel = $(".search_sel");
				if( search_sel.has(e.target).length === 0){
				  $(".search_sel > li > ul").addClass("dn")
				}
			});
	});
</script>