<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style>
#contents {max-width:100%;padding-bottom:120px;}
</style>
<div class="sub_visual search_view">
	<h3>강좌소개</h3>
	<span>lecture</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class=""><a href="../goods/search_list_login.html">계설강좌</a></li>
		<li class="on">빅데이터 엔지니어 전문가 과정</li>
	</ul>
</div>
<div class="sub_content">
	<div class="search_view">
		<div class="goods_wrap">
			<div class="thumb">
				<img src="../img/goods_thumb.png" alt="썸네일">
			</div>
			<div class="info">
				<div class="tit">
					<h4>빅데이터 엔지니어 전문가 과정</h4>
				</div>
				<dl>
					<dt>과제명</dt>
					<dd>지역 수요 맞춤형 사업 용역</dd>
				</dl>
				<dl>
					<dt>수행기간</dt>
					<dd>2022.08 ~ 2022.09</dd>
				</dl>
				<dl>
					<dt>발주기관</dt>
					<dd>(재)전북테크노파크</dd>
				</dl>
			</div>
		</div>
		<div class="goods_exp">
			<div class="tit">
				<h5>과정소개</h5>
			</div>
			<div class="cont">
				<p>빅데이터 엔지니어 전문가 과정 강의 소개글 입니다.<br><br>제 1강<br>제 2장<br>제 3강...</p>
			</div>
		</div>
		<div class="btn_center">
			<a href="../goods/search_list_login.html" class="ok_btn">목록</a>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<div class="board_view_layer search dn">
	<button class="close_btn"></button>
	<div class="search_list_popup">
		<p>수강중인 강좌가 아닙니다.</p>
		<div class="btn_center">
			<a href="" class="ok_btn">확인</a>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		//검색 옵션 선택
			$(".search_sel li a").on("click", function(){
				$(this).next("ul").toggleClass("dn")
				return false;
			});
			$(".search_sel > li > ul li a").on("click", function(){
				var option = $(this).html()
				$(this).parent().parent("ul").addClass("dn").siblings("a").html(option)
				return false;
			});
			$("#wrap").on("click", function (e){
				var search_sel = $(".search_sel");
				if( search_sel.has(e.target).length === 0){
				  $(".search_sel > li > ul").addClass("dn")
				}
			});
		//수강신청 View
			$(".board_table tbody tr td.tittle a").on("click", function(){
				$(".board_view_layer, #layer_dim").removeClass("dn");
				$("body").css("overflow","hidden")
				return false;
			});
			$(".board_view_layer .ok_btn, .board_view_layer .close_btn, #layer_dim").on("click", function(){
				$(".board_view_layer, #layer_dim").addClass("dn");
				$("body").css("overflow","")
				return false;
			});
	});
</script>