	<div class="quick_top"><button type="button" class="" onclick="$('html, body').stop().animate( { scrollTop : ($('#wrap').offset().top)}, 200 );"><span>TOP</span></button></div>	
</article><!-- #wrap 전체영역 -->
<script>
$(document).ready(function(){
	//애니메이션
		AOS.init({
			offset: 0,
			debounceDelay: 50,
			throttleDelay: 99,
			easing: 'ease-in-quart',
		});
});
</script>
</body>
</html>