	</div><!-- #contents -->
</div><!-- #container -->
<footer id="footer">
	<div class="ft_menu w_custom">
		<ul>
			<li><a href="../introduce/platform.html">회사소개</a></li>
			<li><a href="../service/terms.html">이용약관</a></li>
			<li><a href="../service/privacy.html">개인정보처리방침</a></li>
		</ul>
	</div>
	<div class="ft_info_wrap">
		<div class="clear w_custom">
			<div class="ft_logo"><a href="#"></a></div>
			<div class="ft_info">
				<strong>FORESIGHT COMPANY corp.</strong>
				<p>
					대표이사 : 오창헌<span class="bar"></span>사업자등록번호 : 352-86-00394 <br>통신판매업신고번호 : 2022-제주애월-0093 <br>전화  : 070-4104-2481(본사), 064-746-2212(연구소) <br>팩스 : 02-6280-3646<span class="bar"></span>이메일 : <a href="mailTo:valuenetwork@4sight.kr">valuenetwork@4sight.kr</a>
				</p>
				<address>Copyright &copy; FORESIGHT COMPANY All Rights Reserved.</address>
			</div>
			<div class="ft_address">
				<dl>
					<dt>본사</dt>
					<dd>제주특별자치도 제주시 애월읍 일주서로 6934, 201호</dd>
				</dl>
				<dl>
					<dt>연구소</dt>
					<dd>제주특별자치도 제주시 애월읍 일주서로 6934, 202호</dd>
				</dl>
				<dl>
					<dt>강원지점</dt>
					<dd>강원도 원주시 흥업면 울업1길 26, 2층</dd>
				</dl>
				<dl>
					<dt>전북지점</dt>
					<dd>전라북도 전주시 완산구 홍산남로 51, 606호</dd>
				</dl>
				<dl>
					<dt>광주사무소</dt>
					<dd>광주광역시 북구 용봉로 77 산학협력공학관 601호</dd>
				</dl>
			</div>
		</div>
	</div>	
</footer><!-- #footer -->
<!-- 메인 설문지 조사 팝업 -->
<div class="survey_pop main_survey" style="display:none;">
	<div class="survey_box">
		<div class="pop_close"><a href="javascript:void(0);"><span></span><span></span></a></div>
		<p>전체 진도율이 80%이상의 수료조건을 <br>만족해야만 작성이 가능합니다</p>
		<a href="../survey/write.html">확인</a>
	</div>
</div><!-- // survey_pop -->

<!-- 설문지 조사 체크 다 하지 않았을 때 -->
<div class="survey_pop no_chk" style="display: none;">
	<div class="survey_box">
		<strong>체크되지 않은 항목이 있습니다.</strong>
		<p>빠진 항목을 확인해 주시고 <br>다시 시도해 주시길 바랍니다. </p>
		<a href="javascript:void(0);">확인</a>
	</div>
</div><!-- // survey_pop -->

<!-- 설문지 조사 체크 다 했을 때 -->
<div class="survey_pop survey_fin" style="display: none;">
	<div class="survey_box">
		<div class="pop_close"><a href="javascript:void(0);"><span></span><span></span></a></div>
		<strong>감사합니다. <br>설문 조사를 완료하였습니다. </strong>
		<p>첫 화면으로 이동합니다. </p>
		<a href="../main/index.html">확인</a>
	</div>
</div><!-- // survey_pop -->
<div class="simultaneous_layer dn">
	<h4>동일한 아이디로 접속 중입니다.</h4>
	<p>모든 세션이 종료됩니다. <br>다시 로그인 하시길 바랍니다.</p>
	<div class="btn_center">
		<a href="" class="ok_btn" alt="로그아웃">확인</a>
	</div>
</div>
<div id="layer_dim" class="dn"></div>