<header id="header">
	<div class="hd_wrap clear">
		<h1 class="hd_logo"><a href="../main/index.html"></a></h1>
		<ul class="hd_gnb">
			<li><a href="../introduce/platform.html">소개</a></li>
			<li><a href="../board/notice_list.html">공지사항</a></li>
			<li><a href="../goods/enrolment_list.html">수강신청</a></li>
			<li><a href="../board/inquiry_write.html">관리자 문의</a></li>
		</ul>
		<div class="hd_search">
			<form action="" name="" id="" method="">
				<fieldset>
					<legend>검색폼</legend>
					<input type="text" id="" class="hd_input" name="" placeholder="SEARCH"><button type="button" class="hd_go" onclick="location.href='../goods/search_list.html'">검색</button>
				</fieldset>
			</form>
		</div>
		<div class="hd_member">
			<ul>
				<li><a href="../member/login.html">로그인</a></li>
				<li><a href="../member/join_write.html">회원가입</a></li>
			</ul>
			<ul>
				<!-- // 로그인 했을 때 노출 -->
				<li class="btn_survey"><a href="javascript:void(0);"><img src="../img/icon-hd-survey.png" alt="설문조사"></a></li>
				<!-- // 로그인 했을 때 노출 -->

				<li><a href="../mypage/notice_list.html"><img src="../img/icon-hd-alarm.png" alt="알림"></a></li>
				<li><a href="../mypage/qa_list.html"><img src="../img/icon-hd-qa.png" alt="Q&amp;A"></a></li>
				<li><a href="../mypage/index.html"><img src="../img/icon-hd-member.png" alt="마이페이지"></a></li>
			</ul>
		</div>
	</div>
</header><!-- #header -->
<div id="container">
	<div id="contents">