<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<script src="../js/main.js"></script>
<style>
	#header{border-bottom:1px solid #ddd;}
	#header.fix{border-bottom:none;}
	#container{min-height:750px;}
</style>
<div class="sub_content">
	<div class="sub_login login_content">
		<h3>비밀번호 찾기</h3>
		<ul class="find_tab">
			<li><a href="../member/find_id.html">아이디 찾기</a></li>
			<li class="on"><a href="../member/find_pw.html">임시 비밀번호 받기</a></li>
		</ul>
		<div class="login_box">
			<form action="">
				<fieldset>
					<legend>아이디, 이름 입력</legend>
					<ul class="login_frm">
						<li>
							<input type="text" name="" placeholder="아이디">
						</li>
						<li>
							<input type="text" name="" placeholder="이름">
						</li>
						<li class="btn_login">
							<button type="submit">받기</button>
						</li>
					</ul>
				</fieldset>
			</form>
		</div>
	</div>
</div><!-- // sub_content -->
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>

