<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<script src="../js/main.js"></script>
<style>
	#header{border-bottom:1px solid #ddd;}
	#header.fix{border-bottom:none;}
	#container{min-height:750px;}
</style>
<div class="sub_content">
	<div class="sub_login login_content">
		<h3>아이디 찾기</h3>
		<!-- 결과보기 --><!-- dn 제거 -->
		<div class="result_box">
			<p><span>홍길동</span> 님의 아이디는 <br><strong>foresight1234</strong> 입니다.</p>
			<a href="../member/login.html">확인</a>
		</div>
		<!-- 결과보기 -->
		<!-- 정보가 틀렸을 때 -->
		<div class="find_no_box">
			<strong>아이디를 찾을 수 없습니다.</strong>
			<p>다시 확인하시길 바랍니다.</p>
			<a href="../member/find_id.html">확인</a>
		</div>
		<!-- 정보가 틀렸을 때 -->
	</div>
</div><!-- // sub_content -->
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>

