<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<script src="../js/main.js"></script>
<style>
	#header{border-bottom:1px solid #ddd;}
	#header.fix{border-bottom:none;}
	#container{min-height:750px;}
</style>
<div class="sub_content">
	<div class="sub_login login_content">
		<h3>비밀번호 찾기</h3>
		<!-- 결과보기 --><!-- dn 제거 -->
		<div class="result_box pw_result">
			<p><strong>foresight@naver.com</strong> <span>으로 <br>임시 비밀번호를 전송하였습니다.</span></p>
			<span>임시 비밀번호로 로그인 후 <br>새로운 비밀번호로 변경하시길 바랍니다.</span>
			<a href="../member/login.html">확인</a>
		</div>
		<!-- 결과보기 -->
		<!-- 정보가 틀렸을 때 -->
		<div class="find_no_box">
			<strong>해당정보를 찾을 수 없습니다.</strong>
			<p>다시 확인하시길 바랍니다.</p>
			<a href="../member/find_id.html">확인</a>
		</div>
		<!-- 정보가 틀렸을 때 -->
	</div>
</div><!-- // sub_content -->
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>

