<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<style type="text/css">
	#container{background:#eef1f6; min-height:700px;}
</style>
<div class="sub_content">
	<div class="enrolment_end">
		<h4>축하합니다.</h4>
		<p>회원 가입을 완료하였습니다.</p>
		<div class="btn_center">
			<a href="../main/index.html" class="cancel_btn">홈으로</a>
			<a href="../member/login.html" class="ok_btn">확인</a>
		</div>
	</div>
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
