<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<script src="../js/main.js"></script>
<style>
	#header{border-bottom:1px solid #ddd;}
	#header.fix{border-bottom:none;}
</style>
<div class="sub_content">
	<div class="sub_join login_content">
		<h3>회원가입</h3>
		<div class="join_write_cont">
			<form method="post" action="">
				<table class="board_table write">
					<colgroup>
						<col width="200px">
						<col width="">
					</colgroup>
					<tbody>
						<tr>
							<th class="important">아이디</th>
							<td>
								<input type="text" name="" class="id_name">
								<button class="cont_search_btn">중복체크</button>
							</td>
						</tr>
						<tr>
							<th class="important">패스워드</th>
							<td>
								<input type="password" name="" class="id_password">
								<span class="exp">특수문자 한 개 이상 포함, 3개 이상 연속된 문자 금지</span>
							</td>
						</tr>
						<tr>
							<th class="important">패스워드 확인</th>
							<td>
								<input type="password" name="" class="id_password">
								<span class="exp">입력한 패스워드를 다시 입력하세요</span>
							</td>
						</tr>
						<tr>
							<th class="important">이름</th>
							<td>
								<input type="text" name="">
							</td>
						</tr>
						<tr>
							<th class="important">생년월일</th>
							<td>
								<input type="number" name="" maxlength="6" oninput="maxLengthCheck(this)" class="birth_date" >
							</td>
						</tr>
						<tr>
							<th class="important">이메일</th>
							<td class="mail_td">
								<input type="text" name="" class="mail">
								<em>@</em>
								<input type="text" name="" class="mail mail_address">
								<div class="select_wrap">
									<ul class="search_sel">
										<li>
											<a href="">직접입력</a>
											<ul class="dn">
												<li><a href="">naver.com</a></li>
												<li><a href="">gmail.com</a></li>
												<li><a href="" class="direct_entry">직접입력</a></li>
											</ul>
										</li>
									</ul>
								</div>
								<button class="cont_search_btn">이메일 중복확인</button>
							</td>
						</tr>
						<tr>
							<th class="important">휴대폰</th>
							<td>
								<input type="number" name="" maxlength="3" oninput="maxLengthCheck(this)" id="phone_num01">
								<span class="hyphen"></span>
								<input type="number" name="" min="" maxlength="4" oninput="maxLengthCheck(this)" id="phone_num02">
								<span class="hyphen"></span>
								<input type="number" name="" min="" maxlength="4" oninput="maxLengthCheck(this)" id="phone_num03">
							</td>
						</tr>
						<tr>
							<th>지역</th>
							<td>
								<div class="select_wrap">
									<ul class="search_sel">
										<li>
											<a href="">도/시 선택</a>
											<ul class="dn">
												<li><a href="">서울특별시</a></li>
												<li><a href="">제주도</a></li>
											</ul>
										</li>
									</ul>
								</div>
								<div class="select_wrap">
									<ul class="search_sel">
										<li>
											<a href="">선택</a>
											<ul class="dn">
												<li><a href="">구로구</a></li>
												<li><a href="">제주시</a></li>
											</ul>
										</li>
									</ul>
								</div>
							</td>
						</tr>
						<tr>
							<th>메일수신</th>
							<td>
								<input type="radio" name="receive_mail" id="receive_mail_chk01"><label for="receive_mail_chk01">수신동의</label>
								<input type="radio" name="receive_mail" id="receive_mail_chk02"><label for="receive_mail_chk02">수신거부</label>
							</td>
						</tr>
						<tr>
							<th>SNS수신</th>
							<td>
								<input type="radio" name="receive_sns" id="receive_sns_chk01"><label for="receive_sns_chk01">수신동의</label>
								<input type="radio" name="receive_sns" id="receive_sns_chk02"><label for="receive_sns_chk02">수신거부</label>
							</td>
						</tr>
						<tr>
							<th>자동등록방지</th>
							<td>
								<div class="captcha_box">
									<img src="../img/captcha_img.jpg" alt="자동등록방지 이미지">
									<button class="voice_btn"></button>
									<button class="reset_btn"></button>
								</div>
								<input type="text" name="" class="captcha_txt">
								<span class="exp">자동등록방지 숫자를 순서대로 입력하세요.</span>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="tit_wrap">
					<h4>이용약관 동의</h4>
				</div>
				<div class="join_agree">
					<input type="checkbox" name="" id="all_agree_chk"><label for="all_agree_chk">전체동의</label>
					<ul>
						<li>
							<input type="checkbox" name="" id="agree_chk01" class="agree_chk_box"><label for="agree_chk01">이용약관 동의 <strong>(필수)</strong></label>
							<a href="" class="toggle_btn">전체보기</a>
							<div class="textarea_wrap">
								<div class="textarea_cont">
									<p><strong>1. 개인정보의 수집·이용에 관한 사항</strong></p>
									<p>개인정보 보호법 제 15조(개인정보의 수집 및 이용), 제 17조(개인정보의 제공)에 의거 빅데이터 전문가 과정 신청 시 아래와 같이 귀하의 개인정보를 수집·제공하고 있으며, 이에 대한 동의를 얻고자 합니다.</p>
									<br><br>
									<p><em>개인정보의 수집·이용 목적 : 직영교육 훈련 참여자 선정·관리, 훈련 참여 이력관리, 피보험자격 취득 조회, 만족도 조사 등에 활용, 구직등록 여부, 계약 체결, 중앙부처·지방자치단체의 일자리 관련 시스템 등 정보제공 및 정책자료 활용 (사업 관련 각종 연구 설문 조사 포함)</em></p>
								</div>
							</div>
						</li>
						<li>
							<input type="checkbox" name="" id="agree_chk02" class="agree_chk_box"><label for="agree_chk02">이용약관 동의 <strong>(필수)</strong></label>
							<a href="" class="toggle_btn">전체보기</a>
							<div class="textarea_wrap">
								<div class="textarea_cont">
									<p><strong>1. 개인정보의 수집·이용에 관한 사항</strong></p>
									<p>개인정보 보호법 제 15조(개인정보의 수집 및 이용), 제 17조(개인정보의 제공)에 의거 빅데이터 전문가 과정 신청 시 아래와 같이 귀하의 개인정보를 수집·제공하고 있으며, 이에 대한 동의를 얻고자 합니다.</p>
									<br><br>
									<p><em>개인정보의 수집·이용 목적 : 직영교육 훈련 참여자 선정·관리, 훈련 참여 이력관리, 피보험자격 취득 조회, 만족도 조사 등에 활용, 구직등록 여부, 계약 체결, 중앙부처·지방자치단체의 일자리 관련 시스템 등 정보제공 및 정책자료 활용 (사업 관련 각종 연구 설문 조사 포함)</em></p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="btn_center">
					<a href="../main/index.html" class="cancel_btn">취소</a>
					<a href="../member/join_end.html" class="ok_btn">저장하기</a>
				</div>
			</form>
		</div>
	</div>
</div><!-- // sub_content -->
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>
<script>
	$(document).ready(function(){
		//검색 옵션 선택
			$(".search_sel li a").on("click", function(){
				$(this).next("ul").toggleClass("dn")
				return false;
			});
			$(".search_sel > li > ul li a").on("click", function(){
				var option = $(this).html()
				$(this).parent().parent("ul").addClass("dn").siblings("a").html(option)
				return false;
			});
			$("#wrap").on("click", function (e){
				var search_sel = $(".search_sel");
				if( search_sel.has(e.target).length === 0){
				  $(".search_sel > li > ul").addClass("dn")
				}
			});

		//연락처 keyup
			$("#phone_num01").on("keyup", function() {
				if(this.value.length == 3) {
				   $("#phone_num02").focus()
				}
			});
			$("#phone_num02").on("keyup", function() {
				if(this.value.length == 4) {
				   $("#phone_num03").focus()
				}
			});
		//메일 선택
			$(".join_write_cont .mail_td .search_sel > li > ul li a").on("click", function(){
				var mail_option = $(this).html()
				if (!$(this).hasClass("direct_entry")){
					$(".mail_address").val(mail_option).attr("readonly", true);
				} else {
					$(".mail_address").val("").attr("readonly", false);
				}
			});
		//이용약관 동의
			var AllChecked = $(".join_agree .agree_chk_box").length;
			var checkedCnt = $(".join_agree li input[type='checkbox']:checked").length;

		    $( "#all_agree_chk" ).click( function() {
				var chk = $(this).is(":checked");
				if(chk){
					$(".join_agree .agree_chk_box").prop('checked', true); 
				} else{
					$(".join_agree .agree_chk_box").prop('checked', false);
				}
		    });
			$(".join_agree .agree_chk_box").on("click",function(){
				var checkedCnt = $(".join_agree li input[type='checkbox']:checked").length;
				if(AllChecked == checkedCnt ){
					$("#all_agree_chk").prop("checked", true);
				} else if(AllChecked > checkedCnt){
					$("#all_agree_chk").prop("checked", false);
				}
			});
			$(".join_agree .toggle_btn").on("click", function(){
				$(this).toggleClass("on").next(".textarea_wrap").stop().slideToggle();
				$(this).parent("li").siblings().find(".toggle_btn").removeClass("on").next(".textarea_wrap").slideUp();
				return false;
			});
	});
	// 연락처 최대 글자 수
	function maxLengthCheck(object){
		if (object.value.length > object.maxLength){
			object.value = object.value.slice(0, object.maxLength);
		}    
   }
</script>
