<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<script src="../js/main.js"></script>
<style>
	#header{border-bottom:1px solid #ddd;}
	#header.fix{border-bottom:none;}
	#container{min-height:750px;}
</style>
<div class="sub_content">
	<div class="sub_login login_content">
		<h3>로그인</h3>
		<div class="login_box">
			<form action="">
				<fieldset>
					<legend>아이디 비밀번호 입력</legend>
					<ul class="login_frm">
						<li>
							<input type="text" name="" placeholder="아이디">
						</li>
						<li>
							<input type="text" name="" placeholder="비밀번호">
						</li>
						<li class="btn_login">
							<button type="submit">로그인</button>
						</li>
					</ul>
				</fieldset>
			</form>
			<div class="login_btn_wrap">
				<div class="id_save">
					<input type="checkbox" id="id_save">
					<label for="id_save">아이디 저장</label>
				</div>
				<ul class="login_link">
					<li><a href="../member/join_write.html">회원가입</a></li>
					<li><a href="../member/find_id.html">아이디찾기</a></li>
					<li><a href="../member/find_pw.html">비밀번호찾기</a></li>
				</ul>
			</div>
		</div>
	</div>
</div><!-- // sub_content -->
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>

