<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<script src="../js/main.js"></script>
<style>
#contents {max-width:100%;padding-bottom:240px;position: relative;}
.sub_visual > span{left:17px;}
.sub_nav > ul{padding-bottom:0;}
</style>
<div class="sub_visual">
	<h3>소개</h3>
	<span>INTRODUCE</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">소개</li>
	</ul>
</div>
<div class="sub_content">
	<div class="introduce_tab">
		<ul>
			<li><a href="../introduce/platform.html">라이프로그 교육 플랫폼</a></li>
			<li class="on"><a href="../introduce/direction.html">라이프로그 교육 플랫폼의 방향</a></li>
		</ul>
	</div>
	<div class="sub_direction clear">
		<div class="direction_box fl direction_class">
			<p class="direction_tit">교육 강좌</p>
			<div class="direction_cont">
				<ul>
					<li>
						<div class="icon"><img src="../img/direction-class-01.png" alt="빅데이터엔지니어"></div>
						<p>빅데이터엔지니어</p>
					</li>
					<li>
						<div class="icon"><img src="../img/direction-class-02.png" alt="빅데이터헬스"></div>
						<p>빅데이터헬스</p>
					</li>
					<li>
						<div class="icon"><img src="../img/direction-class-03.png" alt="빅데이터사이언티스트"></div>
						<p>빅데이터사이언티스트</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="direction_box direction_clear direction_tech">
			<p class="direction_tit">분석 기술</p>
			<div class="direction_cont">
				<div class="direction_tech01">
					<div class="icon"><img src="../img/direction-tech-01.png" alt="전처리"></div>
					<p>전처리</p>
				</div>
				<div class="direction_tech02">
					<div class="icon"><img src="../img/direction-tech-02.png" alt="분석방법"></div>
					<p>분석 방법</p>
				</div>
			</div>
		</div>
		<div class="direction_box fr direction_part">
			<p class="direction_tit">적용 분야</p>
			<div class="direction_cont">
				<ul>
					<li>
						<div class="icon"><img src="../img/direction-part-01.png" alt="인공지능 개발"></div>
						<p>인공지능 개발</p>
					</li>
					<li>
						<div class="icon"><img src="../img/direction-part-02.png" alt="신약 개발"></div>
						<p>신약 개발</p>
					</li>
					<li>
						<div class="icon"><img src="../img/direction-part-03.png" alt="네트워크 개발"></div>
						<p>네트워크 개발</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="direction_box direction_clear direction_infra">
			<p class="direction_tit">핵심 인프라</p>
			<div class="direction_cont">
				<ul>
					<li>
						<div class="icon"><img src="../img/direction-infra-01.png" alt="IoT"></div>
						<p>IoT</p>
					</li>
					<li>
						<div class="icon"><img src="../img/direction-infra-02.png" alt="Cloud"></div>
						<p>Cloud</p>
					</li>
					<li>
						<div class="icon"><img src="../img/direction-infra-03.png" alt="Wireless"></div>
						<p>Wireless</p>
					</li>
					<li>
						<div class="icon"><img src="../img/direction-infra-04.png" alt="AI"></div>
						<p>AI</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div><!-- // sub_content -->
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>