<?php
  include '../outline/header.html';
?>
<?php
  include '../outline/head.html';
?>
<script src="../js/main.js"></script>
<style>
#contents {max-width:100%;padding-bottom:170px;position: relative;}
#contents:before{width:100%;height:350px;content:"";background:#f5f5f5;position: absolute;bottom:0;left:0;z-index:-1;}
.sub_visual > span{left:17px;}
.sub_nav > ul{padding-bottom:0;}
</style>
<div class="sub_visual">
	<h3>소개</h3>
	<span>INTRODUCE</span>
</div>
<div class="sub_nav">
	<ul>
		<li class="home"><a href="../main/index.html">HOME</a></li>
		<li class="on">소개</li>
	</ul>
</div>
<div class="sub_content">
	<div class="introduce_tab">
		<ul>
			<li class="on"><a href="../introduce/platform.html">라이프로그 교육 플랫폼</a></li>
			<li><a href="../introduce/direction.html">라이프로그 교육 플랫폼의 방향</a></li>
		</ul>
	</div>
	<div class="sub_platform">
		<h3><strong>라이프로그(lifelog)</strong>는 <br>개인의 일상(Life)에 대한 기록(Log)을 의미합니다.</h3>
		<div class="platform_box">
			<div class="txt_wrap">
				<p>라이프로그 빅데이터는 방대한 일상의 기록들을 수집, 가공처리, 분석하여 <br>의미있는 가치를 발굴하는 것입니다.</p>
				<p>이를 위하여 본 라이프로그 교육 플랫폼은 라이프로그 플랫폼과 연계하여 <br>빅데이터에 대한 정의와 처리, 분석을 위한 객관적이고 직관적인 분석 기법을 배움으로써 <br>데이터를 바라보는 관점과 이해도를 높여 보다 가치있는 의미를 <br>발굴하기 위한 역량을 높이는 것을 목표로 하고 있습니다.</p>
			</div>
			<div class="img_box">
				<img src="../img/platform-img.jpg" alt="플랫폼이미지">
			</div>
		</div>
	</div>
</div><!-- // sub_content -->
</div>
<?php
  include '../outline/foot.html';
?>
<?php
  include '../outline/footer.html';
?>